.menu-icon {
  height: 24px;
  width: 24px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='%23fff' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-menu white-color'%3E%3Cline x1='3' y1='12' x2='21' y2='12'%3E%3C/line%3E%3Cline x1='3' y1='6' x2='21' y2='6'%3E%3C/line%3E%3Cline x1='3' y1='18' x2='21' y2='18'%3E%3C/line%3E%3C/svg%3E");
}

.menu-icon-hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='%23131727' stroke='%23131727' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-menu white-color'%3E%3Cline x1='3' y1='12' x2='21' y2='12'%3E%3C/line%3E%3Cline x1='3' y1='6' x2='21' y2='6'%3E%3C/line%3E%3Cline x1='3' y1='18' x2='21' y2='18'%3E%3C/line%3E%3C/svg%3E");
}

/* BG ICON */
.bg-custom-icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
}

.dashboard-white-icon {
  width: 17px;
  height: 17px;
  background-image: url(../images/icons/custom/house-white.png);
}

.schedule-white-icon {
  width: 17px;
  height: 17px;
  background-image: url(../images/icons/custom/calendar-white.png);
}

.management-white-icon {
  width: 19px;
  height: 19px;
  background-image: url(../images/icons/custom/team-white.png);
}

.digital-menu-white {
  width: 17px;
  height: 17px;
  background-image: url(../images/icons/custom/digital-menu-white.png);
}

.sales-white {
  width: 20px;
  height: 20px;
  background-image: url(../images/icons/custom/sales-white.png);
}

.marketing-white {
  width: 20px;
  height: 20px;
  background-image: url(../images/icons/custom/marketing-white.png);
}

.communication-white {
  width: 20px;
  height: 20px;
  background-image: url(../images/icons/custom/communication-white.png);
}

.reports-white {
  width: 20px;
  height: 20px;
  background-image: url(../images/icons/custom/reports-white.png);
}

.custom-app-white {
  width: 25px;
  height: 25px;
  background-image: url(../images/icons/custom/custom-app-white.png);
}

.settings-white {
  width: 18px;
  height: 18px;
  background-image: url(../images/icons/custom/settings-white.png);
}

.search-icon {
  width: 30px;
  height: 30px;
  background-image: url(../images/icons/custom/search-icon.svg);
}

.document-icon {
  width: 26px;
  height: 35px;
  background-image: url(../images/icons/custom/document-icon.svg);
}

.clock-icon {
  width: 38px;
  height: 35px;
  background-image: url(../images/icons/custom/clock-icon.svg);
}

.chat-icon {
  width: 40px;
  height: 36px;
  background-image: url(../images/icons/custom/chat-icon.svg);
}

.notification-icon {
  width: 32px;
  height: 36px;
  background-image: url(../images/icons/custom/notification-icon.svg);
}

.book-icon {
  width: 30px;
  height: 34px;
  background-image: url(../images/icons/custom/book-icon.svg);
}

.weather-sun-solid-icon {
  width: 55px;
  height: 45px;
  background-image: url(../images/icons/custom/weather-sun.svg);
}

.calendar-black-icon {
  width: 22px;
  height: 22px;
  background-image: url(../images/icons/custom/calendar-black-icon.png);
}

.location-black-icon {
  width: 22px;
  height: 22px;
  background-image: url(../images/icons/custom/location-black-icon.png);
}

.clipart-black-icon {
  width: 25px;
  height: 25px;
  background-image: url(../images/icons/custom/clipart-black-icon.png);
}

.email-color-icon {
  width: 18px;
  height: 18px;
  background-image: url(../images/icons/custom/email-color-icon.svg);
}

.phone-color-icon {
  width: 13px;
  height: 21px;
  background-image: url(../images/icons/custom/phone-color-icon.svg);
}

.company-color-icon {
  width: 25px;
  height: 23px;
  background-image: url(../images/icons/custom/company-color-icon.svg);
}

.ratings-color-icon {
  width: 19px;
  height: 23px;
  background-image: url(../images/icons/custom/ratings-color-icon.svg);
}

.edit-white-icon {
  width: 32px;
  height: 32px;
  background-image: url(../images/icons/custom/edit-icon.svg);
}
