.verticle-app-main-tab-section {
  padding: 0;
  margin: 0;
  position: relative;
}

.verticle-app-main-tab-section .verticle-app-main-tab-inner {
  padding: 0;
  margin: 0 0 20px 0;
  position: relative;
}

.verticle-app-main-tab-section .verticle-tab-div {
  padding: 0;
  margin: 0;
  position: relative;
}

.verticle-app-main-tab-section .verticle-tab-div .verticle-tab-inner {
  padding: 20px 25px;
  width: 100%;
  border-radius: 12px;
  border: none;
  -webkit-box-shadow: 0 0 10px 0 #00000029;
          box-shadow: 0 0 10px 0 #00000029;
}

.verticle-app-main-tab-section .verticle-tab-div .verticle-tabs-top .tabs-title-div h2 {
  font-weight: 700;
  padding: 15px 0 25px 0;
  margin: 0;
  font-size: 22px;
  color: #06151b;
  letter-spacing: 0;
  line-height: 22px;
  border-bottom: 1px solid #d9d8d8;
}

.verticle-app-main-tab-section .verticle-tab-div .verticle-tabs-middle {
  position: relative;
}

.verticle-app-main-tab-section .verticle-tab-div .verticle-tabs-middle .nav.nav-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
  margin: 0 0 25px 0;
}

.verticle-app-main-tab-section .verticle-tab-div .verticle-tabs-middle .nav.nav-tabs .nav-item {
  margin: 0;
  border-bottom: 1px solid #d9d8d8;
}

.verticle-app-main-tab-section .verticle-tab-div .verticle-tabs-middle .nav.nav-tabs .nav-item .nav-link {
  border: none;
  font-weight: 700;
  padding: 19px 0 13px 0;
  margin: 0;
  font-size: 16px;
  color: #06151b;
  letter-spacing: 0;
  line-height: 24px;
  border-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.verticle-app-main-tab-section .verticle-tab-div .verticle-tabs-middle .nav.nav-tabs .nav-item .nav-link.active {
  color: #fecb2f;
}

.verticle-app-main-tab-section .verticle-tab-div .verticle-tabs-middle .nav.nav-tabs .nav-item .nav-link .span-icon i.fe {
  font-size: 24px;
  color: #707070;
}

.verticle-app-main-tab-section .verticle-tab-div .verticle-tabs-bottom {
  position: relative;
}

.verticle-app-main-tab-section .verticle-tab-div .verticle-tabs-bottom .btn-div-tabs {
  margin: 0 0 50px 0;
}

.verticle-app-main-tab-section .verticle-tab-div .verticle-tabs-bottom .btn-div-tabs .btn.btn-primary.btn-big-primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 80px;
  font-size: 20px;
  line-height: 24px;
  padding: 10px 16px 6px 16px;
}

.verticle-app-main-tab-section .verticle-tab-div .verticle-tabs-bottom .img-div-tabs .img-thumb-div {
  display: block;
  text-align: center;
  margin: 0 0 25px 0;
}

.verticle-app-main-tab-section .verticle-tab-div .verticle-tabs-bottom .img-div-tabs .img-fluid {
  width: 200px;
  margin: 0 auto;
}

.verticle-app-main-tab-section .verticle-tab-content-root {
  padding: 0;
  margin: 0;
  position: relative;
  height: 100%;
}

.verticle-app-main-tab-section .verticle-tab-content-root .tab-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.verticle-app-main-tab-section .verticle-tab-content-root .tab-content .tab-pane {
  width: 100%;
}

.verticle-app-main-tab-section .verticle-tab-content-root .tab-inner-container {
  padding: 20px 25px;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  border: none;
  -webkit-box-shadow: 0 0 10px 0 #00000029;
          box-shadow: 0 0 10px 0 #00000029;
}

.verticle-app-main-tab-section .verticle-tab-content-root .bmapp-text-container-div {
  padding: 0;
  margin: 0;
  position: relative;
}

.verticle-app-main-tab-section .verticle-tab-content-root .bmapp-text-container-div .bmapp-text-heading-div {
  padding: 0;
  margin: 0;
  position: relative;
}

.verticle-app-main-tab-section .verticle-tab-content-root .bmapp-text-container-div .bmapp-text-heading-div h2 {
  font-weight: 700;
  padding: 15px 0 25px 0;
  margin: 0;
  font-size: 22px;
  color: #06151b;
  letter-spacing: 0;
  line-height: 22px;
  border-bottom: 1px solid #d9d8d8;
}

.verticle-app-main-tab-section .verticle-tab-content-root .bmapp-text-container-div .bmapp-text-middle-div {
  padding: 25px 0;
}

.verticle-app-main-tab-section .verticle-tab-content-root .bmapp-text-container-div .bmapp-text-middle-div .desc-div {
  padding: 0;
  margin: 0 0 25px 0;
  position: relative;
}

.verticle-app-main-tab-section .verticle-tab-content-root .bmapp-text-container-div .bmapp-text-middle-div .desc-div p {
  font-weight: 400;
  font-size: 18px;
  color: #06151b;
  letter-spacing: 0;
  line-height: 26px;
  margin: 0 0 10px 0;
}

.verticle-app-main-tab-section .verticle-tab-content-root .bmapp-text-container-div .bmapp-text-middle-div .btn.btn-primary.btn-big-primary-60 {
  min-height: 60px;
}

.verticle-app-main-tab-section .verticle-tab-content-root .bmapp-text-container-div .bmapp-text-middle-div .btn-div .btn-div-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 50px 0;
}

.verticle-app-main-tab-section .verticle-tab-content-root .bmapp-text-container-div .bmapp-text-middle-div .btn-div .btn.btn-primary {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  padding: 10px 20px 6px 20px;
}

.verticle-app-main-tab-section .verticle-tab-content-root .bmapp-text-container-div .bmapp-text-middle-div .nexr-text-btn-link-div p {
  font-weight: 400;
  font-size: 18px;
  color: #06151b;
  letter-spacing: 0;
  line-height: 26px;
  margin: 0 0 10px 0;
}

.verticle-app-main-tab-section .verticle-tab-content-root .bmapp-text-container-div .bmapp-text-middle-div .nexr-text-btn-link-div p .link.link-primary {
  color: #fecb2f;
  font-weight: 700;
}

.verticle-app-main-tab-section .verticle-tab-content-root .bmapp-text-container-div .bmapp-icon-list-div .bmapp-icon-list-box .bmapp-icon-list-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.verticle-app-main-tab-section .verticle-tab-content-root .bmapp-text-container-div .bmapp-icon-list-div .bmapp-icon-list-box .bmapp-icon-list-left {
  width: 140px;
}

.verticle-app-main-tab-section .verticle-tab-content-root .bmapp-text-container-div .bmapp-icon-list-div .bmapp-icon-list-box .bmapp-icon-list-left .circle {
  width: 140px;
  height: 125px;
  position: relative;
  display: block;
  border-radius: 10px;
  background: #f4f4f4;
  -webkit-box-shadow: 0 0 10px 0 #00000029;
          box-shadow: 0 0 10px 0 #00000029;
}

.verticle-app-main-tab-section .verticle-tab-content-root .bmapp-text-container-div .bmapp-icon-list-div .bmapp-icon-list-box .bmapp-icon-list-left .circle .profile-pic {
  width: 140px;
  height: 125px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  display: block;
  border: 0 solid #f6f8fb;
  background: #f4f4f4;
}

.verticle-app-main-tab-section .verticle-tab-content-root .bmapp-text-container-div .bmapp-icon-list-div .bmapp-icon-list-box .bmapp-icon-list-left .circle label.filelabel-icon {
  height: 100%;
  width: 100%;
  background: transparent;
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100%;
  font-size: 32px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  border: 0;
}

.verticle-app-main-tab-section .verticle-tab-content-root .bmapp-text-container-div .bmapp-icon-list-div .bmapp-icon-list-box .bmapp-icon-list-left .circle label.filelabel-icon span.span-rounded {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 52px;
  width: 52px;
  background: #06151b;
  border-radius: 100%;
}

.verticle-app-main-tab-section .verticle-tab-content-root .bmapp-text-container-div .bmapp-icon-list-div .bmapp-icon-list-box .bmapp-icon-list-left .circle label.filelabel-icon .material-icons {
  font-size: 21px;
}
/*# sourceMappingURL=build-my-app-style.css.map */