.modal.fixed-right.fade .modal-dialog-vertical {
    transform: translateX(100%);
  }
  
  .modal.fixed-right.show .modal-dialog-vertical {
    transform: translateX(0);
  }
  
  .modal.fixed-right .modal-dialog-vertical {
    margin-left: auto;
    z-index: 999999999;
  }
  
  .modal-dialog-vertical {
    height: 100%;
    max-width: 700px;
    margin: 0;

    .modal-content {
        border: 0 !important;
        border-radius: 0;
    }
  }

  .modal-open {
    .left-side-nav {
      z-index: 99;
    }
  }
  
  .modal.fixed-right {
    padding-right: 0!important;
   
    .modal-header {
      background-color: #EBEAEA;
      font-size: 24px;
      line-height: 34px;

      .text-center {
        width: 100%;
        text-align: center;
      }

      .close {
          box-shadow: none;
          outline: 0 !important;
          
          i  {
            font-size: 30px;
          }
      }
    } 
  
    .modal-body {
      background-color: #fff;
      border: 0;
      height: calc(100vh - 140px);
      overflow-y: auto;
      
      .schedule-content {
        h3 {
          font-size: 24px;
          line-height: 26px;
          color: #000;
          margin: 30px 0;
          font-weight: 600;
        }

        .table {
            border: 0;
            th {
                font-size: 20px;
                line-height: 28px;
                color: #000;
                border: 0;
            }

            td {
                font-size: 20px;
                line-height: 28px;
                color: #000;
                border: 0;
            }
        }
       
      }

     
    }
  
    .modal-footer {
      justify-content: flex-start;
  
      .btn-save {
        background-color: #FECB2F;
        color: #000;
        font-weight: 600;
      }
    }
  }

// modal

.modal-package {
  .modal-header {
    h5 {
      text-align: center;
      width: 100%;
    }

   
  }

  .modal-body {
    padding: 40px 50px;
    background-color: #fff;

    .form-package {
        label {
          font-size: 18px;
          line-height: 24px;
          color: #000;
          font-weight: 600;
          margin-bottom: 15px;
        }

        .form-control {
          height: 60px;
          font-size: 18px;
          line-height: 30px;
          color: #000;
        }

        textarea.form-control {
          height: 180px !important;
          font-size: 20px;
          line-height: 30px;
          color: #000;
        }
        
        .max-width-200 {
          width: 150px;
        }

        .input-group {
          input {
            border-radius: 4px;
            font-weight: 700;
          }

          .input-group-text {
            background-color: #000;
            color: #fff;
            border-radius: 8px;
            width: 50px;
            font-weight: 600;
            font-size: 24px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

        
    }

   

  }
}

.modal-promo {
  .edit-promo-content {

    .form-group {
      margin-bottom: 30px;

      label {
        font-size: 18px;
        line-height: 24px;
        color: #000;
        font-weight: 600;
        margin-bottom: 15px;
      }
  
      .form-control {
        height: 60px;
        font-size: 18px;
        line-height: 30px;
        color: #000;
      }

    }

  

    textarea.form-control {
      height: 180px !important;
      font-size: 20px;
      line-height: 30px;
      color: #000;
    }
  } 
}

.modal-referal {
  .edit-promo-content {

    .form-group {
      margin-bottom: 30px;

      label {
        font-size: 18px;
        line-height: 24px;
        color: #000;
        font-weight: 600;
        margin-bottom: 15px;
      }
  
      .form-control {
        height: 60px;
        font-size: 18px;
        line-height: 30px;
        color: #000;
      }
      
    }

    .input-group {
      position: relative;
      margin-bottom: 50px;

      input {
        border-radius: 4px;
        font-weight: 700;
        padding-left: 70px;
      }

      .input-group-text {
        background-color: #000;
        color: #fff;
        border-radius: 8px;
        width: 60px;
        height: 100%;
        font-weight: 600;
        font-size: 24px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0;
        z-index: 10;
      }
    }

    textarea.form-control {
      height: 180px !important;
      font-size: 20px;
      line-height: 30px;
      color: #000;
    }
  } 
}

@media (max-width: 767px) {
  .modal-package {
    .modal-body {
      padding: 20px 20px;

      .form-package {
        .form-group {
        
          label {
            font-size: 16px;
            margin-bottom: 10px;
          }

          .form-control {
            height: 50px;
            font-size: 16px;
          }

          .pricing-method .form-check label {
            padding: 10px 15px;
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
    }

    .modal-footer {
      padding-left: 20px !important;
    }

  }

  .modal-promo {
    .edit-promo-content {
  
      .form-group {
        margin-bottom: 20px;

        .form-control {
          height: 50px;
        }
  
      }
  
    
  
      textarea.form-control {
        height: 180px !important;
        font-size: 20px;
        line-height: 30px;
        color: #000;
      }
    } 
  }
  
  .modal-referal {
    .edit-promo-content {
  
      .form-group {
        margin-bottom: 20px;
  
        label {
          font-size: 18px;
          line-height: 24px;
          color: #000;
          font-weight: 600;
          margin-bottom: 15px;
        }
    
        .form-control {
          height: 50px;
          font-size: 18px;
          line-height: 30px;
          color: #000;
        }
        
      }
  
  
      .input-group {
        position: relative;
        margin-bottom: 30px;
        
        input {
          border-radius: 4px;
          font-weight: 700;
          height: 50px;
          padding-left: 70px;
        }
  
    
      }
  
    
  
      textarea.form-control {
        height: 120px !important;
        font-size: 20px;
        line-height: 30px;
        color: #000;
      }
    } 
  }
}

