.btn-tools {
  background-color: #fff;
  color: #707070;
  padding: 5px 8px;
  line-height: 20px;
  font-size: 18px;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    color: #000;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.16);
  }

  &:focus {
    color: #000;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.16) !important;
  }
}

.breadcrumb-section {
  margin-bottom: 50px;

    .breadcrumb {
        background-color: #fff;
        color: #06151b;
        font-weight: #06151b;
        box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.16);
        border-radius: 16px;

        li {
            font-size: 18px;
            line-height: 26px;
            color: #000;
            font-weight: 600;

            a {
                color: #000;
            }
        }
    }
}

.setting-tools-section {
  margin-bottom: 44px;

  .setting-tools-group {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .btn-group-setting {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-wrap: wrap;

      .btn {
        margin-bottom: 8px;
      }
    }
    
  }
}

.calendar-section {

  .filter-result {
    position: relative;

    .dropdown {
      width: 100%;
    }

    .btn-result {
      background-color: #fff;
      color: #707070;
      text-align: left;
      width: 100% !important;
      display: block;
      padding: 8px 10px;
      box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.16);
      margin-bottom: 20px;
      border-radius: 10px;
      font-size: 18px;
      line-height: 26px;

      &::after {
        content: "\e92e";
        position: absolute;
        right: 30px;
        top: 15px;
        border: 0;
        font-family: Feather!important;
        speak: none;
        font-style: normal;
        font-weight: 400;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
      }
    }

    .dropdown-menu {
      width: 100%;
    }

    .dropdown-mune-result {
      background-color: #fff;
      padding: 10px 20px;
      box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.16);
      border: 0;
      border-radius: 10px;

      h3 {
        color: #06151B;
        font-size: 24px;
        line-height: 34px;
        font-weight: 600;
        margin-bottom: 15px;
      }

      p {
        font-size: 20px;
        line-height: 24px;
        padding: 5px;
        color: #707070;
      }

      .tags {
        margin: 0; 
        padding: 0; 
        list-style: none;
        

        li {
          margin-bottom: 10px;
          display: block;
          a {
            line-height: 15px;
            display: inline-block;
            font-size: 20px;
            line-height: 24px;
            padding: 5px;
            background-color: #4088F6;
            color: #fff;
            margin-bottom: 10px;
            border-radius: 6px;
          }

          .green {
            background-color: #12EB00;
          }
          .yellow {
            background-color: #FF9605;
          }
          
          .red {
            background-color: #E51616;
          }
         
        }
      }

      .list {
        margin: 0; 
        padding: 0; 
        list-style: none;

        li {
          margin-bottom: 5px;
          display: block;
          a {
            line-height: 15px;
            display: inline-block;
            padding: 5px;
            font-size: 20px;
            line-height: 24px;
            color: #707070;
            margin-bottom: 5px;
            border-radius: 6px;
          }
         
        }
      }
    }
    
  }

  .fc .fc-button-primary {
    text-transform: capitalize;
    color: #fff;
    color: var(--fc-button-text-color,#fff);
    background-color: #2C3E50;
    background-color: var(--fc-button-bg-color,#556EE6);
    border-color: #556EE6;
    border-color: var(--fc-button-border-color,#556EE6);
    box-shadow: none !important;
}
  .fc .fc-button-primary:not(:disabled).fc-button-active, .fc .fc-button-primary:not(:disabled):active {
    color: #fff;
    color: var(--fc-button-text-color,#fff);
    background-color: #2948E0;
    background-color: var(--fc-button-active-bg-color,#2948E0);
    border-color: #2948E0;
    border-color: var(--fc-button-active-border-color,#2948E0);
}

.fc-toolbar-title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  color: #495057;
}

.fc-col-header-cell {
  padding: 10px 20px;
  color: #495057;
}
  .card {
    border-radius: 10px;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.16) !important;
  }
}



.modal.fixed-right.fade .modal-dialog-vertical {
  transform: translateX(100%);
}

.modal.fixed-right.show .modal-dialog-vertical {
  transform: translateX(0);
}

.modal.fixed-right {
  padding-right: 0!important;

  .modal-header {
    background-color: #EBEAEA;
    font-size: 24px;
    line-height: 34px;
  } 

  .modal-body {
    background-color: #fff;
    border: 0;

    .schedule-content {
      h3 {
        font-size: 24px;
        line-height: 26px;
        color: #000;
        margin: 30px 0;
        font-weight: 600;
      }
    }
  }

  .modal-footer {
    justify-content: flex-start;

    .btn-save {
      background-color: #FECB2F;
      color: #000;
      font-weight: 600;
    }
  }
}

.modal.fixed-right .modal-dialog-vertical {
  margin-left: auto;
}

.modal-dialog-vertical {
  height: 100%;
  max-width: 700px;
  margin: 0;
}

