.modal.fixed-right.fade .modal-dialog-vertical {
  transform: translateX(100%);
}

.modal.fixed-right.show .modal-dialog-vertical {
  transform: translateX(0);
}

.modal.fixed-right .modal-dialog-vertical {
  margin-left: auto;
  z-index: 999999999;
}

.modal-dialog-vertical {
  height: 100%;
  max-width: 700px;
  margin: 0;

  .modal-content {
    border: 0 !important;
    border-radius: 0;
  }
}

.modal-open {
  .left-side-nav {
    z-index: 99;
  }
}

.modal.fixed-right {
  padding-right: 0 !important;

  .modal-header {
    background-color: #ebeaea;
    font-size: 24px;
    line-height: 34px;

    .text-center {
      width: 100%;
      text-align: center;
    }

    .close {
      box-shadow: none;
      outline: 0 !important;

      i {
        font-size: 30px;
      }
    }
  }

  .modal-body {
    background-color: #fff;
    border: 0;
    height: calc(100vh - 140px);
    overflow-y: auto;

    .schedule-content {
      h3 {
        font-size: 24px;
        line-height: 26px;
        color: #000;
        margin: 30px 0;
        font-weight: 600;
      }

      .table {
        border: 0;
        th {
          font-size: 20px;
          line-height: 28px;
          color: #000;
          border: 0;
        }

        td {
          font-size: 20px;
          line-height: 28px;
          color: #000;
          border: 0;
        }
      }
    }
  }

  .modal-footer {
    justify-content: flex-start;

    .btn-save {
      background-color: #fecb2f;
      color: #000;
      font-weight: 600;
    }

    .btn-cancel {
      background-color: #707070;
      color: #fff;
      font-weight: 600;
    }

    .btn-save-email {
      background-color: #fff;
      color: #06151b;
      border: 1px solid #06151b;
      font-weight: 600;
    }

    .btn-save-black {
      background-color: #06151b;
      color: #fff;
      border: 1px solid #06151b;
      font-weight: 600;
    }
  }
}

// modal

.modal-package {
  .modal-header {
    h5 {
      text-align: center;
      width: 100%;
    }
  }

  .modal-body {
    padding: 40px 50px;
    background-color: #fff;

    .form-package {
      label {
        font-size: 18px;
        line-height: 24px;
        color: #000;
        font-weight: 600;
        margin-bottom: 15px;
      }

      .form-control {
        height: 60px;
        font-size: 18px;
        line-height: 30px;
        color: #000;
      }

      textarea.form-control {
        height: 180px !important;
        font-size: 20px;
        line-height: 30px;
        color: #000;
      }

      .max-width-200 {
        width: 150px;
      }

      .input-group {
        input {
          border-radius: 4px;
          font-weight: 700;
        }

        .input-group-text {
          background-color: #000;
          color: #fff;
          border-radius: 8px;
          width: 50px;
          font-weight: 600;
          font-size: 24px;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}

.modal-promo {
  .edit-promo-content {
    .form-group {
      margin-bottom: 30px;

      label {
        font-size: 18px;
        line-height: 24px;
        color: #000;
        font-weight: 600;
        margin-bottom: 15px;
      }

      .form-control {
        height: 60px;
        font-size: 18px;
        line-height: 30px;
        color: #000;
      }
    }

    textarea.form-control {
      height: 180px !important;
      font-size: 20px;
      line-height: 30px;
      color: #000;
    }
  }
}

.modal-referal {
  .edit-promo-content {
    .form-group {
      margin-bottom: 30px;

      label {
        font-size: 18px;
        line-height: 24px;
        color: #000;
        font-weight: 600;
        margin-bottom: 15px;
      }

      .form-control {
        height: 60px;
        font-size: 18px;
        line-height: 30px;
        color: #000;
      }
    }

    .input-group {
      position: relative;
      margin-bottom: 50px;

      input {
        border-radius: 4px;
        font-weight: 700;
        padding-left: 70px;
      }

      .input-group-text {
        background-color: #000;
        color: #fff;
        border-radius: 8px;
        width: 60px;
        height: 100%;
        font-weight: 600;
        font-size: 24px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0;
        z-index: 10;
      }
    }

    textarea.form-control {
      height: 180px !important;
      font-size: 20px;
      line-height: 30px;
      color: #000;
    }
  }
}

.modal-send-push {
  .notification-content {
    .form-group {
      margin-bottom: 30px;

      label {
        font-size: 18px;
        line-height: 24px;
        color: #000;
        font-weight: 600;
        margin-bottom: 15px;
      }

      .form-control {
        height: 60px;
        font-size: 18px;
        line-height: 30px;
        color: #000;
      }

      p {
        font-size: 18px;
        color: #000;
        line-height: 24px;
      }
    }

    .input-group {
      position: relative;
      margin-bottom: 50px;

      input {
        border-radius: 4px;
        font-weight: 700;
        padding-left: 70px;
      }

      .input-group-text {
        background-color: #000;
        color: #fff;
        border-radius: 8px;
        width: 60px;
        height: 100%;
        font-weight: 600;
        font-size: 24px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0;
        z-index: 10;
      }
    }

    textarea.form-control {
      height: 180px !important;
      font-size: 20px;
      line-height: 30px;
      color: #000;
    }

    .input-group-2 {
      display: flex;
      flex-direction: column;

      label {
        display: block;
        font-size: 18px;
        line-height: 24px;
        color: #000;
        font-weight: 600;
        margin-bottom: 15px;
      }
    }

    .claneder-icon-main {
      position: relative;

      .form-control {
        background-color: #fff;
        padding-right: 60px;
      }

      .calender-icon {
        position: absolute;
        right: 0;
        top: 50px;
        height: auto;
        width: 60px;

        img {
          width: 32px;
          height: 32px;
          object-fit: contain;
        }
      }
    }

    .select-group {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .select-parent {
        margin-right: 10px;
      }

      .select2-container--default .select2-selection--single {
        height: 60px;
        font-size: 18px;
      }

      .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 60px;
        font-size: 18px;
      }
      .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 60px;
        width: 35px;

        &::before {
          display: none;
          border-left: 1px solid #707070;
          content: "";
          top: 8px;
          left: -3px;
          height: 45px;
          position: absolute;
        }
      }
    }

    .client-detail {
      width: 100%;
      display: block;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        width: 100%;
        display: block;

        li {
          margin: 0;
          padding: 0;
          list-style: none;
          font-size: 18px;
          line-height: 40px;
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;

          span {
            width: 100%;
            max-width: 50%;
            color: #000;
            font-weight: 600;
            display: block;
          }
        }
      }
    }

    .line-1 {
      margin: 20px 0;
      border-top: 1px solid rgba(112, 112, 112, 0.5) !important;
      width: 100%;
    }

    .checkbox-group {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .check-list-row {
        margin-right: 20px;
        width: 100%;
      }
    }

    .search-by {
      max-width: 250px;
      width: 100%;
    }
  }
}

.collect-patyment-form {
  padding: 40px 30px;

  .form-half {
    display: flex;
    align-items: center;
    justify-content: center;

    label {
      width: 30%;
    }

    .input-div {
      width: 70%;
    }
  }

  .form-group {
    margin-bottom: 30px;

    label {
      font-size: 18px;
      line-height: 24px;
      color: #000;
      font-weight: 600;
      margin-bottom: 15px;
    }

    .form-control {
      height: 60px;
      font-size: 18px;
      line-height: 30px;
      color: #000;
    }

    .input-group {
      position: relative;
      margin-bottom: 50px;

      input {
        border-radius: 4px;
        font-weight: 700;
        padding-left: 70px;
      }

      .input-group-text {
        background-color: #000;
        color: #fff;
        border-radius: 8px;
        width: 60px;
        height: 100%;
        font-weight: 600;
        font-size: 24px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0;
        z-index: 10;
      }
    }

    textarea.form-control {
      height: 180px !important;
      font-size: 20px;
      line-height: 30px;
      color: #000;
      width: 100%;
    }
  }

  .select2-container {
    width: 100% !important;
  }

  .select2-container--default .select2-selection--single {
    height: 60px;
  }

  .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 55px;
    font-size: 18px;
    font-weight: 600;
    color: #000;
  }

  .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 60px;
  }

  .claneder-icon-main {
    position: relative;

    .form-control {
      background-color: #fff;
      padding-right: 60px;
    }

    .calender-icon {
      position: absolute;
      right: 0;
      top: 10px;
      height: auto;
      width: 60px;

      img {
        width: 32px;
        height: 32px;
        object-fit: contain;
      }
    }
  }

  .client-detail {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    ul {
      display: block;
      width: 100%;

      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        font-size: 18px;
        line-height: 40px;
        font-weight: 500;
        border-bottom: 1px solid #000;
        &:last-child {
          border: 0;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .modal-package {
    .modal-body {
      padding: 20px 20px;

      .form-package {
        .form-group {
          label {
            font-size: 16px;
            margin-bottom: 10px;
          }

          .form-control {
            height: 50px;
            font-size: 16px;
          }

          .pricing-method .form-check label {
            padding: 10px 15px;
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
    }

    .modal-footer {
      padding-left: 20px !important;
    }
  }

  .modal-promo {
    .edit-promo-content {
      .form-group {
        margin-bottom: 20px;

        .form-control {
          height: 50px;
        }
      }

      textarea.form-control {
        height: 180px !important;
        font-size: 20px;
        line-height: 30px;
        color: #000;
      }
    }
  }

  .modal-referal {
    .edit-promo-content {
      .form-group {
        margin-bottom: 20px;

        label {
          font-size: 18px;
          line-height: 24px;
          color: #000;
          font-weight: 600;
          margin-bottom: 15px;
        }

        .form-control {
          height: 50px;
          font-size: 18px;
          line-height: 30px;
          color: #000;
        }
      }

      .input-group {
        position: relative;
        margin-bottom: 30px;

        input {
          border-radius: 4px;
          font-weight: 700;
          height: 50px;
          padding-left: 70px;
        }
      }

      textarea.form-control {
        height: 120px !important;
        font-size: 20px;
        line-height: 30px;
        color: #000;
      }
    }
  }
}
