.modal.fixed-right.fade .modal-dialog-vertical {
    transform: translateX(100%);
  }
  
  .modal.fixed-right.show .modal-dialog-vertical {
    transform: translateX(0);
  }
  

  
  .modal.fixed-right .modal-dialog-vertical {
    margin-left: auto;
  }
  
  .modal-dialog-vertical {
    height: 100%;
    max-width: 700px;
    margin: 0;

    .modal-content {
        border: 0 !important;
        border-radius: 0;
    }
  }
  

  .modal.fixed-right {
    padding-right: 0!important;
   
    .modal-header {
      background-color: #EBEAEA;
      font-size: 24px;
      line-height: 34px;

      .close {
          box-shadow: none;
      }
    } 
  
    .modal-body {
      background-color: #fff;
      border: 0;
      height: calc(100vh - 140px);
      overflow-y: auto;
      
      .schedule-content {
        h3 {
          font-size: 24px;
          line-height: 26px;
          color: #000;
          margin: 30px 0;
          font-weight: 600;
        }

        .table {
            border: 0;
            th {
                font-size: 20px;
                line-height: 28px;
                color: #000;
                border: 0;
            }

            td {
                font-size: 20px;
                line-height: 28px;
                color: #000;
                border: 0;
            }
        }

       
      }
    }
  
    .modal-footer {
      justify-content: flex-start;
  
      .btn-save {
        background-color: #FECB2F;
        color: #000;
        font-weight: 600;
      }
    }
  }

