.modal.fixed-right.fade .modal-dialog-vertical {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.modal.fixed-right.show .modal-dialog-vertical {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.modal.fixed-right .modal-dialog-vertical {
  margin-left: auto;
  z-index: 999999999;
}

.modal-dialog-vertical {
  height: 100%;
  max-width: 700px;
  margin: 0;
}

.modal-dialog-vertical .modal-content {
  border: 0 !important;
  border-radius: 0;
}

.modal-open .left-side-nav {
  z-index: 99;
}

.modal.fixed-right {
  padding-right: 0 !important;
}

.modal.fixed-right .modal-header {
  background-color: #EBEAEA;
  font-size: 24px;
  line-height: 34px;
}

.modal.fixed-right .modal-header .text-center {
  width: 100%;
  text-align: center;
}

.modal.fixed-right .modal-header .close {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0 !important;
}

.modal.fixed-right .modal-header .close i {
  font-size: 30px;
}

.modal.fixed-right .modal-body {
  background-color: #fff;
  border: 0;
  height: calc(100vh - 140px);
  overflow-y: auto;
}

.modal.fixed-right .modal-body .schedule-content h3 {
  font-size: 24px;
  line-height: 26px;
  color: #000;
  margin: 30px 0;
  font-weight: 600;
}

.modal.fixed-right .modal-body .schedule-content .table {
  border: 0;
}

.modal.fixed-right .modal-body .schedule-content .table th {
  font-size: 20px;
  line-height: 28px;
  color: #000;
  border: 0;
}

.modal.fixed-right .modal-body .schedule-content .table td {
  font-size: 20px;
  line-height: 28px;
  color: #000;
  border: 0;
}

.modal.fixed-right .modal-footer {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.modal.fixed-right .modal-footer .btn-save {
  background-color: #FECB2F;
  color: #000;
  font-weight: 600;
}

.modal-package .modal-header h5 {
  text-align: center;
  width: 100%;
}

.modal-package .modal-body {
  padding: 40px 50px;
  background-color: #fff;
}

.modal-package .modal-body .form-package label {
  font-size: 18px;
  line-height: 24px;
  color: #000;
  font-weight: 600;
  margin-bottom: 15px;
}

.modal-package .modal-body .form-package .form-control {
  height: 60px;
  font-size: 18px;
  line-height: 30px;
  color: #000;
}

.modal-package .modal-body .form-package textarea.form-control {
  height: 180px !important;
  font-size: 20px;
  line-height: 30px;
  color: #000;
}

.modal-package .modal-body .form-package .max-width-200 {
  width: 150px;
}

.modal-package .modal-body .form-package .input-group input {
  border-radius: 4px;
  font-weight: 700;
}

.modal-package .modal-body .form-package .input-group .input-group-text {
  background-color: #000;
  color: #fff;
  border-radius: 8px;
  width: 50px;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-promo .edit-promo-content .form-group {
  margin-bottom: 30px;
}

.modal-promo .edit-promo-content .form-group label {
  font-size: 18px;
  line-height: 24px;
  color: #000;
  font-weight: 600;
  margin-bottom: 15px;
}

.modal-promo .edit-promo-content .form-group .form-control {
  height: 60px;
  font-size: 18px;
  line-height: 30px;
  color: #000;
}

.modal-promo .edit-promo-content textarea.form-control {
  height: 180px !important;
  font-size: 20px;
  line-height: 30px;
  color: #000;
}

.modal-referal .edit-promo-content .form-group {
  margin-bottom: 30px;
}

.modal-referal .edit-promo-content .form-group label {
  font-size: 18px;
  line-height: 24px;
  color: #000;
  font-weight: 600;
  margin-bottom: 15px;
}

.modal-referal .edit-promo-content .form-group .form-control {
  height: 60px;
  font-size: 18px;
  line-height: 30px;
  color: #000;
}

.modal-referal .edit-promo-content .input-group {
  position: relative;
  margin-bottom: 50px;
}

.modal-referal .edit-promo-content .input-group input {
  border-radius: 4px;
  font-weight: 700;
  padding-left: 70px;
}

.modal-referal .edit-promo-content .input-group .input-group-text {
  background-color: #000;
  color: #fff;
  border-radius: 8px;
  width: 60px;
  height: 100%;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  z-index: 10;
}

.modal-referal .edit-promo-content textarea.form-control {
  height: 180px !important;
  font-size: 20px;
  line-height: 30px;
  color: #000;
}

@media (max-width: 767px) {
  .modal-package .modal-body {
    padding: 20px 20px;
  }
  .modal-package .modal-body .form-package .form-group label {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .modal-package .modal-body .form-package .form-group .form-control {
    height: 50px;
    font-size: 16px;
  }
  .modal-package .modal-body .form-package .form-group .pricing-method .form-check label {
    padding: 10px 15px;
    font-size: 16px;
    line-height: 24px;
  }
  .modal-package .modal-footer {
    padding-left: 20px !important;
  }
  .modal-promo .edit-promo-content .form-group {
    margin-bottom: 20px;
  }
  .modal-promo .edit-promo-content .form-group .form-control {
    height: 50px;
  }
  .modal-promo .edit-promo-content textarea.form-control {
    height: 180px !important;
    font-size: 20px;
    line-height: 30px;
    color: #000;
  }
  .modal-referal .edit-promo-content .form-group {
    margin-bottom: 20px;
  }
  .modal-referal .edit-promo-content .form-group label {
    font-size: 18px;
    line-height: 24px;
    color: #000;
    font-weight: 600;
    margin-bottom: 15px;
  }
  .modal-referal .edit-promo-content .form-group .form-control {
    height: 50px;
    font-size: 18px;
    line-height: 30px;
    color: #000;
  }
  .modal-referal .edit-promo-content .input-group {
    position: relative;
    margin-bottom: 30px;
  }
  .modal-referal .edit-promo-content .input-group input {
    border-radius: 4px;
    font-weight: 700;
    height: 50px;
    padding-left: 70px;
  }
  .modal-referal .edit-promo-content textarea.form-control {
    height: 120px !important;
    font-size: 20px;
    line-height: 30px;
    color: #000;
  }
}
/*# sourceMappingURL=custom-modal.css.map */