.btn-tools {
  background-color: #fff;
  color: #707070;
  padding: 5px 8px;
  line-height: 20px;
  font-size: 18px;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    color: #000;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.16);
  }

  &:focus {
    color: #000;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.16) !important;
  }
}

.breadcrumb-section {
  margin-bottom: 50px;

    .breadcrumb {
        background-color: #fff;
        color: #06151b;
        font-weight: #06151b;
        box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.16);
        border-radius: 16px;

        li {
            font-size: 18px;
            line-height: 26px;
            color: #000;
            font-weight: 600;

            a {
                color: #000;
            }
        }
    }
}

.setting-tools-section {
  margin-bottom: 44px;

  .setting-tools-group {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .btn-group-setting {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-wrap: wrap;

      .btn {
        margin-bottom: 8px;
      }
    }
    
  }
}

.search-bar {
  .btn {
    border-radius: 0 4px 4px 0 !important;
  }
}

.tabs-link {
 
  margin-bottom: 10px;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #D9D8D8;
    border-radius: 10px;

    li {
      display: inline-block;
      width: auto;
      

      a {
        background-color: transparent;
        color: #06151B;
        padding: 10px 20px;
        width: 100%;
        min-width: 250px;
        max-width: 250px;
        text-align: center;
        display: block;
        height: 50px;
        font-size: 18px;
        line-height: 28px;
        font-weight: 600;
        border-radius: 10px;
        white-space: nowrap;

        &.active {
        background-color: #06151B;
        color: #fff;
        }
      }
    }
  }
} 

// page calendar

.calendar-section {

  .filter-result {
    position: relative;

    .dropdown {
      width: 100%;
    }

    .btn-result {
      background-color: #fff;
      color: #707070;
      text-align: left;
      width: 100% !important;
      display: block;
      padding: 8px 10px;
      box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.16);
      margin-bottom: 20px;
      border-radius: 10px;
      font-size: 18px;
      line-height: 26px;

      &::after {
        content: "\e92e";
        position: absolute;
        right: 30px;
        top: 15px;
        border: 0;
        font-family: Feather!important;
        speak: none;
        font-style: normal;
        font-weight: 400;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
      }
    }

    .dropdown-menu {
      width: 100%;
    }

    .dropdown-mune-result {
      background-color: #fff;
      padding: 10px 20px;
      box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.16);
      border: 0;
      border-radius: 10px;

      h3 {
        color: #06151B;
        font-size: 24px;
        line-height: 34px;
        font-weight: 600;
        margin-bottom: 15px;
      }

      p {
        font-size: 20px;
        line-height: 24px;
        padding: 5px;
        color: #707070;
      }

      .tags {
        margin: 0; 
        padding: 0; 
        list-style: none;
        

        li {
          margin-bottom: 10px;
          display: block;
          a {
            line-height: 15px;
            display: inline-block;
            font-size: 20px;
            line-height: 24px;
            padding: 5px;
            background-color: #4088F6;
            color: #fff;
            margin-bottom: 10px;
            border-radius: 6px;
          }

          .green {
            background-color: #12EB00;
          }
          .yellow {
            background-color: #FF9605;
          }
          
          .red {
            background-color: #E51616;
          }
         
        }
      }

      .list {
        margin: 0; 
        padding: 0; 
        list-style: none;

        li {
          margin-bottom: 5px;
          display: block;
          a {
            line-height: 15px;
            display: inline-block;
            padding: 5px;
            font-size: 20px;
            line-height: 24px;
            color: #707070;
            margin-bottom: 5px;
            border-radius: 6px;
          }
         
        }
      }
    }
    
  }

  .fc .fc-button-primary {
    text-transform: capitalize;
    color: #fff;
    color: var(--fc-button-text-color,#fff);
    background-color: #2C3E50;
    background-color: var(--fc-button-bg-color,#556EE6);
    border-color: #556EE6;
    border-color: var(--fc-button-border-color,#556EE6);
    box-shadow: none !important;
}
  .fc .fc-button-primary:not(:disabled).fc-button-active, .fc .fc-button-primary:not(:disabled):active {
    color: #fff;
    color: var(--fc-button-text-color,#fff);
    background-color: #2948E0;
    background-color: var(--fc-button-active-bg-color,#2948E0);
    border-color: #2948E0;
    border-color: var(--fc-button-active-border-color,#2948E0);
}

.fc-toolbar-title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  color: #495057;
}

.fc-col-header-cell {
  padding: 10px 20px;
  color: #495057;
}
  .card {
    border-radius: 10px;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.16) !important;
  }
}

// page management

.mgmt-card-section {
  .card {
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.10);
    background-color: #fff;
    border: 0;
    margin-bottom: 30px;

    .card-header {
      border: 0;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 20px;

      h3 {
        font-size: 18px;
        line-height: 28px;
        color: #2e2e2e;
        font-weight: 600;
      }

      a.text-link {
        color: #707070;
        font-size: 24px;
      }
    }

    .card-body {
      border: 0;

      .card-box {
        padding: 15px 15px 15px 15px;
        background-color: #fff;
        border: solid 1px rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        margin-bottom: 25px;

        &:last-child {
          margin-bottom: 0;
        }

        .card-top {
          margin-bottom: 15px;
          h3 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 16px;
            line-height: 24px;
            color: #000;
            font-weight: 600;

            span.tag {
              display: block;
              padding: 3px 8px;
              font-size: 14px;
              line-height: 13px;
              border-radius: 8px !important;
              background-color: #E6E7EA;
              color: #707070;
            }

            span.tag-red {
              background-color: rgba(229, 22, 22, 0.25);
              color: #E51616;
            }
            span.tag-blue {
              background-color: rgba(85, 110, 230, 0.25);
              color: #556EE6;
            }
            span.tag-green {
              background-color: rgba(105, 210, 171,0.25);
              color: #69D2AB;
            }
            span.tag-yellow {
              background-color: rgba(245, 208, 142,0.25);
              color: #f5cd87;
            }

            
          }

          p {
            font-size: 14px;
            line-height: 26px;
            color: #707070;
          }
        }

        .card-bottom {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .card-pic {
            img {
              width: 30px;
              height: 30px;
              border-radius: 100px;
              margin-right: 5px;
              margin-bottom: 5px;
            }
          }
          .card-budget {
            text-align: right;
            h3 {
              font-size: 16px;
              line-height: 24px;
              color: #707070;
              font-weight: 600;
            }
  
            p {
              font-size: 14px;
              line-height: 26px;
              color: #707070;
            }
          }
        }
      }
    }

    .card-footer {
      border: 0;
      background-color: #fff;
    }
  }
}

// client tabs

.client-tabs {
  ul {
    border: 0;
    li {
      border: 0;
      a {
        border: 0 !important;
        padding: 20px 60px;
        font-size: 20px;
        line-height: 24px;
        color: #707070;
        font-weight: 700;


        &.active {
        color: #000 !important;
        font-weight: 700;
        background-color: #fff;
        box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.10);
        border-radius: 10px 10px 0 0;
        }
      }
    }
  }

  .tab-content {
    background-color: #fff;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.10);
    border-radius: 10px;
    padding: 10px 10px;
  }
}

// tables

.table-mgmt {
  padding: 20px 0;
  table {

    thead {
      th {
        font-size: 18px;
        line-height: 22px;
        color: #000;
        border: 0;
        vertical-align: middle;
        white-space: nowrap;
      }
    }

    tbody {

      td, th {
        font-size: 14px;
        line-height: 21px;
        font-weight: 700;
        color: #000;
        border: 0;
        vertical-align: middle;
        white-space: nowrap;
      }
    }
    
   

    .tbl-prfoile {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .profile-img {
        height: 40px;
        width: 40px;
        border-radius: 100px;
        overflow: hidden;
        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
      }

      .profile-content {
        padding-left: 10px;
        h3 {
            font-size: 14px;
            line-height: 21px;
            font-weight: 700;
            color: #000;
        }
      }
    }

    .tbl-address {
      p {
        color: #000;
      }
      span {
        color: #707070; 
      }
    }

    .btn-dropdown {
      padding: 5px 40px 5px 20px;
      background-color: #fff;
      color: #707070;
      font-weight: 600;
      line-height: 20px;
      font-size: 14 px;
      border: 1px solid #707070;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      &::after {
        content: "\e92e";
        position: absolute;
        right: 30px;
        top: 8px;
        border: 0;
        font-family: Feather!important;
        speak: none;
        font-style: normal;
        font-weight: 400;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
      }
    }
  }
}

// tables end

.client-upload-section {
  
  .upload-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 500px;
    width: 100%;
  }

  .fileupload.custom-file {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: auto;

      .custom-file-input {
       display: none;
      }
  
      label {
        position: unset;
        background-color: #000;
        color: #fff;
        width: 360px;
        height: 130px;
        border-radius: 20px;
        font-size: 30px;
        line-height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        text-transform: uppercase;
        font-weight: 800;

        &::after {
          display: none;
        }
      }

      span {
        padding: 20px 0;  
        display: block;
        font-size: 24px;
        line-height: 24px;
        color: #000;
      }
    }
  
}

.service-upload {
  background-color: #FFFFFF;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
}


@media (max-width: 767px) {

  // client tabs

  .setting-tools-section {
    .setting-tools-group {
      flex-direction: column-reverse;
    }
  }

  .tabs-link {
    width: 100%;
    padding-top: 10px;
    ul {
      width: 100%;

      li {
        a {
          width: 100%;
          min-width: unset;
          max-width: unset;
        }
      }
    }
  }

  .client-tabs {
    padding-top: 20px;
    ul {
      border: 0;
      display: flex;
      flex-wrap: nowrap;
      overflow-y: auto;

      li {
        border: 0;
        width: 100%;
        a {
          font-size: 14px;
          line-height: 24px;
          padding: 12px 15px;
          white-space: nowrap;
          text-align: center;
        }
      }
    }
  }

  .calendar-section {
    
    .fc-header-toolbar {
      display: flex;
      flex-direction: column;

      .fc-toolbar-chunk {
        margin-bottom: 10px;
      }
    }
  }

  // client tabs end
}


@media (min-width: 767px) and (max-width: 1024px) {

  .tabs-link {
    padding-top: 10px;
    ul {
      li {
        a {
          width: 100%;
          min-width: unset;
          max-width: unset;
        }
      }
    }
  }

  .client-tabs {
    padding-top: 20px;
    ul {
      border: 0;
      display: flex;
      flex-wrap: nowrap;
      overflow-y: auto;

      li {
        border: 0;
        width: 100%;
        a {
          font-size: 14px;
          line-height: 24px;
          padding: 12px 15px;
          white-space: nowrap;
          text-align: center;
        }
      }
    }
  }

}