.btn-tools {
  background-color: #fff;
  color: #707070;
  padding: 5px 8px;
  line-height: 20px;
  font-size: 18px;
  -webkit-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-tools:hover {
  color: #000;
  -webkit-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.16);
}

.btn-tools:focus {
  color: #000;
  -webkit-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.16) !important;
          box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.16) !important;
}

.breadcrumb-section {
  margin-bottom: 50px;
}

.breadcrumb-section .breadcrumb {
  background-color: #fff;
  color: #06151b;
  font-weight: #06151b;
  -webkit-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.16);
  border-radius: 16px;
}

.breadcrumb-section .breadcrumb li {
  font-size: 18px;
  line-height: 26px;
  color: #000;
  font-weight: 600;
}

.breadcrumb-section .breadcrumb li a {
  color: #000;
}

.setting-tools-section {
  margin-bottom: 44px;
}

.setting-tools-section .setting-tools-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.setting-tools-section .setting-tools-group .btn-group-setting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.setting-tools-section .setting-tools-group .btn-group-setting .btn {
  margin-bottom: 8px;
}

.setting-bottom .setting-tools-group {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.setting-bottom .setting-tools-group .tabs-link {
  margin-bottom: 0;
}

.setting-bottom .setting-tools-group .btn-group-setting {
  margin-bottom: 10px;
}

.add-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.add-service .btn {
  background-color: #D9D8D8 !important;
  border-radius: 10px;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 30px;
  color: #06151B !important;
  -webkit-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.1);
  font-weight: 600;
  padding: 10px 40px;
}

.add-service .dropdown-menu {
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  border: 0;
}

.add-service .dropdown-menu a {
  font-size: 20px;
  line-height: 40px;
  font-weight: 600;
  color: #000;
}

.add-service .dropdown-menu a .circle {
  display: inline-block;
  margin-right: 10px;
  height: 15px;
  width: 15px;
  border-radius: 100px;
  background-color: #E51616;
  border: 1px solid #707070;
}

.add-service .dropdown-menu a .green {
  background-color: #12EB00;
}

.search-bar .btn {
  border-radius: 0 4px 4px 0 !important;
}

.tabs-link {
  margin-bottom: 10px;
}

.tabs-link ul {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #D9D8D8;
  border-radius: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.tabs-link ul li {
  display: inline-block;
  width: auto;
}

.tabs-link ul li a {
  background-color: transparent;
  color: #06151B;
  padding: 10px 20px;
  width: 100%;
  min-width: 250px;
  max-width: 250px;
  text-align: center;
  display: block;
  height: 50px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  border-radius: 10px;
  white-space: nowrap;
}

.tabs-link ul li a.active {
  background-color: #06151B;
  color: #fff;
}

.service-detail-section .row-m-0 {
  margin: 0;
}

.service-detail-section .row-m-0 .col-p-0 {
  padding: 0;
}

.service-detail-section .service-card-left {
  height: 100%;
  background-color: #06151B;
}

.service-detail-section .service-card-left .card-header {
  padding: 15px 20px;
  border: 0 !important;
}

.service-detail-section .service-card-left .card-header h3 {
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  font-weight: 600;
}

.service-detail-section .service-card-left .card-body {
  padding: 50px 0 20px 0;
}

.service-detail-section .service-card-left .card-body .service-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.service-detail-section .service-card-left .card-body .service-nav li {
  display: block;
  position: relative;
  margin-bottom: 10px;
}

.service-detail-section .service-card-left .card-body .service-nav li a.link-service {
  font-size: 18px;
  line-height: 26px;
  color: #fff;
  font-size: 18;
  font-weight: 700;
  background-color: #06151B;
  border-radius: 8px;
  text-align: center;
  display: block;
  padding: 12px 20px;
}

.service-detail-section .service-card-left .card-body .service-nav li a.link-service.active {
  background: #70777a;
}

.service-detail-section .service-card-left .card-body .service-nav li a.link-service:hover {
  background: #70777a;
}

.service-detail-section .service-card-left .card-body .service-nav li.active .link-service {
  background: #70777a;
}

.service-detail-section .service-card-left .card-body .service-nav li:hover .link-service {
  background: #70777a;
}

.service-detail-section .service-card-left .card-body .service-nav li i {
  color: #fff;
}

.service-detail-section .service-card-left .card-body .more-option {
  position: absolute;
  right: 10px;
  top: 15px;
}

.service-detail-section .service-card-left .card-body .more-option a.btn-text {
  color: #fff;
}

.service-detail-section .service-card-left .card-body .more-option a.btn-text i {
  font-size: 20px;
}

.service-detail-section .service-card-right {
  height: 100%;
  background-color: #fff;
  border: 0 !important;
}

.service-detail-section .service-card-right .card-header {
  padding: 0;
  background-color: transparent;
  border: 0 !important;
}

.service-detail-section .service-card-right .card-header .service-detail-tab {
  border: 0;
}

.service-detail-section .service-card-right .card-header .service-detail-tab li a {
  background-color: transparent;
  color: #707070;
  border: 0;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  font-weight: 600;
}

.service-detail-section .service-card-right .card-body {
  padding: 0 20px;
  -webkit-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.16);
}

.service-detail-section .service-card-right .card-body .more-option a.btn-text {
  color: #000;
}

.service-detail-section .service-card-right .card-body .more-option a.btn-text i {
  font-size: 20px;
  color: #000;
}

.service-detail-section .service-card-right .card-body table .service-price {
  min-width: 80px;
  text-align: right;
  display: block;
  border-bottom: 1px solid #D9D8D8;
}

.calendar-section .filter-result {
  position: relative;
}

.calendar-section .filter-result .dropdown {
  width: 100%;
}

.calendar-section .filter-result .btn-result {
  background-color: #fff;
  color: #707070;
  text-align: left;
  width: 100% !important;
  display: block;
  padding: 8px 10px;
  -webkit-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.16);
  margin-bottom: 20px;
  border-radius: 10px;
  font-size: 18px;
  line-height: 26px;
}

.calendar-section .filter-result .btn-result::after {
  content: "\e92e";
  position: absolute;
  right: 30px;
  top: 15px;
  border: 0;
  font-family: Feather !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.calendar-section .filter-result .dropdown-menu {
  width: 100%;
}

.calendar-section .filter-result .dropdown-mune-result {
  background-color: #fff;
  padding: 10px 20px;
  -webkit-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.16);
  border: 0;
  border-radius: 10px;
}

.calendar-section .filter-result .dropdown-mune-result h3 {
  color: #06151B;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  margin-bottom: 15px;
}

.calendar-section .filter-result .dropdown-mune-result p {
  font-size: 20px;
  line-height: 24px;
  padding: 5px;
  color: #707070;
}

.calendar-section .filter-result .dropdown-mune-result .tags {
  margin: 0;
  padding: 0;
  list-style: none;
}

.calendar-section .filter-result .dropdown-mune-result .tags li {
  margin-bottom: 10px;
  display: block;
}

.calendar-section .filter-result .dropdown-mune-result .tags li a {
  line-height: 15px;
  display: inline-block;
  font-size: 20px;
  line-height: 24px;
  padding: 5px;
  background-color: #4088F6;
  color: #fff;
  margin-bottom: 10px;
  border-radius: 6px;
}

.calendar-section .filter-result .dropdown-mune-result .tags li .green {
  background-color: #12EB00;
}

.calendar-section .filter-result .dropdown-mune-result .tags li .yellow {
  background-color: #FF9605;
}

.calendar-section .filter-result .dropdown-mune-result .tags li .red {
  background-color: #E51616;
}

.calendar-section .filter-result .dropdown-mune-result .list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.calendar-section .filter-result .dropdown-mune-result .list li {
  margin-bottom: 5px;
  display: block;
}

.calendar-section .filter-result .dropdown-mune-result .list li a {
  line-height: 15px;
  display: inline-block;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #707070;
  margin-bottom: 5px;
  border-radius: 6px;
}

.calendar-section .fc .fc-button-primary {
  text-transform: capitalize;
  color: #fff;
  color: var(--fc-button-text-color, #fff);
  background-color: #2C3E50;
  background-color: var(--fc-button-bg-color, #556EE6);
  border-color: #556EE6;
  border-color: var(--fc-button-border-color, #556EE6);
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.calendar-section .fc .fc-button-primary:not(:disabled).fc-button-active, .calendar-section .fc .fc-button-primary:not(:disabled):active {
  color: #fff;
  color: var(--fc-button-text-color, #fff);
  background-color: #2948E0;
  background-color: var(--fc-button-active-bg-color, #2948E0);
  border-color: #2948E0;
  border-color: var(--fc-button-active-border-color, #2948E0);
}

.calendar-section .fc-toolbar-title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  color: #495057;
}

.calendar-section .fc-col-header-cell {
  padding: 10px 20px;
  color: #495057;
}

.calendar-section .card {
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.16) !important;
          box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.16) !important;
}

.mgmt-card-section .card {
  -webkit-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border: 0;
  margin-bottom: 30px;
}

.mgmt-card-section .card .card-header {
  border: 0;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 20px;
}

.mgmt-card-section .card .card-header h3 {
  font-size: 18px;
  line-height: 28px;
  color: #2e2e2e;
  font-weight: 600;
}

.mgmt-card-section .card .card-header a.text-link {
  color: #707070;
  font-size: 24px;
}

.mgmt-card-section .card .card-body {
  border: 0;
}

.mgmt-card-section .card .card-body .card-box {
  padding: 15px 15px 15px 15px;
  background-color: #fff;
  border: solid 1px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  margin-bottom: 25px;
}

.mgmt-card-section .card .card-body .card-box:last-child {
  margin-bottom: 0;
}

.mgmt-card-section .card .card-body .card-box .card-top {
  margin-bottom: 15px;
}

.mgmt-card-section .card .card-body .card-box .card-top h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  font-weight: 600;
}

.mgmt-card-section .card .card-body .card-box .card-top h3 span.tag {
  display: block;
  padding: 3px 8px;
  font-size: 14px;
  line-height: 13px;
  border-radius: 8px !important;
  background-color: #E6E7EA;
  color: #707070;
}

.mgmt-card-section .card .card-body .card-box .card-top h3 span.tag-red {
  background-color: rgba(229, 22, 22, 0.25);
  color: #E51616;
}

.mgmt-card-section .card .card-body .card-box .card-top h3 span.tag-blue {
  background-color: rgba(85, 110, 230, 0.25);
  color: #556EE6;
}

.mgmt-card-section .card .card-body .card-box .card-top h3 span.tag-green {
  background-color: rgba(105, 210, 171, 0.25);
  color: #69D2AB;
}

.mgmt-card-section .card .card-body .card-box .card-top h3 span.tag-yellow {
  background-color: rgba(245, 208, 142, 0.25);
  color: #f5cd87;
}

.mgmt-card-section .card .card-body .card-box .card-top p {
  font-size: 14px;
  line-height: 26px;
  color: #707070;
}

.mgmt-card-section .card .card-body .card-box .card-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mgmt-card-section .card .card-body .card-box .card-bottom .card-pic img {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.mgmt-card-section .card .card-body .card-box .card-bottom .card-budget {
  text-align: right;
}

.mgmt-card-section .card .card-body .card-box .card-bottom .card-budget h3 {
  font-size: 16px;
  line-height: 24px;
  color: #707070;
  font-weight: 600;
}

.mgmt-card-section .card .card-body .card-box .card-bottom .card-budget p {
  font-size: 14px;
  line-height: 26px;
  color: #707070;
}

.mgmt-card-section .card .card-footer {
  border: 0;
  background-color: #fff;
}

.client-tabs ul {
  border: 0;
}

.client-tabs ul li {
  border: 0;
}

.client-tabs ul li a {
  border: 0 !important;
  padding: 20px 60px;
  font-size: 20px;
  line-height: 24px;
  color: #707070;
  font-weight: 700;
}

.client-tabs ul li a.active {
  color: #000 !important;
  font-weight: 700;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px 10px 0 0;
}

.client-tabs .tab-content {
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px 10px;
}

.table-mgmt {
  padding: 20px 0;
}

.table-mgmt table thead th {
  font-size: 18px;
  line-height: 22px;
  color: #000;
  border: 0;
  vertical-align: middle;
  white-space: nowrap;
}

.table-mgmt table tbody td, .table-mgmt table tbody th {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #000;
  border: 0;
  vertical-align: middle;
  white-space: nowrap;
}

.table-mgmt table .tbl-prfoile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.table-mgmt table .tbl-prfoile .profile-img {
  height: 40px;
  width: 40px;
  border-radius: 100px;
  overflow: hidden;
}

.table-mgmt table .tbl-prfoile .profile-img img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.table-mgmt table .tbl-prfoile .profile-content {
  padding-left: 10px;
}

.table-mgmt table .tbl-prfoile .profile-content h3 {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #000;
}

.table-mgmt table .tbl-address p {
  color: #000;
}

.table-mgmt table .tbl-address span {
  color: #707070;
}

.table-mgmt table .btn-dropdown {
  padding: 5px 40px 5px 20px;
  background-color: #fff;
  color: #707070;
  font-weight: 600;
  line-height: 20px;
  font-size: 14 px;
  border: 1px solid #707070;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.table-mgmt table .btn-dropdown::after {
  content: "\e92e";
  position: absolute;
  right: 30px;
  top: 8px;
  border: 0;
  font-family: Feather !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.client-upload-section .upload-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 500px;
  width: 100%;
}

.client-upload-section .fileupload.custom-file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
}

.client-upload-section .fileupload.custom-file .custom-file-input {
  display: none;
}

.client-upload-section .fileupload.custom-file label {
  position: unset;
  background-color: #000;
  color: #fff;
  width: 360px;
  height: 130px;
  border-radius: 20px;
  font-size: 30px;
  line-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 800;
}

.client-upload-section .fileupload.custom-file label::after {
  display: none;
}

.client-upload-section .fileupload.custom-file span {
  padding: 20px 0;
  display: block;
  font-size: 24px;
  line-height: 24px;
  color: #000;
}

.service-upload {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
}

.pricing-method {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: #FFFFFF;
  border: 1px solid #D9D8D8;
  border-radius: 10px;
  margin-bottom: 20px;
}

.pricing-method .form-check {
  padding: 0 !important;
}

.pricing-method .form-check input {
  display: none;
}

.pricing-method .form-check label {
  background-color: transparent;
  color: #000;
  padding: 20px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  white-space: nowrap;
  margin-bottom: 0 !important;
}

.pricing-method .form-check .form-check-input[type=radio]:checked ~ label {
  background-color: #06151B;
  color: #fff !important;
}

.d-inline-switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 30px !important;
}

.d-inline-switch label {
  margin-bottom: 0 !important;
}

.d-inline-switch .switch-slider {
  width: auto;
  padding-left: 20px;
  margin-bottom: 0;
}

.d-inline-switch .switch-slider label {
  margin-bottom: 0;
}

.btn-exapnd {
  display: none;
}

.btn-collaps {
  display: block;
}

.service-add-item .add-div .btn {
  width: 100%;
  max-width: 180px;
  border-radius: 100px;
}

.service-add-item .card-header-one .select2-container {
  width: 100% !important;
}

.service-add-item .card-header-one .select2-container--default .select2-selection--single {
  height: 40px;
}

.service-add-item .card-header-one .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 40px;
}

.service-add-item .card-header-one .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 40px;
}

.service-add-item .card-header-one .select2-container--default .select2-selection--single .select2-selection__arrow:before {
  border-left: 1px solid #707070;
  content: '';
  top: 8px;
  left: -3px;
  height: 25px;
  position: absolute;
}

.service-add-item .table-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service-add-item .table-header ul {
  margin: 0;
  padding: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.service-add-item .table-header ul li {
  list-style: none;
  margin: 0 5px 0 0;
}

.service-add-item .table-header .btn-export {
  background-color: #fff;
  color: #707070;
  padding: 5px 8px;
  line-height: 16px;
  font-size: 14px;
  border-radius: 4px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #707070;
}

.service-add-item .table-header .btn-export:hover {
  color: #000;
}

.service-add-item .table-header .btn-export:focus {
  color: #000;
}

.service-add-item .card-body .no-reocored {
  height: 200px;
  width: 100%;
  background-color: #fff;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
}

.service-create-form {
  background-color: #F7F7F7;
}

.service-create-form .card {
  background-color: transparent;
  border: 0;
}

.service-create-form .card .card-header {
  background-color: transparent;
  text-align: center;
}

.service-create-form .card .card-header h3 {
  font-size: 20px;
  color: #000;
  font-weight: 600;
}

.service-create-form .card .card-body {
  background-color: transparent;
}

.service-create-form .select2-container {
  width: 100% !important;
}

.service-create-form .select2-container--default .select2-selection--single {
  height: 50px;
  font-size: 16px;
}

.service-create-form .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 50px;
  font-size: 16px;
}

.service-create-form .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 50px;
  width: 35px;
}

.service-create-form .select2-container--default .select2-selection--single .select2-selection__arrow:before {
  border-left: 1px solid #707070;
  content: '';
  top: 8px;
  left: -3px;
  height: 35px;
  position: absolute;
}

.service-create-form .form-group label {
  font-size: 16px;
  color: #000;
  line-height: 20px;
  font-weight: 600;
}

.service-create-form .form-group .form-control {
  height: 50px;
  font-size: 16px;
  line-height: 28px;
}

.service-create-form .form-group textarea.form-control {
  height: 140px;
  font-size: 16px;
  line-height: 28px;
}

.service-create-form .btn-round {
  padding: 12px 20px;
  border-radius: 100px;
  width: 200px;
  margin: 0;
}

@media (max-width: 767px) {
  .setting-tools-section .setting-tools-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .tabs-link {
    width: 100%;
    padding-top: 10px;
  }
  .tabs-link ul {
    width: 100%;
  }
  .tabs-link ul li a {
    width: 100%;
    min-width: unset;
    max-width: unset;
  }
  .client-tabs {
    padding-top: 20px;
  }
  .client-tabs ul {
    border: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-y: auto;
  }
  .client-tabs ul li {
    border: 0;
    width: 100%;
  }
  .client-tabs ul li a {
    font-size: 14px;
    line-height: 24px;
    padding: 12px 15px;
    white-space: nowrap;
    text-align: center;
  }
  .calendar-section .fc-header-toolbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .calendar-section .fc-header-toolbar .fc-toolbar-chunk {
    margin-bottom: 10px;
  }
  .btn-exapnd {
    display: block;
    font-size: 18px;
    line-height: 26px;
    color: #fff !important;
    font-weight: 700;
    background-color: #06151B !important;
    border-radius: 8px;
    text-align: center;
    padding: 12px 20px;
  }
  .btn-exapnd:after {
    content: "\e92e";
    position: absolute;
    right: 5px;
    top: 15px;
    border: 0;
    font-family: Feather !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 22px;
    margin: 0;
    height: 20px;
    width: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .btn-collaps {
    display: none;
  }
  .btn-collaps .card-header {
    display: none;
  }
}

@media (min-width: 767px) and (max-width: 1024px) {
  .tabs-link {
    padding-top: 10px;
  }
  .tabs-link ul li a {
    width: 100%;
    min-width: unset;
    max-width: unset;
  }
  .client-tabs {
    padding-top: 20px;
  }
  .client-tabs ul {
    border: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-y: auto;
  }
  .client-tabs ul li {
    border: 0;
    width: 100%;
  }
  .client-tabs ul li a {
    font-size: 14px;
    line-height: 24px;
    padding: 12px 15px;
    white-space: nowrap;
    text-align: center;
  }
}
/*# sourceMappingURL=custom.css.map */