.modal.fixed-right.fade .modal-dialog-vertical {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.modal.fixed-right.show .modal-dialog-vertical {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.modal.fixed-right .modal-dialog-vertical {
  margin-left: auto;
  z-index: 999999999;
}

.modal-dialog-vertical {
  height: 100%;
  max-width: 700px;
  margin: 0;
}

.modal-dialog-vertical .modal-content {
  border: 0 !important;
  border-radius: 0;
}

.modal-open .left-side-nav {
  z-index: 99;
}

.modal.fixed-right {
  padding-right: 0 !important;
}

.modal.fixed-right .modal-header {
  background-color: #EBEAEA;
  font-size: 24px;
  line-height: 34px;
}

.modal.fixed-right .modal-header .text-center {
  width: 100%;
  text-align: center;
}

.modal.fixed-right .modal-header .close {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0 !important;
}

.modal.fixed-right .modal-header .close i {
  font-size: 30px;
}

.modal.fixed-right .modal-body {
  background-color: #fff;
  border: 0;
  height: calc(100vh - 140px);
  overflow-y: auto;
}

.modal.fixed-right .modal-body .schedule-content h3 {
  font-size: 24px;
  line-height: 26px;
  color: #000;
  margin: 30px 0;
  font-weight: 600;
}

.modal.fixed-right .modal-body .schedule-content .table {
  border: 0;
}

.modal.fixed-right .modal-body .schedule-content .table th {
  font-size: 20px;
  line-height: 28px;
  color: #000;
  border: 0;
}

.modal.fixed-right .modal-body .schedule-content .table td {
  font-size: 20px;
  line-height: 28px;
  color: #000;
  border: 0;
}

.modal.fixed-right .modal-footer {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.modal.fixed-right .modal-footer .btn-save {
  background-color: #FECB2F;
  color: #000;
  font-weight: 600;
}

.modal.fixed-right .modal-footer .btn-cancel {
  background-color: #707070;
  color: #fff;
  font-weight: 600;
}

.modal.fixed-right .modal-footer .btn-save-email {
  background-color: #FFFFFF;
  color: #06151B;
  border: 1px solid #06151B;
  font-weight: 600;
}

.modal.fixed-right .modal-footer .btn-save-black {
  background-color: #06151B;
  color: #fff;
  border: 1px solid #06151B;
  font-weight: 600;
}

.modal-package .modal-header h5 {
  text-align: center;
  width: 100%;
}

.modal-package .modal-body {
  padding: 40px 50px;
  background-color: #fff;
}

.modal-package .modal-body .form-package label {
  font-size: 18px;
  line-height: 24px;
  color: #000;
  font-weight: 600;
  margin-bottom: 15px;
}

.modal-package .modal-body .form-package .form-control {
  height: 60px;
  font-size: 18px;
  line-height: 30px;
  color: #000;
}

.modal-package .modal-body .form-package textarea.form-control {
  height: 180px !important;
  font-size: 20px;
  line-height: 30px;
  color: #000;
}

.modal-package .modal-body .form-package .max-width-200 {
  width: 150px;
}

.modal-package .modal-body .form-package .input-group input {
  border-radius: 4px;
  font-weight: 700;
}

.modal-package .modal-body .form-package .input-group .input-group-text {
  background-color: #000;
  color: #fff;
  border-radius: 8px;
  width: 50px;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-promo .edit-promo-content .form-group {
  margin-bottom: 30px;
}

.modal-promo .edit-promo-content .form-group label {
  font-size: 18px;
  line-height: 24px;
  color: #000;
  font-weight: 600;
  margin-bottom: 15px;
}

.modal-promo .edit-promo-content .form-group .form-control {
  height: 60px;
  font-size: 18px;
  line-height: 30px;
  color: #000;
}

.modal-promo .edit-promo-content textarea.form-control {
  height: 180px !important;
  font-size: 20px;
  line-height: 30px;
  color: #000;
}

.modal-referal .edit-promo-content .form-group {
  margin-bottom: 30px;
}

.modal-referal .edit-promo-content .form-group label {
  font-size: 18px;
  line-height: 24px;
  color: #000;
  font-weight: 600;
  margin-bottom: 15px;
}

.modal-referal .edit-promo-content .form-group .form-control {
  height: 60px;
  font-size: 18px;
  line-height: 30px;
  color: #000;
}

.modal-referal .edit-promo-content .input-group {
  position: relative;
  margin-bottom: 50px;
}

.modal-referal .edit-promo-content .input-group input {
  border-radius: 4px;
  font-weight: 700;
  padding-left: 70px;
}

.modal-referal .edit-promo-content .input-group .input-group-text {
  background-color: #000;
  color: #fff;
  border-radius: 8px;
  width: 60px;
  height: 100%;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  z-index: 10;
}

.modal-referal .edit-promo-content textarea.form-control {
  height: 180px !important;
  font-size: 20px;
  line-height: 30px;
  color: #000;
}

.modal-send-push .notification-content .form-group {
  margin-bottom: 30px;
}

.modal-send-push .notification-content .form-group label {
  font-size: 18px;
  line-height: 24px;
  color: #000;
  font-weight: 600;
  margin-bottom: 15px;
}

.modal-send-push .notification-content .form-group .form-control {
  height: 60px;
  font-size: 18px;
  line-height: 30px;
  color: #000;
}

.modal-send-push .notification-content .form-group p {
  font-size: 18px;
  color: #000;
  line-height: 24px;
}

.modal-send-push .notification-content .input-group {
  position: relative;
  margin-bottom: 50px;
}

.modal-send-push .notification-content .input-group input {
  border-radius: 4px;
  font-weight: 700;
  padding-left: 70px;
}

.modal-send-push .notification-content .input-group .input-group-text {
  background-color: #000;
  color: #fff;
  border-radius: 8px;
  width: 60px;
  height: 100%;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  z-index: 10;
}

.modal-send-push .notification-content textarea.form-control {
  height: 180px !important;
  font-size: 20px;
  line-height: 30px;
  color: #000;
}

.modal-send-push .notification-content .input-group-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-send-push .notification-content .input-group-2 label {
  display: block;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  font-weight: 600;
  margin-bottom: 15px;
}

.modal-send-push .notification-content .claneder-icon-main {
  position: relative;
}

.modal-send-push .notification-content .claneder-icon-main .form-control {
  background-color: #fff;
  padding-right: 60px;
}

.modal-send-push .notification-content .claneder-icon-main .calender-icon {
  position: absolute;
  right: 0;
  top: 50px;
  height: auto;
  width: 60px;
}

.modal-send-push .notification-content .claneder-icon-main .calender-icon img {
  width: 32px;
  height: 32px;
  -o-object-fit: contain;
     object-fit: contain;
}

.modal-send-push .notification-content .select-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.modal-send-push .notification-content .select-group .select-parent {
  margin-right: 10px;
}

.modal-send-push .notification-content .select-group .select2-container--default .select2-selection--single {
  height: 60px;
  font-size: 18px;
}

.modal-send-push .notification-content .select-group .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 60px;
  font-size: 18px;
}

.modal-send-push .notification-content .select-group .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 60px;
  width: 35px;
}

.modal-send-push .notification-content .select-group .select2-container--default .select2-selection--single .select2-selection__arrow:before {
  display: none;
  border-left: 1px solid #707070;
  content: '';
  top: 8px;
  left: -3px;
  height: 45px;
  position: absolute;
}

.modal-send-push .notification-content .client-detail {
  width: 100%;
  display: block;
}

.modal-send-push .notification-content .client-detail ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: block;
}

.modal-send-push .notification-content .client-detail ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-send-push .notification-content .client-detail ul li span {
  width: 100%;
  max-width: 50%;
  color: #000;
  font-weight: 600;
  display: block;
}

.modal-send-push .notification-content .line-1 {
  margin: 20px 0;
  border-top: 1px solid rgba(112, 112, 112, 0.5) !important;
  width: 100%;
}

.modal-send-push .notification-content .checkbox-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.modal-send-push .notification-content .checkbox-group .check-list-row {
  margin-right: 20px;
  width: 100%;
}

.modal-send-push .notification-content .search-by {
  max-width: 250px;
  width: 100%;
}

.collect-patyment-form {
  padding: 40px 30px;
}

.collect-patyment-form .form-half {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.collect-patyment-form .form-half label {
  width: 30%;
}

.collect-patyment-form .form-half .input-div {
  width: 70%;
}

.collect-patyment-form .form-group {
  margin-bottom: 30px;
}

.collect-patyment-form .form-group label {
  font-size: 18px;
  line-height: 24px;
  color: #000;
  font-weight: 600;
  margin-bottom: 15px;
}

.collect-patyment-form .form-group .form-control {
  height: 60px;
  font-size: 18px;
  line-height: 30px;
  color: #000;
}

.collect-patyment-form .form-group .input-group {
  position: relative;
  margin-bottom: 50px;
}

.collect-patyment-form .form-group .input-group input {
  border-radius: 4px;
  font-weight: 700;
  padding-left: 70px;
}

.collect-patyment-form .form-group .input-group .input-group-text {
  background-color: #000;
  color: #fff;
  border-radius: 8px;
  width: 60px;
  height: 100%;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  z-index: 10;
}

.collect-patyment-form .form-group textarea.form-control {
  height: 180px !important;
  font-size: 20px;
  line-height: 30px;
  color: #000;
  width: 100%;
}

.collect-patyment-form .select2-container {
  width: 100% !important;
}

.collect-patyment-form .select2-container--default .select2-selection--single {
  height: 60px;
}

.collect-patyment-form .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 55px;
  font-size: 18px;
  font-weight: 600;
  color: #000;
}

.collect-patyment-form .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 60px;
}

.collect-patyment-form .claneder-icon-main {
  position: relative;
}

.collect-patyment-form .claneder-icon-main .form-control {
  background-color: #fff;
  padding-right: 60px;
}

.collect-patyment-form .claneder-icon-main .calender-icon {
  position: absolute;
  right: 0;
  top: 10px;
  height: auto;
  width: 60px;
}

.collect-patyment-form .claneder-icon-main .calender-icon img {
  width: 32px;
  height: 32px;
  -o-object-fit: contain;
     object-fit: contain;
}

.collect-patyment-form .client-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.collect-patyment-form .client-detail ul {
  display: block;
  width: 100%;
}

.collect-patyment-form .client-detail ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  font-size: 18px;
  line-height: 40px;
  font-weight: 500;
  border-bottom: 1px solid #000;
}

.collect-patyment-form .client-detail ul li:last-child {
  border: 0;
}

@media (max-width: 767px) {
  .modal-package .modal-body {
    padding: 20px 20px;
  }
  .modal-package .modal-body .form-package .form-group label {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .modal-package .modal-body .form-package .form-group .form-control {
    height: 50px;
    font-size: 16px;
  }
  .modal-package .modal-body .form-package .form-group .pricing-method .form-check label {
    padding: 10px 15px;
    font-size: 16px;
    line-height: 24px;
  }
  .modal-package .modal-footer {
    padding-left: 20px !important;
  }
  .modal-promo .edit-promo-content .form-group {
    margin-bottom: 20px;
  }
  .modal-promo .edit-promo-content .form-group .form-control {
    height: 50px;
  }
  .modal-promo .edit-promo-content textarea.form-control {
    height: 180px !important;
    font-size: 20px;
    line-height: 30px;
    color: #000;
  }
  .modal-referal .edit-promo-content .form-group {
    margin-bottom: 20px;
  }
  .modal-referal .edit-promo-content .form-group label {
    font-size: 18px;
    line-height: 24px;
    color: #000;
    font-weight: 600;
    margin-bottom: 15px;
  }
  .modal-referal .edit-promo-content .form-group .form-control {
    height: 50px;
    font-size: 18px;
    line-height: 30px;
    color: #000;
  }
  .modal-referal .edit-promo-content .input-group {
    position: relative;
    margin-bottom: 30px;
  }
  .modal-referal .edit-promo-content .input-group input {
    border-radius: 4px;
    font-weight: 700;
    height: 50px;
    padding-left: 70px;
  }
  .modal-referal .edit-promo-content textarea.form-control {
    height: 120px !important;
    font-size: 20px;
    line-height: 30px;
    color: #000;
  }
}
/*# sourceMappingURL=custom-modal.css.map */