.table-white-card-section {
  .white-card {
    padding: 0;
    margin: 0 0 20px 0;
    position: relative;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 0 4px 0 #e5e5e5;

    .white-card-inner {
      padding: 0;
      margin: 0;
      position: relative;

      .white-card-header {
        padding: 15px 25px;
        margin: 0;
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;

        .white-card-header-left {
          padding: 0;
          margin: 0;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          width: calc(100% - 85px);

          h3 {
            font-size: 20px;
            line-height: 1.4;
            color: #252631;
            letter-spacing: 0.2px;
            margin: 0 0 0 0;
            display: block;
            font-weight: 400;
          }
        }

        .white-card-header-right {
          padding: 0;
          margin: 0;
          width: 85px;

          .btn.btn-white {
            min-width: 85px;
          }
        }
      }

      .white-card-body {
        padding: 0;
        margin: 0;
        position: relative;

        .table {
          font-size: 12px;

          thead {
            th {
              border-top: 0;
              border-bottom: 0;
              background: #fbfbfd;
              padding: 12px 15px;
              line-height: 24px;
              font-size: 13px;
              color: #8181a5;
              font-weight: 400;

              text-align: center;
              min-width: 100px;

              &:first-child {
                padding-left: 25px;
              }

              &:last-child {
                padding-right: 25px;
              }

              &.width-25 {
                width: 25%;
              }
            }
          }

          td {
            border-top: 0;
            border-bottom: 0;
            font-weight: 400;
            font-size: 14px;
            color: #1c1d21;
            padding: 12px 15px;
            line-height: 24px;

            text-align: center;

            &:first-child {
              padding-left: 25px;
            }

            &:last-child {
              padding-right: 25px;
            }
          }

          tbody {
            tr {
              &:hover {
                background-color: #fbfbfd;
              }
            }
          }
        }
      }
    }
  }

  .statistics-card {
    padding: 0;
    margin: 0 0 20px 0;
    position: relative;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 0 4px 0 #e5e5e5;

    .statistics-card-inner {
      padding: 0;
      margin: 0;
      position: relative;

      .statistics-card-header {
        padding: 25px 15px 20px 15px;
        margin: 0;
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;

        h3 {
          font-size: 18px;
          line-height: 1.4;
          color: #252631;
          letter-spacing: 0.2px;
          margin: 0 0 0 0;
          display: block;
          font-weight: 700;
        }
      }

      .statistics-card-body {
        padding: 0 0 20px 0;
        margin: 0;
        position: relative;

        .statistics-number-view-box {
          padding: 10px 15px 15px 15px;
          margin: 0 0 10px 0;
          position: relative;

          h4 {
            font-size: 26px;
            line-height: 1.4;
            font-weight: 700;
            color: #1c1d21;
            letter-spacing: 0.2px;
            display: block;
            width: 100%;
          }

          p {
            font-size: 14px;
            color: #8181a5;
            line-height: 1.4;
            display: block;
            margin: 0 0 5px 0;
          }
        }

        .statistics-graph-div {
          padding: 0;
          position: relative;

          .img-graph {
            width: 100%;
            padding: 0 0 0 0;
          }
        }
      }
    }
  }
}

.custom-card-weather-section {
  .custom-color-card01 {
    border: none;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.16);
    margin: 0 0 40px 0;
    border-radius: 20px;
    background-color: #f9cb2f;

    .card-body {
      padding: 35px 30px 30px 30px;

      h3 {
        color: #06151b;
        font-size: 24px;
        line-height: 1.5;
        font-weight: 700;
        text-align: center;
        display: block;
        margin: 0 0 10px 0;
      }

      p {
        color: #06151b;
        font-size: 18px;
        line-height: 1.5;
        font-weight: 400;
        text-align: center;
        display: block;
        margin: 0 0 10px 0;
      }

      .bottom-row-bx {
        padding: 15px 20px;
        margin: 30px 0 0 0;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        background: #06151b;
        color: #fff;
        align-items: center;
        justify-content: space-between;
        border-radius: 8px;

        .bottom-left-bx {
          display: flex;
          align-items: center;
          flex-wrap: wrap;

          .icon-span {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
          }

          .txt-span {
            color: #fff;
            font-size: 42px;
            line-height: 42px;
            font-weight: 700;
            text-align: center;
            display: block;
            margin: 0;
            letter-spacing: 1px;
            width: calc(100% - 55px);
            padding: 3px 0 0 12px;
          }
        }

        .bottom-right-bx {
          .btn.btn-weather-primary {
            padding: 5px 20px;
            margin: 0;
            background: #707070;
            color: #fff;
            min-height: 46px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            font-size: 18px;
            border-radius: 8px;
            font-weight: 700;
            transition: all 0.8s;

            &:hover,
            &:focus {
              background: #595858;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .table-white-card-section {
    .white-card {
      .white-card-inner {
        .white-card-header {
          padding: 15px 15px;

          .white-card-header-left {
            width: calc(100% - 65px);

            h3 {
              font-size: 16px;
              letter-spacing: 0;
            }
          }

          .white-card-header-right {
            width: 65px;

            .btn.btn-white {
              min-width: 65px;
              font-size: 12px;
              padding: 6px 8px;
              min-height: 34px;
            }
          }
        }

        .white-card-body {
          .table {
            thead {
              th {
                padding: 12px 10px;
                font-size: 12px;

                &:first-child {
                  padding-left: 12px;
                }

                &:last-child {
                  padding-right: 12px;
                }
              }
            }

            td {
              font-size: 10px;
              padding: 12px 10px;
              line-height: 16px;

              &:first-child {
                padding-left: 12px;
              }

              &:last-child {
                padding-right: 12px;
              }
            }
          }
        }
      }
    }

    .statistics-card {
      .statistics-card-inner {
        .statistics-card-header {
          h3 {
            font-size: 16px;
          }
        }

        .statistics-card-body {
          .statistics-number-view-box {
            h4 {
              font-size: 22px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .table-white-card-section {
    .white-card {
      .white-card-inner {
        .white-card-header {
          padding: 15px 15px;

          .white-card-header-left {
            width: calc(100% - 65px);

            h3 {
              font-size: 16px;
              letter-spacing: 0;
            }
          }

          .white-card-header-right {
            width: 65px;

            .btn.btn-white {
              min-width: 65px;
              font-size: 12px;
              padding: 6px 8px;
              min-height: 34px;
            }
          }
        }

        .white-card-body {
          .table {
            thead {
              th {
                padding: 12px 10px;
                font-size: 12px;

                &:first-child {
                  padding-left: 15px;
                }

                &:last-child {
                  padding-right: 15px;
                }
              }
            }

            td {
              font-size: 12px;
              padding: 12px 10px;
              line-height: 18px;

              &:first-child {
                padding-left: 15px;
              }

              &:last-child {
                padding-right: 15px;
              }
            }
          }
        }
      }
    }

    .statistics-card {
      .statistics-card-inner {
        .statistics-card-header {
          h3 {
            font-size: 16px;
          }
        }

        .statistics-card-body {
          .statistics-number-view-box {
            h4 {
              font-size: 22px;
            }
          }
        }
      }
    }
  }
}
