.reports-tools-up-section .setting-tools-group .btn-group-setting {
  margin: 0 0 8px 0;
}

.reports-main-tab-section {
  padding: 0;
  margin: 0;
  position: relative;
}

.reports-main-tab-section .reports-main-tab-inner {
  padding: 0;
  margin: 0;
  position: relative;
}

.reports-main-tab-section .reports-tabs .nav-tabs .nav-item {
  margin-bottom: 0;
}

.reports-main-tab-section .reports-tabs .nav-tabs .nav-item .nav-link {
  padding: 20px 50px 16px 50px;
}

.reports-main-tab-section .reports-tabs .nav-tabs .nav-item .show,
.reports-main-tab-section .reports-tabs .nav-tabs .nav-item .active {
  color: #fff !important;
  background-color: #06151b;
}

.reports-main-tab-section .tab-pane-inner-div .table-title-div h4 {
  color: #06151b;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
  padding: 12px 15px 10px 15px;
}

.reports-main-tab-section .overview-card-root-div .overview-card-root-inner {
  padding: 20px 15px 20px 15px;
  border-bottom: 5px solid #d9d8d8;
}

.reports-main-tab-section .overview-card-root-div .title-o-div {
  margin: 0 0 10px 0;
}

.reports-main-tab-section .overview-card-root-div .title-o-div h4 {
  color: #06151b;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
  padding: 5px 0 10px 0;
}

.reports-main-tab-section .overview-card-root-div .progressbar-root-div .progressbar-root-row {
  margin: 0 0 25px 0;
}

.reports-main-tab-section .overview-card-root-div .progressbar-root-div .progress-multiple-custom {
  height: 52px;
  font-size: 1rem;
  background-color: #8bf583;
  border-radius: 10px;
}

.reports-main-tab-section .overview-card-root-div .progressbar-root-div .progress-multiple-custom.multiple-custom-color01 {
  background-color: rgba(217, 216, 216, 0.49);
}

.reports-main-tab-section .overview-card-root-div .progressbar-root-div .progress-multiple-custom .progress-bar.bg-color01 {
  background-color: #e51616;
}

.reports-main-tab-section .overview-card-root-div .progressbar-root-div .progress-multiple-custom .progress-bar.bg-color02 {
  background-color: #ff9605;
}

.reports-main-tab-section .overview-card-root-div .progressbar-root-div .progress-multiple-custom .progress-bar.bg-color03 {
  background-color: #ebeb3b;
}

.reports-main-tab-section .overview-card-root-div .progressbar-root-div .progress-multiple-custom .progress-bar.bg-color04 {
  background-color: #eb3be4;
}

.reports-main-tab-section .overview-card-root-div .progressbar-root-div .progress-multiple-custom .progress-bar.bg-color05 {
  background-color: #4088f6;
}

.reports-main-tab-section .overview-card-root-div .progressbar-root-div .progress-multiple-custom .progress-bar.bg-color06 {
  background-color: #12eb00;
}

.reports-main-tab-section .overview-card-root-div .progressbar-root-div .progress-multiple-custom .progress-bar.bg-color-default {
  background-color: #d9d8d8;
}

.reports-main-tab-section .overview-card-root-div .progressbar-root-div .progress-multiple-custom .progress-bar.br-right-tb {
  border-radius: 0 10px 10px 0;
}

.reports-main-tab-section .overview-card-root-div .progressbar-root-div .progressbar-list-box-body {
  padding: 0;
  margin: 0;
  position: relative;
}

.reports-main-tab-section .overview-card-root-div .progressbar-root-div .progressbar-list-box {
  padding: 12px 0;
  margin: 0;
  border-bottom: 1px solid #d9d8d8;
  position: relative;
}

.reports-main-tab-section .overview-card-root-div .progressbar-root-div .progressbar-list-box .progressbar-list-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  margin-right: -12px;
  margin-left: -12px;
}

.reports-main-tab-section .overview-card-root-div .progressbar-root-div .progressbar-list-box .progressbar-list-row .progressbar-list-col {
  width: 100%;
  padding-right: 12px;
  padding-left: 12px;
}

.reports-main-tab-section .overview-card-root-div .progressbar-root-div .progressbar-list-box .progressbar-list-row .progressbar-list-col.progressbar-list-col01 {
  width: 200px;
}

.reports-main-tab-section .overview-card-root-div .progressbar-root-div .progressbar-list-box .progressbar-list-row .progressbar-list-col.progressbar-list-col02 {
  width: calc(70% - 200px);
}

.reports-main-tab-section .overview-card-root-div .progressbar-root-div .progressbar-list-box .progressbar-list-row .progressbar-list-col.progressbar-list-col03 {
  width: 30%;
}

.reports-main-tab-section .overview-card-root-div .progressbar-root-div .progressbar-list-box .progressbar-list-row .progressbar-list-col .number-bar {
  height: 52px;
  font-size: 24px;
  background-color: rgba(217, 216, 216, 0.7);
  border-radius: 10px;
  color: #2e2e2e;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 10px 5px 10px;
}

.reports-main-tab-section .overview-card-root-div .progressbar-root-div .progressbar-list-box .progressbar-list-row .progressbar-list-col .number-bar.bg-color01 {
  background-color: rgba(229, 22, 22, 0.7);
}

.reports-main-tab-section .overview-card-root-div .progressbar-root-div .progressbar-list-box .progressbar-list-row .progressbar-list-col .number-bar.bg-color02 {
  background-color: rgba(255, 151, 5, 0.7);
}

.reports-main-tab-section .overview-card-root-div .progressbar-root-div .progressbar-list-box .progressbar-list-row .progressbar-list-col .number-bar.bg-color03 {
  background-color: rgba(235, 235, 59, 0.7);
}

.reports-main-tab-section .overview-card-root-div .progressbar-root-div .progressbar-list-box .progressbar-list-row .progressbar-list-col .number-bar.bg-color04 {
  background-color: rgba(235, 59, 229, 0.7);
}

.reports-main-tab-section .overview-card-root-div .progressbar-root-div .progressbar-list-box .progressbar-list-row .progressbar-list-col .number-bar.bg-color05 {
  background-color: rgba(64, 137, 246, 0.7);
}

.reports-main-tab-section .overview-card-root-div .progressbar-root-div .progressbar-list-box .progressbar-list-row .progressbar-list-col .number-bar.bg-color-default {
  background-color: rgba(217, 216, 216, 0.7);
}

.reports-main-tab-section .overview-card-root-div .progressbar-root-div .progressbar-list-box .progressbar-list-row .progressbar-list-col p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #2e2e2e;
}

.reports-main-tab-section .overview-card-root-div .progressbar-root-div .progressbar-list-box-footer {
  padding: 0;
  margin: 0;
  position: relative;
}

.reports-main-tab-section .overview-card-root-div .progressbar-root-div .progressbar-list-box-footer .progressbar-list-box {
  border-top: 4px solid #d9d8d8;
  border-bottom: 0;
}

.reports-main-tab-section .overview-card-root-div .progressbar-root-div .pro-overview-list-box-root .progressbar-list-box-body {
  padding: 12px 0;
}

.reports-main-tab-section .overview-card-root-div .progressbar-root-div .pro-overview-list-box-root .pro-list-box01 {
  margin: 0 0 12px 0;
  border-bottom: 0 solid #d9d8d8;
}

.reports-main-tab-section .overview-card-root-div .progressbar-root-div .pro-overview-list-box-root .pro-list-box01 .progressbar-list-row .progressbar-list-width-240 {
  width: 240px;
}

.reports-main-tab-section .overview-card-root-div .progressbar-root-div .pro-overview-list-box-root .pro-list-box01 .progressbar-list-row .progressbar-list-width-100-240 {
  width: calc(100% - 240px);
}

.reports-main-tab-section .overview-card-root-div .progressbar-root-div .pro-overview-list-box-root .pro-list-box01 .pro-img-txt-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reports-main-tab-section .overview-card-root-div .progressbar-root-div .pro-overview-list-box-root .pro-list-box01 .pro-img-txt-div .number-div {
  width: 40px;
  padding: 0 10px 0 0;
  text-align: right;
}

.reports-main-tab-section .overview-card-root-div .progressbar-root-div .pro-overview-list-box-root .pro-list-box01 .pro-img-txt-div .number-div h3 {
  max-width: 40px;
  display: inline-block;
  color: #06151b;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 700;
  vertical-align: middle;
}

.reports-main-tab-section .overview-card-root-div .progressbar-root-div .pro-overview-list-box-root .pro-list-box01 .pro-img-txt-div .img-div {
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reports-main-tab-section .overview-card-root-div .progressbar-root-div .pro-overview-list-box-root .pro-list-box01 .pro-img-txt-div .img-div .img-fluid {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}

.reports-main-tab-section .overview-card-root-div .progressbar-root-div .pro-overview-list-box-root .pro-list-box01 .pro-img-txt-div .txt-div {
  width: calc(100% - 80px);
  padding: 0 0 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reports-main-tab-section .overview-card-root-div .progressbar-root-div .pro-overview-list-box-root .pro-list-box01 .pro-img-txt-div .txt-div p {
  overflow: hidden;
  white-space: nowrap;
  max-width: 100px;
  display: inline-block;
  text-overflow: ellipsis;
  color: #06151b;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 700;
  vertical-align: middle;
}

.reports-main-tab-section .overview-card-root-div .progressbar-root-div .pro-overview-list-box-root .pro-list-box01 .pro-img-txt-div .txt-div .max-100per {
  max-width: 100%;
}

.reports-main-tab-section .overview-card-root-div .progressbar-root-div .pro-overview-list-box-root .pro-list-box01 .progress-custom-div .progress {
  height: 26px;
  border-radius: 10px;
  position: relative;
}

.reports-main-tab-section .overview-card-root-div .progressbar-root-div .pro-overview-list-box-root .pro-list-box01 .progress-custom-div .progress .progress-bar {
  border-radius: 10px;
}

.reports-main-tab-section .overview-card-root-div .progressbar-root-div .pro-overview-list-box-root .pro-list-box01 .progress-custom-div .progress .txt-span {
  color: #2e2e2e;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  position: absolute;
  right: 30px;
}

.reports-main-tab-section .overview-card-root-div .progressbar-root-div .pro-overview-list-box-root .pro-list-box01 .progress-custom-div .progress.progress-color-01 .progress-bar {
  background-color: rgba(20, 235, 0, 0.7);
}

.reports-main-tab-section .overview-card-root-div .progressbar-root-div .pro-overview-list-box-root .pro-list-box01 .progress-custom-div .progress.progress-color-02 .progress-bar {
  background-color: rgba(255, 151, 5, 0.7);
}

.reports-main-tab-section .overview-card-root-div .progressbar-root-div .pro-overview-list-box-root .pro-list-box01 .progress-custom-div .progress.progress-color-03 .progress-bar {
  background-color: rgba(64, 137, 246, 0.7);
}

.reports-main-tab-section .overview-card-root-div .progressbar-root-div .pro-overview-list-box-root .progressbar-list-box-footer .progressbar-list-box .progressbar-list-row .progressbar-list-col .right-txt-p {
  text-align: right;
  padding-right: 30px;
}

.reports-main-tab-section .overview-card-root-div .custom-donut-chart-section .donut-chart-root {
  max-width: 510px;
  width: 100%;
  margin: 0;
}

.reports-main-tab-section .overview-card-root-div .custom-donut-chart-section .graph-bottom-div .graph-bottom-row {
  margin: 20px 0 20px 0;
}

.reports-main-tab-section .overview-card-root-div .overview-top-selling-section .card.custom-white-card02 {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #dee2e6;
  border-radius: 0;
}

.leaderboard-list-view-report {
  padding: 20px 15px 10px 15px;
}

@media (max-width: 767px) {
  .reports-tools-up-section {
    margin-bottom: 20px;
  }
  .reports-tools-up-section .setting-tools-group .tabs-link {
    margin-bottom: 30px;
  }
  .reports-tools-up-section .setting-tools-group .tabs-link ul {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
  }
  .reports-tools-up-section .setting-tools-group .tabs-link ul li a {
    font-size: 14px;
    padding: 13px 15px 10px 15px;
  }
  .reports-main-tab-section .overview-card-root-div .overview-card-root-inner {
    padding: 10px 10px 20px 10px;
  }
  .reports-main-tab-section .overview-card-root-div .progressbar-root-div .progressbar-list-box .progressbar-list-row .progressbar-list-col {
    width: 100%;
  }
  .reports-main-tab-section .overview-card-root-div .progressbar-root-div .progressbar-list-box .progressbar-list-row .progressbar-list-col.progressbar-list-col01, .reports-main-tab-section .overview-card-root-div .progressbar-root-div .progressbar-list-box .progressbar-list-row .progressbar-list-col.progressbar-list-col02, .reports-main-tab-section .overview-card-root-div .progressbar-root-div .progressbar-list-box .progressbar-list-row .progressbar-list-col.progressbar-list-col03 {
    width: 100%;
  }
  .reports-main-tab-section .overview-card-root-div .progressbar-root-div .progressbar-list-box .progressbar-list-row .progressbar-list-col .number-bar {
    margin: 0 0 15px 0;
  }
  .reports-main-tab-section .overview-card-root-div .progressbar-root-div .progressbar-list-box .progressbar-list-row .progressbar-list-col p {
    margin: 0 0 5px 0;
    text-align: center;
  }
  .reports-main-tab-section .overview-card-root-div .progressbar-root-div .pro-overview-list-box-root .pro-list-box01 .progressbar-list-row .progressbar-list-width-240 {
    width: 100%;
    margin: 0 0 15px 0;
  }
  .reports-main-tab-section .overview-card-root-div .progressbar-root-div .pro-overview-list-box-root .pro-list-box01 .progressbar-list-row .progressbar-list-width-100-240 {
    width: 100%;
  }
  .reports-main-tab-section .overview-card-root-div .progressbar-root-div .pro-overview-list-box-root .pro-list-box01 .progress-custom-div .progress .txt-span {
    font-size: 14px;
    right: 15px;
  }
  .reports-main-tab-section .overview-card-root-div .progressbar-root-div .pro-overview-list-box-root .progressbar-list-box-footer .progressbar-list-box .progressbar-list-row .progressbar-list-col .right-txt-p {
    text-align: center;
    padding-right: 0;
  }
  .reports-main-tab-section .overview-card-root-div .custom-donut-chart-section .donut-chart-root .chart-donut-contain {
    height: 200px;
  }
  .reports-main-tab-section .overview-card-root-div .overview-top-selling-section .custom-white-card02 .card-header {
    padding: 20px 15px 10px 15px;
  }
  .reports-main-tab-section .overview-card-root-div .overview-top-selling-section .custom-white-card02 .card-header .title-row-new-div .title-row-new-left {
    width: 100%;
    margin: 0 0 10px 0;
  }
  .reports-main-tab-section .overview-card-root-div .overview-top-selling-section .custom-white-card02 .card-body {
    padding: 10px 15px 10px 15px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .reports-main-tab-section .overview-card-root-div .custom-donut-chart-section .donut-chart-root {
    max-width: 310px;
  }
  .reports-main-tab-section .overview-card-root-div .custom-donut-chart-section .donut-chart-root .chart-donut-contain {
    height: 200px;
  }
}
/*# sourceMappingURL=report-style.css.map */