.middle-area-dashboard-new {
  padding: 0;
  margin: 0;
  position: relative;
}

.top-black-main-section {
  padding: 0;
  margin: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.top-black-main-section .top-black-main-div {
  padding: 10px 0;
  margin: 0;
  position: relative;
  background: #06151b;
  width: 100%;
  min-height: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.top-black-main-section .top-black-main-div .top-black-title-div .top-black-title-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
}

.top-black-main-section .top-black-main-div .top-black-title-div .top-black-title-row .span-icon {
  width: 30px;
}

.top-black-main-section .top-black-main-div .top-black-title-div .top-black-title-row .span-text {
  padding: 2px 0 0 5px;
  width: calc(100% - 30px);
  line-height: 28px;
}

.top-black-main-section .top-black-main-div .top-black-title-div .top-black-title-row .link.back-link {
  font-size: 30px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.body-black-main-section {
  padding: 0;
  margin: 0;
  position: relative;
  min-height: calc(100vh - 76px);
}

.settings-fluid-section {
  padding: 0;
  margin: 0;
  position: relative;
}

.settings-fluid-section .settings-fluid-div {
  padding: 30px 0;
  margin: 0;
  position: relative;
  min-height: calc(100vh - 76px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.settings-fluid-section .settings-bx-div {
  padding: 40px 0;
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.settings-fluid-section .settings-bx-div .settings-bx-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  font-size: 22px;
  color: #06151b;
  letter-spacing: 0;
  line-height: 1.5;
}

.settings-fluid-section .settings-bx-div .settings-bx-link .settings-bx-thumb {
  width: 100%;
  text-align: center;
  margin: 0 0 10px 0;
}

.settings-fluid-section .settings-bx-div .settings-bx-link .settings-bx-thumb .icon-setting-fluid {
  width: 100px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}

.settings-fluid-section .settings-bx-div .settings-bx-link .text {
  width: 100%;
  text-align: center;
  font-weight: 700;
}

.radius-set-fluid-section {
  padding: 0;
  margin: 0;
  position: relative;
}

.radius-set-fluid-section .radius-set-fluid-div {
  padding: 60px 0;
  margin: 0;
  position: relative;
}

.radius-set-fluid-section .radius-set-fluid-top {
  padding: 0;
  margin: 0 0 45px 0;
  position: relative;
}

.radius-set-fluid-section .radius-set-fluid-top .search-save-group-div {
  position: relative;
}

.radius-set-fluid-section .radius-set-fluid-top .search-save-group-div .form-control {
  font-size: 20px;
  color: #06151b;
  border: 1px solid #d9d8d8;
  border-radius: 15px;
  min-height: 60px;
  padding: 12px 125px 8px 20px;
  line-height: 24px;
  margin: 0 0 5px 0;
  font-weight: 700;
}

.radius-set-fluid-section .radius-set-fluid-top .search-save-group-div .form-control::-webkit-input-placeholder {
  color: #707070;
}

.radius-set-fluid-section .radius-set-fluid-top .search-save-group-div .form-control::-moz-placeholder {
  color: #707070;
}

.radius-set-fluid-section .radius-set-fluid-top .search-save-group-div .form-control:-ms-input-placeholder {
  color: #707070;
}

.radius-set-fluid-section .radius-set-fluid-top .search-save-group-div .form-control:-moz-placeholder {
  color: #707070;
}

.radius-set-fluid-section .radius-set-fluid-top .search-save-group-div .form-control:hover, .radius-set-fluid-section .radius-set-fluid-top .search-save-group-div .form-control:focus, .radius-set-fluid-section .radius-set-fluid-top .search-save-group-div .form-control:active {
  border-color: #4d7cfe;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.radius-set-fluid-section .radius-set-fluid-top .search-save-group-div .btn-div {
  position: absolute;
  top: 0;
  right: 0;
}

.radius-set-fluid-section .radius-set-fluid-top .search-save-group-div .btn-div .btn-primary-black.btn-big-primary-black-60 {
  min-height: 60px;
  font-size: 20px;
  line-height: 1;
  border-radius: 15px;
  min-width: 110px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.radius-set-fluid-section .radius-set-fluid-middle .map-div .map-iframe {
  width: 100%;
  min-height: calc(100vh - 320px);
}

.business-hours-set-fluid-section {
  padding: 0;
  margin: 0;
  position: relative;
}

.business-hours-set-fluid-section .business-hours-set-fluid-div {
  padding: 80px 0;
  margin: 0;
  position: relative;
}

.business-hours-set-fluid-section .business-hours-set-root {
  padding: 0;
  margin: 0 0 30px 0;
  position: relative;
}

.business-hours-set-fluid-section .business-hours-set-root .business-hours-set-row {
  position: relative;
}

.business-hours-set-fluid-section .business-hours-set-root .business-hours-set-top {
  padding: 0;
  margin: 0 0 15px 0;
  position: relative;
}

.business-hours-set-fluid-section .business-hours-set-root .business-hours-set-top h2 {
  color: #06151b;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 700;
  margin: 0;
  display: block;
  text-align: center;
}

.business-hours-set-fluid-section .business-hours-set-root .business-hours-set-middle .card-bh-set-div {
  padding: 40px 25px 20px 25px;
  margin: 0;
  position: relative;
  border-radius: 15px;
  border: 1px solid #d9d8d8;
}

.business-hours-set-fluid-section .business-hours-set-root .business-hours-set-middle .card-bh-set-div .table td {
  color: #06151b;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
  padding: 12px 15px 10px 15px;
  vertical-align: middle;
}

.business-hours-set-fluid-section .business-hours-set-root .business-hours-set-middle .card-bh-set-div .table td.stime-width, .business-hours-set-fluid-section .business-hours-set-root .business-hours-set-middle .card-bh-set-div .table td.etime-width {
  width: 150px;
}

.business-hours-set-fluid-section .business-hours-set-root .business-hours-set-middle .card-bh-set-div .switch-slider.switch-slider-oc input[type="checkbox"].toggle.toggle:checked + label,
.business-hours-set-fluid-section .business-hours-set-root .business-hours-set-middle .card-bh-set-div .switch-slider.switch-slider-oc input[type="checkbox"].toggle.toggle:focus:checked + label {
  width: 88px;
  font-size: 14px;
  font-weight: 700;
}

.business-hours-set-fluid-section .business-hours-set-root .business-hours-set-middle .card-bh-set-div .switch-slider.switch-slider-oc input[type="checkbox"].toggle.toggle:checked + label::before,
.business-hours-set-fluid-section .business-hours-set-root .business-hours-set-middle .card-bh-set-div .switch-slider.switch-slider-oc input[type="checkbox"].toggle.toggle:checked + label:hover::before,
.business-hours-set-fluid-section .business-hours-set-root .business-hours-set-middle .card-bh-set-div .switch-slider.switch-slider-oc input[type="checkbox"].toggle.toggle:focus:checked + label::before,
.business-hours-set-fluid-section .business-hours-set-root .business-hours-set-middle .card-bh-set-div .switch-slider.switch-slider-oc input[type="checkbox"].toggle.toggle:focus:checked + label:hover::before {
  margin-left: -27px;
}

.business-hours-set-fluid-section .business-hours-set-root .business-hours-set-middle .card-bh-set-div .switch-slider.switch-slider-oc input[type="checkbox"].toggle.toggle + label .off {
  padding-top: 2px;
  margin-left: 26px;
}

.business-hours-set-fluid-section .business-hours-set-root .business-hours-set-middle .card-bh-set-div .switch-slider.switch-slider-oc input[type="checkbox"].toggle.toggle:checked + label .on {
  padding-top: 2px;
}

.business-hours-set-fluid-section .business-hours-set-root .business-hours-set-middle .card-bh-set-div .switch-slider.switch-slider-oc input[type="checkbox"].toggle.toggle + label {
  width: 88px;
  font-size: 14px;
  font-weight: 700;
}

.business-hours-set-fluid-section .business-hours-set-root .business-hours-set-middle .card-bh-set-div .switch-slider.switch-slider-oc input[type="checkbox"].toggle.toggle + label::before,
.business-hours-set-fluid-section .business-hours-set-root .business-hours-set-middle .card-bh-set-div .switch-slider.switch-slider-oc input[type="checkbox"].toggle.toggle + label:hover::before {
  margin-left: -1px;
}

.business-hours-set-fluid-section .business-hours-set-root .business-hours-set-middle .card-bh-set-div .form-group .form-control.flatpickr-input {
  border: 1px solid #d9d8d8;
  background: transparent;
  font-weight: 700;
  font-size: 14px;
  color: #06151b;
  width: 100%;
  min-height: 30px;
  padding: 3px 10px;
  min-width: 100px;
}

.business-hours-set-fluid-section .btn-center-div {
  margin: 0 auto;
}

.business-hours-set-fluid-section .btn-center-div .btn-center-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 20px 0 0 0;
}

.gift-cards-set-fluid-section {
  padding: 60px 0;
  margin: 0;
  position: relative;
}

.gift-cards-set-fluid-section .client-tabs .nav-tabs .nav-item {
  margin-bottom: 0;
}

.gift-cards-set-fluid-section .client-tabs .tab-content {
  border-radius: 0 10px 10px 10px;
}

.currency-fluid-section {
  padding: 0;
  margin: 0;
  position: relative;
}

.currency-fluid-section .currency-fluid-div {
  padding: 60px 0 40px 0;
  margin: 0;
  position: relative;
}

.currency-fluid-section .currency-fluid-root .currency-fluid-row {
  padding: 0;
  margin: 0;
  position: relative;
  min-height: calc(100vh - 296px);
}

.currency-fluid-section .currency-bx-div {
  padding: 40px 0;
  margin: 0;
  position: relative;
}

.currency-fluid-section .currency-bx-div .currency-bx-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  font-size: 22px;
  color: #06151b;
  letter-spacing: 0;
  line-height: 1.5;
}

.currency-fluid-section .currency-bx-div .currency-bx-link .currency-bx-thumb {
  width: 100%;
  text-align: center;
  margin: 0 0 10px 0;
}

.currency-fluid-section .currency-bx-div .currency-bx-link .currency-bx-thumb .icon-currency-fluid {
  height: 130px;
  -o-object-fit: contain;
     object-fit: contain;
}

.currency-fluid-section .currency-bx-div .currency-bx-link .text {
  width: 100%;
  text-align: center;
  font-weight: 700;
}

.currency-fluid-section .btn-center-div {
  margin: 0 auto;
}

.currency-fluid-section .btn-center-div .btn-center-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 20px 0 0 0;
}

.sms-number-fluid-section {
  padding: 0;
  margin: 0;
  position: relative;
}

.sms-number-fluid-section .sms-number-fluid-div {
  padding: 60px 0 40px 0;
  margin: 0;
  position: relative;
}

.sms-number-fluid-section .sms-number-fluid-root .sms-number-fluid-row {
  padding: 0;
  margin: 0;
  position: relative;
  min-height: calc(100vh - 296px);
}

.sms-number-fluid-section .sms-number-fluid-root .text-sms-number-div {
  padding: 0;
  margin: 0;
  position: relative;
}

.sms-number-fluid-section .sms-number-fluid-root .text-sms-number-div h4 {
  color: #06151b;
  font-size: 22px;
  line-height: 1.5;
  font-weight: 700;
  margin: 0 0 15px 0;
  display: block;
}

.sms-number-fluid-section .sms-number-fluid-root .text-sms-number-div p {
  color: #707070;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
  margin: 0 0 15px 0;
  display: block;
}

.sms-number-fluid-section .sms-number-fluid-root .text-sms-number-div .form-sms-root {
  margin: 0 0 10px 0;
}

.sms-number-fluid-section .sms-number-fluid-root .text-sms-number-div .form-sms-root .select2-form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sms-number-fluid-section .btn-center-div {
  margin: 0 auto;
}

.sms-number-fluid-section .btn-center-div .btn-center-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 20px 0 0 0;
}

.affiliate-set-fluid-section {
  padding: 0;
  margin: 0;
  position: relative;
}

.affiliate-set-fluid-section .affiliate-set-fluid-div {
  padding: 0;
  margin: 0;
  position: relative;
}

.affiliate-set-fluid-section .affiliate-set-fluid-top {
  padding: 20px 0 60px 0;
  margin: 0;
  background-color: #06151b;
  color: #fff;
  position: relative;
}

.affiliate-set-fluid-section .affiliate-set-fluid-top h5 {
  padding: 0;
  margin: 0;
  display: block;
  font-size: 42px;
  line-height: 1.5;
  font-weight: 700;
  text-align: center;
}

.affiliate-set-fluid-section .affiliate-set-fluid-top h1 {
  padding: 0;
  margin: 0;
  display: block;
  font-size: 60px;
  line-height: 1.5;
  font-weight: 700;
  text-align: center;
  color: #58a2fc;
}

.affiliate-set-fluid-section .affiliate-set-fluid-middle .affiliate-set-middle-row {
  padding: 50px 0;
}

.affiliate-set-fluid-section .affiliate-set-fluid-middle .affiliate-set-middle-row .desc-affiliate-div {
  padding: 50px 20px;
}

.affiliate-set-fluid-section .affiliate-set-fluid-middle .affiliate-set-middle-row .desc-affiliate-div h2 {
  color: #4088f6;
  padding: 0;
  margin: 0 0 10px 0;
  display: block;
  font-size: 48px;
  line-height: 1.5;
  font-weight: 700;
  text-align: center;
}

.affiliate-set-fluid-section .affiliate-set-fluid-middle .affiliate-set-middle-row .desc-affiliate-div h3 {
  color: #06151b;
  padding: 0;
  margin: 0 0 20px 0;
  display: block;
  font-size: 36px;
  line-height: 1.5;
  font-weight: 700;
  text-align: center;
}

.affiliate-set-fluid-section .affiliate-set-fluid-middle .affiliate-set-middle-row .desc-affiliate-div p {
  color: #06151b;
  padding: 0;
  margin: 0 0 20px 0;
  display: block;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
}

.affiliate-set-fluid-section .affiliate-set-fluid-middle .affiliate-set-middle-row .desc-affiliate-div .img-div .img-div-row {
  padding: 0;
}

.affiliate-set-fluid-section .affiliate-set-fluid-middle .affiliate-set-middle-row .desc-affiliate-div .btn-div .btn-div-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px 0 0 0;
  width: 100%;
}

.affiliate-set-fluid-section .affiliate-set-fluid-middle .affiliate-set-middle-row .desc-affiliate-div .btn-div .btn.btn-primary.btn-big-primary {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 14px 30px 13px 30px;
  min-height: 46px;
}

.affiliate-set-fluid-section .affiliate-set-fluid-middle .affiliate-set-middle-row .desc-affiliate-div .btn-div .btn.btn-primary.btn-big-primary h4 {
  font-weight: 700;
  font-size: 24px;
  margin: 0 0 4px 0;
}

.affiliate-set-fluid-section .affiliate-set-fluid-middle .affiliate-set-middle-row .desc-affiliate-div .btn-div .btn.btn-primary.btn-big-primary h4 .fe.fe-arrow-right {
  font-size: 24px;
  margin: 0 0 0 2px;
  display: inline-block;
  position: relative;
  bottom: -1px;
}

.affiliate-set-fluid-section .affiliate-set-fluid-middle .affiliate-set-middle-row .desc-affiliate-div .btn-div .btn.btn-primary.btn-big-primary .small-text {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}

.card-set-fluid-section {
  padding: 0;
  margin: 0;
  position: relative;
}

.card-set-fluid-section .card-set-fluid-div {
  padding: 60px 0;
  margin: 0;
  position: relative;
}

.card-set-fluid-section .card-set-fluid-middle {
  padding: 20px;
  -webkit-box-shadow: 0 0 30px 0 #00000029;
          box-shadow: 0 0 30px 0 #00000029;
  margin: 0 0 40px 0;
  border-radius: 20px;
  background-color: #fff;
}

.card-set-fluid-section .card-pro-set-box-left {
  padding: 0;
  margin: 0;
  position: relative;
}

.card-set-fluid-section .card-pro-set-box-left .card-pro-set-box-left-inner {
  padding: 0;
  margin: 0;
  position: relative;
}

.card-set-fluid-section .card-pro-set-box-left .card-pro-set-box-left-inner .card-pro-set-box-row01 {
  padding: 0 0 20px 0;
  margin: 0 0 10px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ddd;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-set-fluid-section .card-pro-set-box-left .card-pro-set-box-left-inner .card-pro-set-box-row01 .card-pro-set-box-row-left {
  width: 50%;
}

.card-set-fluid-section .card-pro-set-box-left .card-pro-set-box-left-inner .card-pro-set-box-row01 .card-pro-set-box-row-right {
  width: 50%;
}

.card-set-fluid-section .card-pro-set-box-left .card-pro-set-box-left-inner .card-pro-set-box-row01 .img-txt-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-set-fluid-section .card-pro-set-box-left .card-pro-set-box-left-inner .card-pro-set-box-row01 .img-txt-div .img-div {
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-set-fluid-section .card-pro-set-box-left .card-pro-set-box-left-inner .card-pro-set-box-row01 .img-txt-div .img-div .img-fluid {
  width: 60px;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-set-fluid-section .card-pro-set-box-left .card-pro-set-box-left-inner .card-pro-set-box-row01 .img-txt-div .txt-div {
  width: calc(100% - 60px);
  padding: 6px 0 2px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-set-fluid-section .card-pro-set-box-left .card-pro-set-box-left-inner .card-pro-set-box-row01 .img-txt-div .txt-div p {
  color: #06151b;
  font-size: 16px;
  line-height: 1.45;
  font-weight: 700;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  text-overflow: ellipsis;
  width: 100%;
}

.card-set-fluid-section .card-pro-set-box-left .card-pro-set-box-left-inner .card-pro-set-box-row01 .btn-div-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.card-set-fluid-section .card-pro-set-box-left .card-pro-set-box-left-inner .card-pro-set-box-row01 .btn-div-right .btn.btn-primary {
  margin: 0;
}

.card-set-fluid-section .card-pro-set-box-left .card-pro-set-box-left-inner .card-pro-set-box-row02 {
  padding: 2px 0 10px 0;
  margin: 0 0 10px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ddd;
}

.card-set-fluid-section .card-pro-set-box-left .card-pro-set-box-left-inner .card-pro-set-box-row02 h4 {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 700;
  color: #06151b;
}

.card-set-fluid-section .card-pro-set-box-left .card-pro-set-box-left-inner .card-pro-set-box-row02 h4.text-color01 {
  color: #f9cb2f;
}

.card-set-fluid-section .card-pro-set-box-left .card-pro-set-box-left-inner .card-pro-set-box-row02 p {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
  color: #06151b;
}

.card-set-fluid-section .card-pro-set-box-left .card-pro-set-box-left-inner .card-pro-set-box-row-info {
  padding: 10px 0 10px 0;
  margin: 0 0 10px 0;
  color: #06151b;
  position: relative;
  border-bottom: 1px solid #ddd;
}

.card-set-fluid-section .card-pro-set-box-left .card-pro-set-box-left-inner .card-pro-set-box-row-info h3 {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 700;
  color: #06151b;
  margin: 0 0 5px 0;
}

.card-set-fluid-section .card-pro-set-box-left .card-pro-set-box-left-inner .card-pro-set-box-row-info .card-pro-set-box-row-info-inner p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  margin: 0 0 5px 0;
}

.card-set-fluid-section .card-pro-set-box-left .card-pro-set-box-left-inner .card-pro-set-box-row-number-info {
  padding: 10px 0 10px 0;
  margin: 0;
  color: #06151b;
  position: relative;
}

.card-set-fluid-section .card-pro-set-box-left .card-pro-set-box-left-inner .card-pro-set-box-row-number-info h3 {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 700;
  color: #06151b;
  margin: 0 0 10px 0;
}

.card-set-fluid-section .card-pro-set-box-left .card-pro-set-box-left-inner .card-pro-set-box-row-number-info .card-pro-set-box-row-number-inner {
  padding: 18px 20px 15px 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
  line-height: 24px;
}

.card-set-fluid-section .card-pro-set-box-left .card-pro-set-box-left-inner .card-pro-set-box-row-number-info .card-pro-set-box-row-number-inner p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 0 5px 0;
}

.card-set-fluid-section .card-pro-set-box-left .card-pro-set-box-left-inner .card-pro-set-box-row-number-info .card-pro-set-box-row-number-inner h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
}

.card-set-fluid-section .card-pro-set-box-left .card-pro-set-box-left-inner .card-pro-set-box-row-number-info .card-pro-set-box-row-number-inner h2.color-text01 {
  color: #f9cb2f;
}

.card-set-fluid-section .card-table-pro-set-div .table.table-custom-pro {
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
}

.card-set-fluid-section .card-table-pro-set-div .table.table-custom-pro tbody th {
  width: 150px;
  background: #06151b;
  color: #fff;
}

.card-set-fluid-section .card-table-pro-set-div .table.table-custom-pro tbody td:last-child {
  border-bottom: 1px solid #dee2e6;
}

.card-set-fluid-section .card-table-pro-set-div .table.table-custom-pro tbody td.right-text-td {
  text-align: right;
}

.card-set-fluid-section .card-table-pro-set-div .table.table-custom-pro tbody tr .badge-span {
  border: 1px solid #ddd;
  background: #fafafa;
  padding: 7px 8px 5px 8px;
  border-radius: 6px;
}

.card-set-fluid-section .card-table-pro-set-div .table.table-custom-pro tbody tr:last-child th {
  border-bottom: 1px solid #dee2e6;
}

@media (max-width: 767px) {
  .settings-fluid-section .settings-bx-div {
    padding: 30px 0;
  }
  .settings-fluid-section .settings-bx-div .settings-bx-link {
    font-size: 11px;
  }
  .settings-fluid-section .settings-bx-div .settings-bx-link .settings-bx-thumb .icon-setting-fluid {
    width: 54px;
    height: 54px;
  }
  .radius-set-fluid-section .radius-set-fluid-div {
    padding: 40px 0 30px 0;
  }
  .radius-set-fluid-section .radius-set-fluid-top {
    margin: 0 0 30px 0;
  }
  .radius-set-fluid-section .radius-set-fluid-top .search-save-group-div .form-control {
    padding: 12px 20px 8px 20px;
  }
  .radius-set-fluid-section .radius-set-fluid-top .search-save-group-div .btn-div {
    position: relative;
    top: auto;
    right: auto;
    margin: 15px 0 0 0;
  }
  .radius-set-fluid-section .radius-set-fluid-top .search-save-group-div .btn-div .btn-primary-black.btn-big-primary-black-60 {
    width: 100%;
  }
  .currency-fluid-section .currency-fluid-div {
    padding: 40px 0 40px 0;
  }
  .currency-fluid-section .currency-bx-div {
    padding: 30px 0;
  }
  .currency-fluid-section .currency-bx-div .currency-bx-link {
    font-size: 12px;
  }
  .currency-fluid-section .currency-bx-div .currency-bx-link .currency-bx-thumb .icon-currency-fluid {
    height: 60px;
  }
  .affiliate-set-fluid-section .affiliate-set-fluid-top h5 {
    font-size: 26px;
  }
  .affiliate-set-fluid-section .affiliate-set-fluid-top h1 {
    font-size: 34px;
  }
  .affiliate-set-fluid-section .affiliate-set-fluid-middle .affiliate-set-middle-row .desc-affiliate-div {
    padding: 30px 0;
  }
  .affiliate-set-fluid-section .affiliate-set-fluid-middle .affiliate-set-middle-row .desc-affiliate-div h2 {
    font-size: 30px;
  }
  .affiliate-set-fluid-section .affiliate-set-fluid-middle .affiliate-set-middle-row .desc-affiliate-div h3 {
    font-size: 24px;
  }
  .affiliate-set-fluid-section .affiliate-set-fluid-middle .affiliate-set-middle-row .desc-affiliate-div p {
    font-size: 16px;
    margin: 0 0 10px 0;
  }
  .affiliate-set-fluid-section .affiliate-set-fluid-middle .affiliate-set-middle-row .desc-affiliate-div .btn-div .btn.btn-primary.btn-big-primary h4 {
    font-size: 18px;
  }
  .affiliate-set-fluid-section .affiliate-set-fluid-middle .affiliate-set-middle-row .desc-affiliate-div .btn-div .btn.btn-primary.btn-big-primary h4 .fe.fe-arrow-right {
    font-size: 18px;
  }
  .affiliate-set-fluid-section .affiliate-set-fluid-middle .affiliate-set-middle-row .desc-affiliate-div .btn-div .btn.btn-primary.btn-big-primary .small-text {
    font-size: 12px;
    line-height: 16px;
  }
  .card-set-fluid-section .card-pro-set-box-left .card-pro-set-box-left-inner .card-pro-set-box-row01 .card-pro-set-box-row-left {
    width: 100%;
    margin: 0 0 15px 0;
  }
  .card-set-fluid-section .card-pro-set-box-left .card-pro-set-box-left-inner .card-pro-set-box-row01 .card-pro-set-box-row-right {
    width: 100%;
  }
  .card-set-fluid-section .card-pro-set-box-left .card-pro-set-box-left-inner .card-pro-set-box-row01 .card-pro-set-box-row-right .btn.btn-primary {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card-set-fluid-section .card-pro-set-box-left .card-pro-set-box-left-inner .card-pro-set-box-row02 h4 {
    font-size: 14px;
  }
  .card-set-fluid-section .card-pro-set-box-left .card-pro-set-box-left-inner .card-pro-set-box-row02 p {
    font-size: 14px;
  }
  .card-set-fluid-section .card-pro-set-box-left .card-pro-set-box-left-inner .card-pro-set-box-row-info h3 {
    font-size: 16px;
  }
  .card-set-fluid-section .card-pro-set-box-left .card-pro-set-box-left-inner .card-pro-set-box-row-info .card-pro-set-box-row-info-inner p {
    font-size: 13px;
  }
  .card-set-fluid-section .card-pro-set-box-left .card-pro-set-box-left-inner .card-pro-set-box-row-number-info h3 {
    font-size: 14px;
  }
  .card-set-fluid-section .card-pro-set-box-left .card-pro-set-box-left-inner .card-pro-set-box-row-number-info .card-pro-set-box-row-number-inner {
    margin: 0 0 20px 0;
  }
  .card-set-fluid-section .card-pro-set-box-left .card-pro-set-box-left-inner .card-pro-set-box-row-number-info .card-pro-set-box-row-number-inner p {
    font-size: 14px;
    margin: 0 0 0 0;
  }
  .card-set-fluid-section .card-pro-set-box-left .card-pro-set-box-left-inner .card-pro-set-box-row-number-info .card-pro-set-box-row-number-inner h2 {
    font-size: 18px;
  }
  .card-set-fluid-section .card-pro-set-box-left .card-pro-set-box-left-inner .card-pro-set-box-row-number-info .card-pro-set-box-row-number-inner .bx-card {
    padding: 10px 0 10px 0;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .settings-fluid-section .settings-bx-div {
    padding: 50px 0;
  }
  .settings-fluid-section .settings-bx-div .settings-bx-link {
    font-size: 18px;
  }
  .card-set-fluid-section .card-pro-set-box-left .card-pro-set-box-left-inner .card-pro-set-box-row02 h4 {
    font-size: 14px;
  }
  .card-set-fluid-section .card-pro-set-box-left .card-pro-set-box-left-inner .card-pro-set-box-row02 p {
    font-size: 14px;
  }
  .card-set-fluid-section .card-pro-set-box-left .card-pro-set-box-left-inner .card-pro-set-box-row-info h3 {
    font-size: 16px;
  }
  .card-set-fluid-section .card-pro-set-box-left .card-pro-set-box-left-inner .card-pro-set-box-row-info .card-pro-set-box-row-info-inner p {
    font-size: 13px;
  }
  .card-set-fluid-section .card-pro-set-box-left .card-pro-set-box-left-inner .card-pro-set-box-row-number-info h3 {
    font-size: 14px;
  }
  .card-set-fluid-section .card-pro-set-box-left .card-pro-set-box-left-inner .card-pro-set-box-row-number-info .card-pro-set-box-row-number-inner {
    margin: 0 0 20px 0;
  }
  .card-set-fluid-section .card-pro-set-box-left .card-pro-set-box-left-inner .card-pro-set-box-row-number-info .card-pro-set-box-row-number-inner p {
    font-size: 14px;
    margin: 0 0 0 0;
  }
  .card-set-fluid-section .card-pro-set-box-left .card-pro-set-box-left-inner .card-pro-set-box-row-number-info .card-pro-set-box-row-number-inner h2 {
    font-size: 18px;
  }
  .card-set-fluid-section .card-pro-set-box-left .card-pro-set-box-left-inner .card-pro-set-box-row-number-info .card-pro-set-box-row-number-inner .bx-card {
    padding: 10px 0 10px 0;
  }
}
/*# sourceMappingURL=settings.css.map */