.switch-slider {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;

  span.text {
    margin-right: 10px;
    color: #737c8b;
    font-size: 19px;
    line-height: 23px;
  }

  label {
    margin-bottom: 0;
  }
}

input[type="checkbox"].toggle {
  &.toggle {
    opacity: 0;
    position: absolute;
    left: -99999px;

    & + label {
      height: 25px;
      width: 67px;
      line-height: 40px;
      background-color: #e51616;
      padding: 0 10px;
      border-radius: 4px;
      display: flex;
      font-weight: 600;
      align-items: center;
      justify-content: flex-start;
      font-size: 12px;
      position: relative;
      cursor: pointer;

      &::before,
      &:hover::before {
        content: " ";
        position: absolute;
        top: -2px;
        left: 0;
        width: 28px;
        height: 28px;
        background: #ebeaea;
        z-index: 2;
        border-radius: 5px;
        box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.08);
      }

      .off,
      .on {
        color: #fff;
        // display: none !important;
      }

      .off {
        margin-left: 28px;
        display: inline-block;
      }

      .on {
        display: none;
      }
    }

    &:checked + label {
      .off {
        display: none;
      }

      .on {
        margin-right: 25px;
        display: inline-block;
      }
    }

    &:checked + label,
    &:focus:checked + label {
      height: 25px;
      width: 67px;
      background-color: #12eb00;
      border: 1px solid #e0e0e0;

      &::before,
      &:hover::before {
        background-position: 0 0;
        top: -2px;
        left: 100%;
        margin-left: -28px;
      }
    }
  }
}
