.table.table-custom-01 {
  tbody {
    td {
      color: #06151b;
      font-size: 16px;
      line-height: 1.5;
      font-weight: 700;
      padding: 16px 20px 14px 20px;
    }

    th {
      color: #06151b;
      font-size: 16px;
      line-height: 1.5;
      font-weight: 700;
      padding: 16px 20px 14px 20px;
      border-right: 1px solid #ebeaea;
      width: 110px;
      text-align: center;
    }
  }
}

.table.table-custom-02 {
  thead {
    th {
      color: #06151b;
      font-size: 16px;
      line-height: 1.5;
      font-weight: 700;
      padding: 12px 15px 10px 15px;

      &:first-child {
        padding-left: 20px;
      }

      &:last-child {
        padding-right: 20px;
      }

      &.width-50px {
        width: 50px;
      }

      &.width-10 {
        width: 10%;
      }

      &.width-34-50px {
        width: calc(34% - 15px);
      }

      &.width-45-50px {
        width: calc(45% - 15px);
      }

      &.width-15 {
        width: 15%;
      }

      &.width-25 {
        width: 25%;
      }

      &.width-26 {
        width: 26%;
      }

      &.width-30 {
        width: 30%;
      }

      &.width-40 {
        width: 40%;
      }

      &.min-width-90 {
        min-width: 90px;
      }

      &.min-width-172 {
        min-width: 172px;
      }

      &.min-width-200 {
        min-width: 205px;
      }
    }
  }

  tbody {
    td {
      color: #06151b;
      font-size: 14px;
      line-height: 1.5;
      font-weight: 700;
      padding: 12px 15px 10px 15px;
      vertical-align: middle;

      &:first-child {
        padding-left: 20px;
      }

      &:last-child {
        padding-right: 20px;
      }

      .img-txt-div {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .img-div {
          width: 40px;
          display: flex;
          flex-wrap: wrap;

          .img-fluid {
            width: 40px;
            height: 40px;
            object-fit: cover;
          }
        }

        .txt-div {
          width: calc(100% - 40px);
          padding: 6px 0 2px 10px;
          display: flex;
          flex-wrap: wrap;

          p {
            overflow: hidden;
            white-space: nowrap;
            max-width: 100px;
            display: inline-block;
            text-overflow: ellipsis;
          }
        }
      }

      .status-row-div {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .status-label-div {
          position: relative;
          margin: 0 10px 0 0;

          .status-label-txt {
            position: relative;
            padding: 0 0 0 15px;

            .dot {
              display: inline-block;
              height: 9px;
              width: 9px;
              background-color: #eb8900;
              border-radius: 100px;
              position: absolute;
              left: 0;
              top: 2px;
            }

            &.canceled-status {
              .dot {
                background-color: #eb0051;
              }
            }

            &.accepted-status {
              .dot {
                background-color: #12eb00;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .table.table-custom-01 {
    tbody {
      th {
        font-size: 14px;
        padding: 16px 15px 14px 15px;
        width: 90px;
      }

      td {
        font-size: 14px;
        padding: 16px 15px 14px 15px;
        min-width: 100px;
      }
    }
  }
}
