.table.table-custom-01 {
  tbody {
    td {
      color: #06151b;
      font-size: 16px;
      line-height: 1.5;
      font-weight: 700;
      padding: 16px 20px 14px 20px;
    }

    th {
      color: #06151b;
      font-size: 16px;
      line-height: 1.5;
      font-weight: 700;
      padding: 16px 20px 14px 20px;
      border-right: 1px solid #ebeaea;
      width: 110px;
      text-align: center;
    }
  }
}

.table.table-custom-02 {
  thead {
    th {
      color: #06151b;
      font-size: 16px;
      line-height: 1.5;
      font-weight: 700;
      padding: 12px 15px 10px 15px;
      text-align: left;

      &:first-child {
        padding-left: 20px;
      }

      &:last-child {
        padding-right: 20px;
      }

      &.width-50px {
        width: 50px;
      }

      &.width-8 {
        width: 8%;
      }

      &.width-10 {
        width: 10%;
      }

      &.width-11 {
        width: 11%;
      }

      &.width-12 {
        width: 12%;
      }

      &.width-13 {
        width: 13%;
      }

      &.width-14 {
        width: 14%;
      }

      &.width-16 {
        width: 16%;
      }

      &.width-18 {
        width: 18%;
      }

      &.width-15-50px {
        width: calc(15% - 15px);
      }

      &.width-25-50px {
        width: calc(25% - 15px);
      }

      &.width-30-50px {
        width: calc(30% - 15px);
      }

      &.width-34-50px {
        width: calc(34% - 15px);
      }

      &.width-45-50px {
        width: calc(45% - 15px);
      }

      &.width-15 {
        width: 15%;
      }

      &.width-20 {
        width: 20%;
      }

      &.width-25 {
        width: 25%;
      }

      &.width-26 {
        width: 26%;
      }

      &.width-30 {
        width: 30%;
      }

      &.width-35 {
        width: 35%;
      }

      &.width-40 {
        width: 40%;
      }

      &.min-width-90 {
        min-width: 90px;
      }

      &.min-width-115 {
        min-width: 115px;
      }

      &.min-width-125 {
        min-width: 125px;
      }

      &.min-width-140 {
        min-width: 140px;
      }

      &.min-width-150 {
        min-width: 150px;
      }

      &.min-width-160 {
        min-width: 160px;
      }

      &.min-width-172 {
        min-width: 172px;
      }

      &.min-width-200 {
        min-width: 205px;
      }
    }
  }

  tbody,
  tfoot {
    td {
      color: #06151b;
      font-size: 14px;
      line-height: 1.5;
      font-weight: 700;
      padding: 12px 15px 10px 15px;
      vertical-align: middle;

      &:first-child {
        padding-left: 20px;
      }

      &:last-child {
        padding-right: 20px;
      }

      .img-txt-div {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .img-div {
          width: 40px;
          display: flex;
          flex-wrap: wrap;

          .img-fluid {
            width: 40px;
            height: 40px;
            object-fit: cover;
          }
        }

        .txt-div {
          width: calc(100% - 40px);
          padding: 6px 0 2px 10px;
          display: flex;
          flex-wrap: wrap;

          p {
            overflow: hidden;
            white-space: nowrap;
            max-width: 100px;
            display: inline-block;
            text-overflow: ellipsis;
          }
        }
      }

      .txt-box-addr {
        .txt-color-01 {
          color: #707070;
        }
      }

      .status-row-div {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .status-label-div {
          position: relative;
          margin: 0 10px 0 0;

          .status-label-txt {
            position: relative;
            padding: 0 0 0 15px;

            .dot {
              display: inline-block;
              height: 9px;
              width: 9px;
              background-color: #eb8900;
              border-radius: 100px;
              position: absolute;
              left: 0;
              top: 2px;
            }

            &.canceled-status {
              .dot {
                background-color: #eb0051;
              }
            }

            &.accepted-status {
              .dot {
                background-color: #12eb00;
              }
            }

            /* status option2 */
            &.paid-status {
              .dot {
                background-color: #4088f6;
              }
            }

            &.pending-status {
              .dot {
                background-color: #ebeb3b;
              }
            }

            &.refunded-status {
              .dot {
                background-color: #ff9605;
              }
            }

            &.canceled-status2 {
              .dot {
                background-color: #e51616;
              }
            }

            /* End of status option2 */
            &.paid-status2 {
              .dot {
                background-color: #12eb00;
              }
            }

            &.completed-status {
              .dot {
                background-color: #12eb00;
              }
            }
          }
        }
      }

      .badge.badge-custom {
        padding: 5px 14px 3px 14px;
        font-size: 13px;
        line-height: 16px;
        border-radius: 5px;
        border: none;
        background-color: #12eb00;
        color: #fff;

        &.badge-debit {
          background-color: #e51616;
        }

        &.badge-credit {
          background-color: #12eb00;
        }
      }

      .prog-final-number-box {
        .number-bar {
          height: 52px;
          font-size: 24px;
          background-color: rgba(217, 216, 216, 0.7);
          border-radius: 10px;
          color: #2e2e2e;
          font-weight: 700;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          justify-content: center;
          padding: 10px 10px 5px 10px;

          &.bg-color-default {
            background-color: rgba(217, 216, 216, 0.7);
          }
        }
      }

      h5.font-text-h5 {
        font-size: 16px;
        line-height: 22px;
        font-weight: 700;
        color: #2e2e2e;
      }
    }
  }
}

.table.table-borderless {
  thead {
    th {
      border-color: transparent;
      text-align: left;
    }
  }

  tbody {
    td {
      border-color: transparent;
    }
  }
}

.table-heading-borderless {
  thead {
    th {
      border-color: transparent;
    }
  }
}

@media (max-width: 767px) {
  .table.table-custom-01 {
    tbody {
      th {
        font-size: 14px;
        padding: 16px 15px 14px 15px;
        width: 90px;
      }

      td {
        font-size: 14px;
        padding: 16px 15px 14px 15px;
        min-width: 100px;
      }
    }
  }
}
