html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

html {
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  background-color: #fdfeff;
  scroll-behavior: smooth;
  font-family: "Myriad Pro", sans-serif;
}

.wrapper {
  background-color: #fdfeff;
  display: block;
  height: 100%;
  min-height: 100vh;
}

.wrapper .btn.focus,
.wrapper .btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.container {
  max-width: 1200px;
}

.container-lg {
  max-width: 1280px;
}

.container-fluid-1920 {
  max-width: 1735px;
}

.container-fluid-1820 {
  max-width: 1585px;
}

.container-fluid-1600 {
  max-width: 1600px;
}

.page-link:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (min-width: 1025px) and (max-width: 1450px) {
  .container-fluid-1920 {
    max-width: 1285px;
  }
  .container-fluid-1820 {
    max-width: 1285px;
  }
}

@media (min-width: 1025px) and (max-width: 1281px) {
  .container-fluid-1920 {
    max-width: 1185px;
  }
  .container-fluid-1820 {
    max-width: 1185px;
  }
}

.display_show {
  display: block;
}

.desktop-hidden {
  display: none;
}

.block {
  display: block;
}

body {
  overflow-x: hidden;
}

.position-fixed {
  position: unset !important;
  overflow: hidden;
}

.mr-10 {
  margin-right: 10px !important;
}

.mlr-6 {
  margin-right: -6px !important;
  margin-left: -6px !important;
}

.plr-6 {
  padding-right: 6px !important;
  padding-left: 6px !important;
}

.mlr-10 {
  margin-right: -10px !important;
  margin-left: -10px !important;
}

.plr-10 {
  padding-right: 10px !important;
  padding-left: 10px !important;
}

.container-fluid {
  max-width: calc(100% - 30px);
}

.btn.btn-primary {
  background-color: #fecb2f;
  border-radius: 10px;
  color: #06151b;
  padding: 7px 16px 6px 16px;
  min-height: 46px;
  font-weight: 700;
  border: none;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active {
  background-color: #f3c330;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn.btn-primary:not(:disabled):not(.disabled).active, .btn.btn-primary:not(:disabled):not(.disabled):active {
  color: #06151b;
  background-color: #f3c330;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn.btn-primary.btn-primary-big {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 24px;
  border-radius: 15px;
  min-height: 60px;
  line-height: 24px;
  font-weight: 600;
  padding: 10px 16px 6px 16px;
}

/* START MAIN STYLE */
.form-icon-custom-root .input-form-group {
  padding: 0;
  margin-bottom: 25px;
}

.form-icon-custom-root .input-form-group .form-control {
  font-size: 20px;
  color: #707070;
  background-color: #fff;
  border: 1px solid #d9d8d8;
  border-radius: 15px;
  min-height: 60px;
  padding: 12px 15px 8px 72px;
  line-height: 24px;
  margin: 0 0 5px 0;
  font-weight: 600;
}

.form-icon-custom-root .input-form-group .form-control::-webkit-input-placeholder {
  color: #707070;
}

.form-icon-custom-root .input-form-group .form-control::-moz-placeholder {
  color: #707070;
}

.form-icon-custom-root .input-form-group .form-control:-ms-input-placeholder {
  color: #707070;
}

.form-icon-custom-root .input-form-group .form-control:-moz-placeholder {
  color: #707070;
}

.form-icon-custom-root .input-form-group .form-control:hover, .form-icon-custom-root .input-form-group .form-control:focus, .form-icon-custom-root .input-form-group .form-control:active {
  border-color: #707070;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.form-icon-custom-root .input-form-group .form-group-row {
  position: relative;
}

.form-icon-custom-root .input-form-group .icon-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  height: 60px;
  width: 72px;
  padding: 0 0 0 10px;
}

.user-module-main-section {
  padding: 80px 0 0 0;
  margin: 0;
  position: relative;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  min-height: 100vh;
}

.check-availability-main-section {
  padding: 0;
  margin: 0;
  position: relative;
}

.check-availability-main-section .check-availability-div {
  padding: 60px 0;
  margin: 0;
  position: relative;
  min-height: calc(100vh - 80px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.check-availability-main-section .check-availability-div .check-availability-root {
  width: 100%;
}

.check-availability-main-section .check-card-center-height {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.check-availability-main-section .check-availability-card {
  padding: 30px;
  margin: 0;
  position: relative;
  background: #06151b;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
}

.check-availability-main-section .check-availability-card .check-availability-card-top {
  padding: 0;
  margin: 0 0 30px 0;
  position: relative;
}

.check-availability-main-section .check-availability-card .check-availability-card-top h2 {
  font-size: 32px;
  line-height: 38px;
  font-weight: 600;
  color: #fff;
}

.check-availability-main-section .check-availability-card .check-availability-card-middle {
  padding: 0;
  margin: 0 0 20px 0;
  position: relative;
}

.check-availability-main-section .availability-center-char-div {
  padding: 0;
  margin: 0;
  position: relative;
}

.check-availability-main-section .availability-center-char-div .thumb-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.check-availability-main-section .availability-center-char-div .img-character {
  max-height: calc(100vh - 210px);
  -o-object-fit: contain;
     object-fit: contain;
}

/* left side */
.user-left-side-nav {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #06151b;
  width: 320px;
  height: 100%;
  padding-top: 80px;
  min-height: 100vh;
  z-index: 999;
  border-right: 1px solid #06151b;
}

.user-left-side-nav .nav-logo-section {
  padding: 5px 15px 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  min-height: 100px;
}

.user-left-side-nav .nav-logo-section .dash-logo {
  max-height: 100%;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.user-left-side-nav .nav-logo-section .dash-logo img {
  width: 100%;
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
}

.user-left-side-nav .user-info-div-menu .profile-pic-upload-group {
  position: relative;
  padding: 50px 25px 25px 25px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-left-side-nav .user-info-div-menu .profile-pic-upload-group .circle {
  width: 72px;
  height: 72px;
  position: relative;
  border-radius: 100%;
  display: block;
}

.user-left-side-nav .user-info-div-menu .profile-pic-upload-group .circle .profile-pic {
  width: 72px;
  height: 72px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  display: block;
  border: 1px solid #f6f8fb;
  background-color: #f6f8fb;
}

.user-left-side-nav .user-info-div-menu .profile-pic-upload-group .circle label.filelabel-icon {
  height: 30px;
  width: 30px;
  background: #fff;
  color: #06151b;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100%;
  font-size: 14px;
  position: absolute;
  bottom: -3px;
  left: -3px;
  cursor: pointer;
  border: 0;
}

.user-left-side-nav .user-info-div-menu .profile-pic-upload-group .circle label.filelabel-icon .material-icons {
  font-size: 21px;
}

.user-left-side-nav .user-info-div-menu .profile-pic-upload-group .text-div {
  width: calc(100% - 72px);
  padding: 0 0 0 13px;
}

.user-left-side-nav .user-info-div-menu .profile-pic-upload-group .text-div h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;
  color: #fff;
  letter-spacing: -0.2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 3px 0;
}

.user-left-side-nav .user-info-div-menu .profile-pic-upload-group .text-div p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  color: #fff;
  letter-spacing: -0.15px;
  display: block;
}

.user-left-side-nav .user-info-div-menu .profile-pic-upload-group .text-div .text-div-inner {
  position: relative;
}

.user-left-side-nav .left-side-menu {
  padding: 0 0;
}

.user-left-side-nav .left-side-menu .left-side-inner {
  height: calc(100vh - 80px);
  min-height: 100px;
  overflow-y: auto;
  position: relative;
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
}

.user-left-side-nav .left-side-menu .left-side-inner::-webkit-scrollbar {
  width: 5px;
}

.user-left-side-nav .left-side-menu .left-side-inner::-webkit-scrollbar-track {
  background: #000;
}

.user-left-side-nav .left-side-menu .left-side-inner::-webkit-scrollbar-thumb {
  background: #70777a;
}

.user-left-side-nav .left-side-menu .left-side-inner::-webkit-scrollbar-thumb:hover {
  background: #70777a;
}

.user-left-side-nav .left-side-menu .left-side-inner .responsive-menu-view-div {
  display: none;
}

.user-left-side-nav .left-side-menu .left-side-inner .side-nav-item {
  padding-bottom: 30px;
}

.user-left-side-nav .left-side-menu .left-side-inner .side-nav-item ul {
  margin: 0;
  padding: 0;
}

.user-left-side-nav .left-side-menu .left-side-inner .side-nav-item ul li.active .nav-link {
  position: relative;
  color: #fff;
  background: #838a8d;
  font-weight: 600;
}

.user-left-side-nav .left-side-menu .left-side-inner .side-nav-item ul li {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.user-left-side-nav .left-side-menu .left-side-inner .side-nav-item ul li .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: #06151b;
  padding: 12px 25px 10px 25px;
  width: 100%;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  letter-spacing: 0;
  border-radius: 0;
  min-height: 66px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  cursor: pointer;
}

.user-left-side-nav .left-side-menu .left-side-inner .side-nav-item ul li .nav-link .icon-span {
  width: 25px;
  text-align: center;
}

.user-left-side-nav .left-side-menu .left-side-inner .side-nav-item ul li .nav-link .text-collapse-menu {
  width: 100%;
}

.user-left-side-nav .left-side-menu .left-side-inner .side-nav-item ul li .nav-link:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #70777a;
}

/* End of left side */
.user-right-side-main-div {
  padding: 0 0 0 320px;
  min-height: calc(100vh - 80px);
}

.user-right-side-main-div .container-fluid {
  max-width: 100%;
}

.user-right-side-main-div .user-module-right-inner-div {
  padding: 30px 15px 5px 15px;
  margin: 0;
}

.more-text-content .block-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.more-text-content .morecontent span {
  display: none;
}

.more-text-content .morelink {
  color: #707070;
  font-weight: 600;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0;
}

.more-text-content .morelink i.fe {
  font-size: 24px;
  padding: 0 0 0 5px;
}

.booking-main-section {
  padding: 0;
  margin: 0;
  position: relative;
}

.booking-main-section .heading-title-div {
  padding: 20px 0 0 0;
  margin: 0 0 30px 0;
  position: relative;
}

.booking-main-section .heading-title-div h1 {
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  color: #06151b;
  display: block;
}

.booking-main-section .btn-booking-div {
  padding: 0;
  margin: 0 0 20px 0;
  position: relative;
}

.booking-main-section .btn-booking-div .btn.btn-white-primary {
  padding: 11px 20px 6px 20px;
  background-color: #fff;
  border: 1px solid #d9d8d8;
  width: 100%;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  color: #2e2e2e;
  font-weight: 600;
  border-radius: 10px;
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.booking-main-section .btn-booking-div .btn.btn-white-primary:hover, .booking-main-section .btn-booking-div .btn.btn-white-primary:focus, .booking-main-section .btn-booking-div .btn.btn-white-primary:active {
  background-color: #f3c330;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.booking-main-section .btn-booking-div .btn.btn-white-primary:not(:disabled):not(.disabled).active, .booking-main-section .btn-booking-div .btn.btn-white-primary:not(:disabled):not(.disabled):active {
  color: #06151b;
  background-color: #f3c330;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.booking-main-section .header-booking-wcard-div {
  margin: 0 0 30px 0;
}

.booking-main-section .header-booking-wcard-div h4 {
  padding: 0;
  margin: 0;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 700;
  color: #06151b;
  display: block;
}

.booking-main-section .booking-listing-white-card-root {
  padding: 0;
  margin: 0 0 40px 0;
  position: relative;
}

.booking-main-section .booking-listing-white-card-root .booking-listing-wcard {
  margin: 0 0 55px 0;
  border-radius: 10px;
  position: relative;
  width: 100%;
  -webkit-box-shadow: 0 0 15px 0 #00000029;
          box-shadow: 0 0 15px 0 #00000029;
}

.booking-main-section .booking-listing-white-card-root .booking-listing-wcard .booking-listing-wcard-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.booking-main-section .booking-listing-white-card-root .booking-listing-wcard .booking-listing-wcard-row .booking-listing-wcard-left {
  padding: 25px;
  width: calc(100% - 230px);
}

.booking-main-section .booking-listing-white-card-root .booking-listing-wcard .booking-listing-wcard-row .booking-listing-wcard-left .status-div {
  padding: 0;
  margin: 0 0 15px 0;
  position: relative;
  display: block;
}

.booking-main-section .booking-listing-white-card-root .booking-listing-wcard .booking-listing-wcard-row .booking-listing-wcard-left .status-div .badge-status {
  padding: 8px 20px 5px 20px;
  background: #12eb00;
  border-radius: 20px;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  display: inline-block;
}

.booking-main-section .booking-listing-white-card-root .booking-listing-wcard .booking-listing-wcard-row .booking-listing-wcard-left .status-div .badge-status.in-progress-status {
  background: #ff9605;
}

.booking-main-section .booking-listing-white-card-root .booking-listing-wcard .booking-listing-wcard-row .booking-listing-wcard-left .text-div h2 {
  color: #2e2e2e;
  padding: 0;
  margin: 0 0 8px 0;
  font-size: 20px;
  line-height: 1.3;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.booking-main-section .booking-listing-white-card-root .booking-listing-wcard .booking-listing-wcard-row .booking-listing-wcard-left .text-div h2 .link {
  color: inherit;
}

.booking-main-section .booking-listing-white-card-root .booking-listing-wcard .booking-listing-wcard-row .booking-listing-wcard-left .text-div p {
  color: #2e2e2e;
  padding: 0;
  margin: 0 0 5px 0;
  font-size: 16px;
  line-height: 1.3;
  font-weight: 400;
  display: block;
}

.booking-main-section .booking-listing-white-card-root .booking-listing-wcard .booking-listing-wcard-row .booking-listing-wcard-left .text-div .link-row-div {
  padding: 10px 0 0 0;
}

.booking-main-section .booking-listing-white-card-root .booking-listing-wcard .booking-listing-wcard-row .booking-listing-wcard-left .text-div .link-row-div p {
  font-weight: 600;
  margin-bottom: 0;
}

.booking-main-section .booking-listing-white-card-root .booking-listing-wcard .booking-listing-wcard-row .booking-listing-wcard-left .text-div .link-row-div p .link {
  color: inherit;
}

.booking-main-section .booking-listing-white-card-root .booking-listing-wcard .booking-listing-wcard-row .booking-listing-wcard-left .text-div .btn-div-book {
  margin: 20px 0 0 0;
}

.booking-main-section .booking-listing-white-card-root .booking-listing-wcard .booking-listing-wcard-row .booking-listing-wcard-left .text-div .btn-div-book .btn.btn-primary.btn-primary-big {
  max-width: 330px;
  font-size: 20px;
  border-radius: 10px;
  font-weight: 700;
  min-height: 45px;
  padding: 10px 16px 6px 16px;
}

.booking-main-section .booking-listing-white-card-root .booking-listing-wcard .booking-listing-wcard-row .booking-listing-wcard-right {
  width: 230px;
  border-left: 1px solid #d9d8d8;
}

.booking-main-section .booking-listing-white-card-root .booking-listing-wcard .booking-listing-wcard-row .booking-listing-wcard-right .booking-date-div {
  padding: 20px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

.booking-main-section .booking-listing-white-card-root .booking-listing-wcard .booking-listing-wcard-row .booking-listing-wcard-right .booking-date-div .booking-date-inner {
  width: 100%;
}

.booking-main-section .booking-listing-white-card-root .booking-listing-wcard .booking-listing-wcard-row .booking-listing-wcard-right .booking-date-div p {
  color: #2e2e2e;
  font-size: 18px;
  line-height: 1.3;
  font-weight: 400;
  text-align: center;
  display: block;
}

.booking-main-section .booking-listing-white-card-root .booking-listing-wcard .booking-listing-wcard-row .booking-listing-wcard-right .booking-date-div .mb-auto-p {
  margin-bottom: 15px;
}

.booking-main-section .booking-listing-white-card-root .booking-listing-wcard .booking-listing-wcard-row .booking-listing-wcard-right .booking-date-div h3 {
  color: #2e2e2e;
  padding: 0;
  margin: 0 0 0 0;
  font-size: 36px;
  line-height: 1.3;
  font-weight: 700;
  display: block;
  text-align: center;
}

.booking-main-section .fav-bn-listing-white-card-root {
  padding: 0;
  margin: 0 0 40px 0;
  position: relative;
}

.booking-main-section .fav-bn-listing-white-card-root .fav-bn-listing-wcard {
  margin: 0 0 45px 0;
  position: relative;
  width: 100%;
}

.booking-main-section .fav-bn-listing-white-card-root .fav-bn-listing-wcard .fav-bn-listing-wcard-row {
  width: 100%;
}

.booking-main-section .fav-bn-listing-white-card-root .fav-bn-listing-wcard .fav-bn-listing-wcard-row .fav-bn-thumb-div {
  padding: 0;
  margin: 0 0 15px 0;
  position: relative;
}

.booking-main-section .fav-bn-listing-white-card-root .fav-bn-listing-wcard .fav-bn-listing-wcard-row .fav-bn-thumb-div .thumb-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.booking-main-section .fav-bn-listing-white-card-root .fav-bn-listing-wcard .fav-bn-listing-wcard-row .fav-bn-thumb-div .thumb-div .img-fluid {
  width: 100%;
  border-radius: 10px;
  height: 290px;
  -o-object-fit: cover;
     object-fit: cover;
}

.booking-main-section .fav-bn-listing-white-card-root .fav-bn-listing-wcard .fav-bn-listing-wcard-row .fav-bn-thumb-div .text-reviews-div {
  padding: 15px 20px;
  background-color: rgba(6, 21, 27, 0.75);
  color: #fff;
  border-radius: 0 10px 0 10px;
  position: absolute;
  top: 0;
  right: 0;
}

.booking-main-section .fav-bn-listing-white-card-root .fav-bn-listing-wcard .fav-bn-listing-wcard-row .fav-bn-thumb-div .text-reviews-div h3 {
  padding: 0;
  margin: 0;
  font-size: 30px;
  line-height: 1.3;
  font-weight: 700;
  text-align: center;
}

.booking-main-section .fav-bn-listing-white-card-root .fav-bn-listing-wcard .fav-bn-listing-wcard-row .fav-bn-thumb-div .text-reviews-div p {
  font-size: 14px;
  line-height: 1.3;
  font-weight: 400;
  text-align: center;
}

.booking-main-section .fav-bn-listing-white-card-root .fav-bn-listing-wcard .fav-bn-listing-wcard-row .content-div h2 {
  color: #2e2e2e;
  padding: 0;
  margin: 0 0 5px 0;
  font-size: 20px;
  line-height: 1.3;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.booking-main-section .fav-bn-listing-white-card-root .fav-bn-listing-wcard .fav-bn-listing-wcard-row .content-div h2 .link {
  color: inherit;
}

.booking-main-section .fav-bn-listing-white-card-root .fav-bn-listing-wcard .fav-bn-listing-wcard-row .content-div p {
  color: #2e2e2e;
  padding: 0;
  margin: 0 0 5px 0;
  font-size: 16px;
  line-height: 1.3;
  font-weight: 500;
  display: block;
}

.booking-main-section .fav-bn-listing-white-card-root .fav-bn-listing-wcard .fav-bn-listing-wcard-row .content-div .link-row-div {
  padding: 10px 0 0 0;
}

.booking-main-section .fav-bn-listing-white-card-root .fav-bn-listing-wcard .fav-bn-listing-wcard-row .content-div .link-row-div p {
  font-weight: 600;
  margin-bottom: 0;
}

.booking-main-section .fav-bn-listing-white-card-root .fav-bn-listing-wcard .fav-bn-listing-wcard-row .content-div .link-row-div p .link {
  color: inherit;
}

.booking-main-section .reviews-listing-white-card-root {
  padding: 0;
  margin: 0 0 40px 0;
  position: relative;
}

.booking-main-section .reviews-listing-white-card-root .reviews-listing-wcard {
  position: relative;
  width: 100%;
}

.booking-main-section .reviews-listing-white-card-root .reviews-listing-wcard .reviews-listing-wcard-row {
  width: 100%;
  padding: 0 0 5px 0;
  margin: 0 0 25px 0;
  border-bottom: 1px solid #d9d8d8;
}

.booking-main-section .reviews-listing-white-card-root .reviews-listing-wcard .reviews-listing-wcard-row .reviews-wcard-top-div .profile-group-div {
  padding: 0;
  margin: 0 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.booking-main-section .reviews-listing-white-card-root .reviews-listing-wcard .reviews-listing-wcard-row .reviews-wcard-top-div .profile-group-div .circle-img-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 60px;
}

.booking-main-section .reviews-listing-white-card-root .reviews-listing-wcard .reviews-listing-wcard-row .reviews-wcard-top-div .profile-group-div .text-div {
  width: calc(100% - 60px);
  padding: 0 0 0 12px;
}

.booking-main-section .reviews-listing-white-card-root .reviews-listing-wcard .reviews-listing-wcard-row .reviews-wcard-top-div .profile-group-div .text-div h3 {
  color: #707070;
  margin: 0 0 2px 0;
  font-size: 18px;
  line-height: 1.3;
  font-weight: 500;
}

.booking-main-section .reviews-listing-white-card-root .reviews-listing-wcard .reviews-listing-wcard-row .reviews-wcard-top-div .profile-group-div .text-div .star-row-div {
  color: #707070;
  margin: 0;
  font-size: 14px;
  line-height: 1.3;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

.booking-main-section .reviews-listing-white-card-root .reviews-listing-wcard .reviews-listing-wcard-row .reviews-wcard-top-div .profile-group-div .text-div .star-row-div ul.star-rating-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

.booking-main-section .reviews-listing-white-card-root .reviews-listing-wcard .reviews-listing-wcard-row .reviews-wcard-top-div .profile-group-div .text-div .star-row-div ul.star-rating-ul li {
  display: inline-block;
}

.booking-main-section .reviews-listing-white-card-root .reviews-listing-wcard .reviews-listing-wcard-row .reviews-wcard-top-div .profile-group-div .text-div .star-row-div ul.star-rating-ul .star-custom-icon {
  color: #9b9b9b;
  font-size: 18px;
  margin: 0;
}

.booking-main-section .reviews-listing-white-card-root .reviews-listing-wcard .reviews-listing-wcard-row .reviews-wcard-top-div .profile-group-div .text-div .star-row-div ul.star-rating-ul .star-custom-icon.active {
  color: #f3c330;
}

.booking-main-section .reviews-listing-white-card-root .reviews-listing-wcard .reviews-listing-wcard-row .reviews-wcard-top-div .profile-group-div .text-div .star-row-div span.txt-span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 1px 10px;
}

.booking-main-section .reviews-listing-white-card-root .reviews-listing-wcard .reviews-listing-wcard-row .content-div p {
  color: #2e2e2e;
  padding: 0;
  margin: 0 0 5px 0;
  font-size: 18px;
  line-height: 1.3;
  font-weight: 500;
  display: block;
}

.booking-main-section .reviews-listing-white-card-root .reviews-listing-wcard .reviews-listing-wcard-row:last-child {
  border-bottom: 0 solid #d9d8d8;
}

.bk-map-card-root {
  padding: 0;
  margin: 0;
  position: relative;
}

.bk-map-card-root .bk-map-card-root-inner {
  padding: 0;
  margin: 0 0 40px 0;
  position: relative;
}

.bk-map-card-root .bk-map-card-rt-top .status-div {
  padding: 0;
  margin: 0 0 30px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bk-map-card-root .bk-map-card-rt-top .status-div .badge-status {
  padding: 12px 30px 7px 30px;
  background: #ff9605;
  border-radius: 20px;
  color: #fff;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  display: inline-block;
}

.bk-map-card-root .bk-map-card-rt-middle .bk-map-thumb-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 50px 0;
}

.bk-map-card-root .bk-map-card-rt-middle .bk-map-thumb-card .img-fluid {
  height: 600px;
  width: calc(100% - 80px);
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.bk-map-card-root .bk-map-card-rt-middle .bk-info-text-card {
  padding: 10px 0 50px 0;
  border-bottom: 1px solid #d9d8d8;
}

.bk-map-card-root .bk-map-card-rt-middle .bk-info-text-card .bk-info-wcard-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bk-map-card-root .bk-map-card-rt-middle .bk-info-text-card .bk-info-wcard-row .bk-info-wcard-left {
  width: 60%;
}

.bk-map-card-root .bk-map-card-rt-middle .bk-info-text-card .bk-info-wcard-row .bk-info-wcard-left .text-div h2 {
  color: #2e2e2e;
  padding: 0;
  margin: 0 0 10px 0;
  font-size: 20px;
  line-height: 1.3;
  font-weight: 700;
}

.bk-map-card-root .bk-map-card-rt-middle .bk-info-text-card .bk-info-wcard-row .bk-info-wcard-left .text-div h2 .block {
  display: block;
}

.bk-map-card-root .bk-map-card-rt-middle .bk-info-text-card .bk-info-wcard-row .bk-info-wcard-left .text-div p {
  color: #2e2e2e;
  padding: 0;
  margin: 0 0 5px 0;
  font-size: 16px;
  line-height: 1.3;
  font-weight: 600;
  display: block;
}

.bk-map-card-root .bk-map-card-rt-middle .bk-info-text-card .bk-info-wcard-row .bk-info-wcard-left .text-div p .link {
  color: inherit;
}

.bk-map-card-root .bk-map-card-rt-middle .bk-info-text-card .bk-info-wcard-row .bk-info-wcard-right {
  width: 40%;
}

.bk-map-card-root .bk-map-card-rt-middle .bk-info-text-card .bk-info-wcard-row .bk-info-wcard-right h2 {
  color: #2e2e2e;
  padding: 0;
  margin: 0 0 10px 0;
  font-size: 20px;
  line-height: 1.3;
  font-weight: 700;
  text-align: right;
}

.bk-map-card-root .bk-map-card-rt-middle .bk-info-text-card .bk-info-wcard-row .bk-info-wcard-right h2 .block {
  display: block;
}

.bk-map-card-root .bk-map-card-rt-middle .bk-info-text-card .bk-info-wcard-row .bk-info-wcard-right p {
  color: #2e2e2e;
  padding: 0;
  margin: 0 0 10px 0;
  font-size: 18px;
  line-height: 1.3;
  font-weight: 600;
  display: block;
  text-align: right;
}

.bk-map-card-root .bk-map-card-rt-bottom {
  padding: 40px 0 0 0;
}

.bk-map-card-root .bk-map-card-rt-bottom .bk-action-bottom-div .btn.btn-white-primary.btn-cancel {
  color: #e51616;
}

.bk-map-card-root .bk-map-card-rt-bottom .bk-action-bottom-div .btn.btn-white-primary.btn-cancel:hover, .bk-map-card-root .bk-map-card-rt-bottom .bk-action-bottom-div .btn.btn-white-primary.btn-cancel:focus, .bk-map-card-root .bk-map-card-rt-bottom .bk-action-bottom-div .btn.btn-white-primary.btn-cancel:active {
  background-color: #e51616;
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.bk-progress-card-root {
  padding: 0;
  margin: 0 0 40px 0;
  position: relative;
}

.bk-progress-card-root .bk-progress-card-root-inner {
  padding: 0 0 20px 0;
  border-bottom: 1px solid #d9d8d8;
}

.bk-progress-card-root .bk-progress-div .width-20 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  max-width: 20%;
}

.bk-progress-card-root .bk-progress-div .bk-progress-card-bx {
  padding: 0;
  margin: 0 0 25px 0;
  position: relative;
}

.bk-progress-card-root .bk-progress-div .bk-progress-card-bx .bk-progress-thumb-bx {
  padding: 10px;
  margin: 0 0 15px 0;
  position: relative;
  background: #d9d8d8;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 105px;
}

.bk-progress-card-root .bk-progress-div .bk-progress-card-bx .bk-progress-thumb-bx .img-progress {
  -o-object-fit: contain;
     object-fit: contain;
  max-height: 80px;
}

.bk-progress-card-root .bk-progress-div .bk-progress-card-bx .bk-progress-txt-bx p {
  color: #06151b;
  padding: 0;
  margin: 0 0 5px 0;
  font-size: 20px;
  line-height: 1.3;
  font-weight: 400;
  display: block;
  text-align: center;
}

.bk-progress-card-root .bk-progress-div .bk-progress-card-bx.active .bk-progress-thumb-bx {
  background: #fecb2f;
}

.bk-picture-card-root {
  padding: 0;
  margin: 0 0 40px 0;
  position: relative;
}

.bk-picture-card-root .bk-picture-card-root-inner {
  padding: 0 0 30px 0;
}

.bk-picture-card-root .bk-picture-div .bk-picture-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bk-picture-card-root .bk-picture-div .bk-picture-card-bx {
  padding: 0;
  margin: 0 40px 40px 0;
  position: relative;
}

.bk-picture-card-root .bk-picture-div .bk-picture-card-bx .bk-picture-thumb-bx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bk-picture-card-root .bk-picture-div .bk-picture-card-bx .bk-picture-thumb-bx .img-picture {
  height: 120px;
  width: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 200px;
}

.bk-picture-card-root .bk-picture-div .bk-picture-card-bx .bk-progress-txt-bx p {
  color: #06151b;
  padding: 0;
  margin: 0 0 5px 0;
  font-size: 20px;
  line-height: 1.3;
  font-weight: 400;
  display: block;
  text-align: center;
}

.bk-picture-card-root .bk-picture-div .bk-picture-card-bx.active .bk-progress-thumb-bx {
  background: #fecb2f;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@media (max-width: 767px) {
  .container-fluid {
    max-width: 100%;
  }
  body.overflow-fixed {
    overflow: hidden;
  }
  .mobile-hidden {
    display: none;
  }
  .user-module-main-section {
    padding: 70px 0 0 0;
  }
  .user-responsive-menu-view-div {
    display: block;
  }
  .user-responsive-menu-view-div .user-left-side-nav {
    display: block;
    width: 100%;
    height: 100%;
    min-height: auto;
    padding-top: 0;
    position: relative;
  }
  .user-responsive-menu-view-div .user-left-side-nav .left-side-inner {
    height: auto;
  }
  .user-right-side-main-div {
    padding: 0;
    min-height: calc(100vh - 70px);
  }
  .user-right-side-main-div .user-module-right-inner-div {
    padding: 20px 0 5px 0;
  }
  .form-icon-custom-root .input-form-group .form-control {
    font-size: 16px;
    padding: 13px 15px 8px 50px;
  }
  .form-icon-custom-root .input-form-group .icon-group {
    width: 50px;
  }
  .form-icon-custom-root .input-form-group .icon-group .bg-custom-icon {
    width: 24px;
    height: 24px;
  }
  .form-icon-custom-root .btn.btn-primary.btn-primary-big {
    font-size: 18px;
  }
  .check-availability-main-section .check-availability-div {
    padding: 40px 0 40px 0;
  }
  .check-availability-main-section .check-availability-card {
    padding: 20px 15px;
    margin: 0 0 40px 0;
  }
  .check-availability-main-section .check-availability-card .check-availability-card-top h2 {
    font-size: 24px;
    line-height: 32px;
    color: #fff;
  }
  .booking-main-section .heading-title-div {
    padding: 15px 0 0 0;
    margin: 0 0 20px 0;
  }
  .booking-main-section .heading-title-div h1 {
    font-size: 24px;
    line-height: 36px;
  }
  .booking-main-section .header-booking-wcard-div {
    margin: 0 0 20px 0;
  }
  .booking-main-section .header-booking-wcard-div h4 {
    font-size: 16px;
  }
  .booking-main-section .btn-booking-div .btn.btn-white-primary {
    font-size: 16px;
    line-height: 26px;
  }
  .booking-main-section .booking-listing-white-card-root .booking-listing-wcard {
    margin: 0 0 35px 0;
  }
  .booking-main-section .booking-listing-white-card-root .booking-listing-wcard .booking-listing-wcard-row .booking-listing-wcard-left {
    padding: 25px 15px;
    width: 100%;
  }
  .booking-main-section .booking-listing-white-card-root .booking-listing-wcard .booking-listing-wcard-row .booking-listing-wcard-left .status-div .badge-status {
    padding: 7px 15px 3px 15px;
    font-size: 13px;
    line-height: 20px;
  }
  .booking-main-section .booking-listing-white-card-root .booking-listing-wcard .booking-listing-wcard-row .booking-listing-wcard-right {
    width: 100%;
    border-left: 0 solid #d9d8d8;
    border-top: 1px solid #d9d8d8;
  }
  .booking-main-section .booking-listing-white-card-root .booking-listing-wcard .booking-listing-wcard-row .booking-listing-wcard-right .booking-date-div .mb-auto-p {
    margin-bottom: 0;
  }
  .bk-map-card-root .bk-map-card-rt-middle .bk-map-thumb-card {
    margin: 0 0 30px 0;
  }
  .bk-map-card-root .bk-map-card-rt-middle .bk-map-thumb-card .img-fluid {
    height: 300px;
    width: 100%;
  }
  .bk-map-card-root .bk-map-card-rt-middle .bk-info-text-card .bk-info-wcard-row .bk-info-wcard-left .text-div h2 {
    font-size: 14px;
  }
  .bk-map-card-root .bk-map-card-rt-middle .bk-info-text-card .bk-info-wcard-row .bk-info-wcard-left .text-div p {
    font-size: 12px;
  }
  .bk-map-card-root .bk-map-card-rt-middle .bk-info-text-card .bk-info-wcard-row .bk-info-wcard-right h2 {
    font-size: 14px;
  }
  .bk-map-card-root .bk-map-card-rt-middle .bk-info-text-card .bk-info-wcard-row .bk-info-wcard-right p {
    font-size: 12px;
  }
  .bk-progress-card-root .bk-progress-div .width-20 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .bk-progress-card-root .bk-progress-div .bk-progress-card-bx .bk-progress-txt-bx p {
    font-size: 16px;
  }
  .bk-picture-card-root .bk-picture-div .bk-picture-card-bx {
    margin: 0 25px 25px 0;
  }
  .bk-picture-card-root .bk-picture-div .bk-picture-card-bx .bk-picture-thumb-bx .img-picture {
    height: 85px;
    width: 85px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container-fluid {
    max-width: 100%;
  }
  body.overflow-fixed {
    overflow: hidden;
  }
  .user-module-main-section {
    padding: 70px 0 0 0;
  }
  .mobile-hidden {
    display: none;
  }
  .user-module-main-section {
    padding: 70px 0 0 0;
  }
  .user-responsive-menu-view-div {
    display: block;
  }
  .user-responsive-menu-view-div .user-left-side-nav {
    display: block;
    width: 100%;
    height: 100%;
    min-height: auto;
    padding-top: 0;
    position: relative;
  }
  .user-responsive-menu-view-div .user-left-side-nav .left-side-inner {
    height: auto;
  }
  .user-right-side-main-div {
    padding: 0;
    min-height: calc(100vh - 70px);
  }
  .user-right-side-main-div .user-module-right-inner-div {
    padding: 20px 0 5px 0;
  }
  .check-availability-main-section .check-card-center-height {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0 20px 0;
  }
  .check-availability-main-section .availability-center-char-div .img-character {
    max-width: 500px;
  }
  .check-availability-main-section .check-availability-div {
    padding: 40px 0 40px 0;
  }
  .check-availability-main-section .check-availability-card {
    margin: 0 0 40px 0;
    padding: 25px;
  }
  .check-availability-main-section .check-availability-card .check-availability-card-top h2 {
    font-size: 24px;
    line-height: 32px;
    color: #fff;
  }
  .bk-progress-card-root .bk-progress-div .width-20 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3%;
            flex: 0 0 33.3%;
    max-width: 33.3%;
  }
  .bk-progress-card-root .bk-progress-div .bk-progress-card-bx .bk-progress-txt-bx p {
    font-size: 16px;
  }
  .bk-picture-card-root .bk-picture-div .bk-picture-card-bx {
    margin: 0 25px 25px 0;
  }
  .bk-picture-card-root .bk-picture-div .bk-picture-card-bx .bk-picture-thumb-bx .img-picture {
    height: 95px;
    width: 95px;
  }
}
/*# sourceMappingURL=user-style.css.map */