@charset "utf-8";

@import "../default-style";

.display_show {
  display: block;
}

.desktop-hidden {
  display: none;
}

.block {
  display: block;
}

body {
  overflow-x: hidden;
}

.position-fixed {
  position: unset !important;
  overflow: hidden;
}

.mr-10 {
  margin-right: 10px !important;
}

.mlr-6 {
  margin-right: -6px !important;
  margin-left: -6px !important;
}

.plr-6 {
  padding-right: 6px !important;
  padding-left: 6px !important;
}

.mlr-10 {
  margin-right: -10px !important;
  margin-left: -10px !important;
}

.plr-10 {
  padding-right: 10px !important;
  padding-left: 10px !important;
}

.container-fluid {
  max-width: calc(100% - 30px);
}

.btn.btn-primary {
  background-color: #fecb2f;
  border-radius: 10px;
  color: #06151b;
  padding: 7px 16px 6px 16px;
  min-height: 46px;
  font-weight: 700;
  border: none;
  transition: all 0.8s;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &:hover,
  &:focus,
  &:active {
    background-color: #f3c330;
    box-shadow: none;
  }

  &:not(:disabled):not(.disabled).active,
  &:not(:disabled):not(.disabled):active {
    color: #06151b;
    background-color: #f3c330;
    box-shadow: none;
  }

  &.btn-primary-big {
    width: 100%;
    justify-content: center;
    font-size: 24px;
    border-radius: 15px;
    min-height: 60px;
    line-height: 24px;
    font-weight: 600;
    padding: 10px 16px 6px 16px;
  }
}

/* START MAIN STYLE */
.form-icon-custom-root {
  .input-form-group {
    padding: 0;
    margin-bottom: 25px;

    .form-control {
      font-size: 20px;
      color: #707070;
      background-color: #fff;
      border: 1px solid #d9d8d8;
      border-radius: 15px;
      min-height: 60px;
      padding: 12px 15px 8px 72px;
      line-height: 24px;
      margin: 0 0 5px 0;
      font-weight: 600;

      &::-webkit-input-placeholder {
        color: #707070;
      }

      &::-moz-placeholder {
        color: #707070;
      }

      &:-ms-input-placeholder {
        color: #707070;
      }

      &:-moz-placeholder {
        color: #707070;
      }

      &:hover,
      &:focus,
      &:active {
        border-color: #707070;
        box-shadow: none;
        outline: none;
      }
    }

    .form-group-row {
      position: relative;
    }

    .icon-group {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      height: 60px;
      width: 72px;
      padding: 0 0 0 10px;
    }
  }
}

.user-module-main-section {
  padding: 80px 0 0 0;
  margin: 0;
  position: relative;
  transition: all 0.8s;
  min-height: 100vh;
}

.check-availability-main-section {
  padding: 0;
  margin: 0;
  position: relative;

  .check-availability-div {
    padding: 60px 0;
    margin: 0;
    position: relative;
    min-height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .check-availability-root {
      width: 100%;
    }
  }

  .check-card-center-height {
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .check-availability-card {
    padding: 30px;
    margin: 0;
    position: relative;
    background: #06151b;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;

    .check-availability-card-top {
      padding: 0;
      margin: 0 0 30px 0;
      position: relative;

      h2 {
        font-size: 32px;
        line-height: 38px;
        font-weight: 600;
        color: #fff;
      }
    }

    .check-availability-card-middle {
      padding: 0;
      margin: 0 0 20px 0;
      position: relative;
    }
  }

  .availability-center-char-div {
    padding: 0;
    margin: 0;
    position: relative;

    .thumb-div {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
      height: 100%;
    }

    .img-character {
      max-height: calc(100vh - 210px);
      object-fit: contain;
    }
  }
}

/* left side */

.user-left-side-nav {
  transition: all 0.5s ease-in-out;
  position: fixed;
  top: 80px;
  left: 0;
  background-color: #06151b;
  width: 320px;
  height: 100%;
  min-height: calc(100vh - 80px);
  z-index: 9999;
  border-right: 1px solid #06151b;

  .nav-logo-section {
    padding: 5px 15px 5px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    min-height: 100px;

    .dash-logo {
      max-height: 100%;
      transition: all 0.4s ease-in-out;

      img {
        width: 100%;
        height: 60px;
        object-fit: contain;
      }
    }
  }

  .user-info-div-menu {
    .profile-pic-upload-group {
      position: relative;
      padding: 50px 25px 25px 25px;
      margin: 0;
      display: flex;
      align-items: center;

      .circle {
        width: 72px;
        height: 72px;
        position: relative;
        border-radius: 100%;
        display: block;

        .profile-pic {
          width: 72px;
          height: 72px;
          object-fit: cover;
          border-radius: 100%;
          display: block;
          border: 1px solid #f6f8fb;
          background-color: #f6f8fb;
        }

        label.filelabel-icon {
          height: 30px;
          width: 30px;
          background: #fff;
          color: #06151b;
          box-shadow: none;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 100%;
          font-size: 14px;
          position: absolute;
          bottom: -3px;
          left: -3px;
          cursor: pointer;
          border: 0;

          .material-icons {
            font-size: 21px;
          }
        }
      }

      .text-div {
        width: calc(100% - 72px);
        padding: 0 0 0 13px;

        h3 {
          font-weight: 600;
          font-size: 20px;
          line-height: 1.3;
          color: #fff;
          letter-spacing: -0.2px;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          margin: 0 0 3px 0;
        }

        p {
          font-weight: 500;
          font-size: 16px;
          line-height: 1.3;
          color: #fff;
          letter-spacing: -0.15px;
          display: block;
        }

        .text-div-inner {
          position: relative;
        }
      }
    }
  }

  .left-side-menu {
    padding: 0 0;

    .left-side-inner {
      height: calc(100vh - 80px);
      min-height: 100px;
      overflow-y: auto;
      position: relative;
      animation: fadeIn 1s;

      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-track {
        background: #000;
      }

      &::-webkit-scrollbar-thumb {
        background: #70777a;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: #70777a;
      }

      .responsive-menu-view-div {
        display: none;
      }

      .side-nav-item {
        padding-bottom: 30px;

        ul {
          margin: 0;
          padding: 0;

          li.active {
            .nav-link {
              position: relative;
              color: #fff;
              background: #838a8d;
              font-weight: 600;
            }
          }

          li {
            list-style: none;
            margin: 0;
            padding: 0;
            display: block;
            margin-bottom: 0;
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);

            .nav-link {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              background: #06151b;
              padding: 12px 25px 10px 25px;
              width: 100%;
              font-weight: 600;
              font-size: 18px;
              color: #fff;
              letter-spacing: 0;
              border-radius: 0;
              min-height: 66px;
              transition: all 0.8s;
              cursor: pointer;

              .icon-span {
                width: 25px;
                text-align: center;
              }

              .text-collapse-menu {
                width: 100%;
              }

              &:hover {
                transition: all 0.3s ease-in-out;
                background: #70777a;
              }
            }
          }
        }
      }
    }
  }
}

/* End of left side */

@media (min-width: 2000px) {
  .container-fluid {
    max-width: calc(1920px - 30px);
  }
}

@media (max-width: 767px) {
  .container-fluid {
    max-width: 100%;
  }

  .user-module-main-section {
    padding: 70px 0 0 0;
  }

  .form-icon-custom-root {
    .input-form-group {
      .form-control {
        font-size: 16px;
        padding: 13px 15px 8px 50px;
      }

      .icon-group {
        width: 50px;

        .bg-custom-icon {
          width: 24px;
          height: 24px;
        }
      }
    }

    .btn.btn-primary.btn-primary-big {
      font-size: 18px;
    }
  }

  .check-availability-main-section {
    .check-availability-div {
      padding: 40px 0 40px 0;
    }

    .check-availability-card {
      padding: 20px 15px;
      margin: 0 0 40px 0;

      .check-availability-card-top {
        h2 {
          font-size: 24px;
          line-height: 32px;
          color: #fff;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container-fluid {
    max-width: 100%;
  }

  .user-module-main-section {
    padding: 70px 0 0 0;
  }

  .check-availability-main-section {
    .check-card-center-height {
      justify-content: center;
      margin: 0 0 20px 0;
    }

    .availability-center-char-div {
      .img-character {
        max-width: 500px;
      }
    }

    .check-availability-div {
      padding: 40px 0 40px 0;
    }

    .check-availability-card {
      margin: 0 0 40px 0;
      padding: 25px;

      .check-availability-card-top {
        h2 {
          font-size: 24px;
          line-height: 32px;
          color: #fff;
        }
      }
    }
  }
}
