.check-availibity-detail {
  padding: 20px 0 0 0;
  display: block;
  width: 100%;

  .owl-theme {
    .item {
      img {
        width: 100%;
        object-fit: cover;
        height: auto;
        border-radius: 10px;
        overflow: hidden;
      }
    }

    .owl-nav {
      position: absolute;
      top: calc(50% - 50px);
      right: 0;
      left: 0;
      flex-direction: row;
      display: flex;
      justify-content: space-between;
      width: 100%;

      .owl-prev {
        left: 60px;
        position: absolute;
      }

      .owl-next {
        right: 60px;
        position: absolute;
      }

      button {
        height: 47px;
        width: 47px;
        border: 1px solid rgba(1, 36, 55, 0.2);
        background-color: #fff;
        border-radius: 100%;
        box-shadow: none;
        outline: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000;
        transition: all 0.3s;

        i {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 20px;
        }

        &:hover {
          background-color: #fecb2f;
          transition: all 0.3s;
          border: 1px solid #fecb2f;
          color: #fff;
        }
      }
    }
  }

  .owl-review {
    background-color: rgba(6, 21, 27, 0.75);
    border-radius: 10px;
    padding: 10px 30px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;

    h3 {
      font-size: 40px;
      line-height: 53px;
      color: #fff;
    }

    p {
      font-size: 18px;
      line-height: 27px;
      color: #fff;
    }
  }

  .gold-detail-section {
    .heading {
      padding: 10px 0 100px 0;

      h3 {
        font-size: 48px;
        line-height: 60px;
        color: #06151b;
        font-weight: 700;
      }
    }

    .service-heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;

      .title {
        h3 {
          font-size: 32px;
          line-height: 43px;
          color: #06151b;
          font-weight: 600;
          margin-bottom: 10px;
        }
      }

      .search {
        display: flex;
        width: 100%;
        max-width: 360px;
        margin-bottom: 10px;

        .form-control {
          background-color: #ebeaea;
        }

        a {
          color: #06151b;
        }
      }
    }

    .service-row {
      margin-bottom: 100px;

      .service-item {
        border-bottom: 1px solid #d9d8d8;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0;

        .service-left {
          h3 {
            font-size: 20px;
            line-height: 20px;
            color: #06151b;
            font-weight: 700;
            margin-bottom: 10px;
          }

          p {
            font-size: 18px;
            line-height: 20px;
            color: #505151;
          }
        }

        .service-right {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-direction: row;

          h3 {
            font-size: 20px;
            line-height: 20px;
            color: #06151b;
            font-weight: 700;
            margin-bottom: 0;
          }

          span {
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
            color: #505151;
            display: block;
          }

          .btn-book {
            background-color: #06151b;
            color: #fff;
            font-size: 16px;
            line-height: 20px;
            font-weight: 700;
            margin-left: 30px;

            &:hover {
              background-color: #fecb2f;
              color: #fff;
            }
          }
        }
      }
    }
  }

  .see-ourwork-section {
    .ourwork-heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 50px;

      .title {
        h3 {
          font-size: 32px;
          line-height: 43px;
          color: #06151b;
          font-weight: 600;
          margin-bottom: 10px;
        }
      }
    }

    .img-gallery {
      margin-bottom: 20px;
      position: relative;
      overflow: hidden;

      img {
        width: 100%;
      }

      .hover-box {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 0;
        background-color: rgba(255, 255, 255, 0.5);
      }

      &:hover {
        .hover-box {
          height: 100%;
        }
      }
    }

    .g-large {
      img {
        height: 550px;
        min-height: 550px;
        overflow: hidden;
      }
    }

    .g-small {
      img {
        height: 260px;
        min-height: 260px;
      }
    }

    .btn-see-all {
      padding: 15px 20px;
      background-color: #fff;
      border: 1px solid #d9d8d8;
      width: 100%;
      text-align: center;
      justify-content: center;
      font-size: 22px;
      line-height: 30px;
      color: #2e2e2e;
      font-weight: 600;

      &:hover {
        background-color: #fecb2f;
      }
    }
  }

  .review-section {
    margin-bottom: 60px;

    .review-heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 50px;

      .title {
        max-width: 500px;

        h3 {
          font-size: 32px;
          line-height: 43px;
          color: #06151b;
          font-weight: 600;
          margin-bottom: 10px;
        }

        p {
          font-size: 20px;
          line-height: 30px;
          color: #000;
        }
      }

      .review-rating {
        max-width: 480px;
        width: 100%;
        padding: 20px 20px;
        background-color: #fff;
        border: 1px solid #d9d8d8;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-radius: 6px;

        .review-content {
          text-align: center;
          max-width: 180px;
          width: 100%;

          h3 {
            color: #06151b;
            font-size: 26px;
            line-height: 30px;
            font-weight: 700;
          }

          p {
            font-size: 14px;
            line-height: 27px;
            color: #2e2e2e;
          }

          .ratting {
            a {
              font-size: 17px;
              line-height: 24px;
              color: #fecb2f;
            }
          }
        }

        .review-status {
          ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;

            li {
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: row;
              padding: 2px 10px;

              &:first-child {
                min-width: 45px;
                text-align: right;
              }

              &:last-child {
                min-width: 45px;
                text-align: right;
              }

              .count {
                font-size: 16px;
                color: #707070;
                font-weight: 500;
                line-height: 16px;
              }

              .star {
                font-size: 14px;
                color: #fecb2f;
              }

              .progress {
                width: 120px;
                height: 5px;

                .progress-bar {
                  background-color: #fecb2f;
                }
              }
            }
          }
        }
      }
    }

    .user-review {
      display: "flex";
      align-items: center;
      justify-content: center;
    }

    .user-review-list {
      padding: 10px 0;
      border-bottom: 1px solid #d9d8d8;

      .user-review-heading {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .user-info {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-wrap: nowrap;

          .review-img {
            margin-right: 10px;
            height: 60px;
            width: 60px;

            img {
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
          }

          .review-content {
            h3 {
              color: #707070;
              font-weight: 16px;
              line-height: 16px;
              margin-bottom: 5px;
            }

            .ratting {
              display: flex;
              align-items: center;
              justify-content: flex-start;

              a {
                color: #fecb2f;
                font-size: 10px;
                line-height: 16px;

                span {
                  font-size: 15px;
                }
              }

              p {
                font-size: 12px;
                line-height: 16px;
                color: #707070;
                margin-left: 10px;
              }
            }
          }
        }

        .user-verfied {
          display: flex;
          align-items: center;
          justify-content: flex-end;

          a {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 600;

            span {
              margin-left: 10px;
            }
          }
        }
      }

      .user-review-body {
        padding: 10px 0;

        p {
          font-size: 16px;
          line-height: 26px;
          color: #2e2e2e;
        }

        .show-more {
          font-size: 16px;
          line-height: 26px;
          color: #2e2e2e;
        }
      }
    }
  }

  .map-section {
    width: 100%;
    position: relative;

    .map-box {
      position: absolute;
      bottom: 20px;
      z-index: 99px;
      left: 20px;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 10px 20px;
      border-radius: 10px;
      width: calc(100% - 25px);

      .img-map {
        height: 68px;
        width: 57px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .map-content {
        padding-left: 20px;

        h3 {
          font-size: 20px;
          line-height: 27px;
          font-weight: 600;
          color: #000;
          margin-bottom: 10px;
        }
      }
    }
  }


  .about-section {
    padding: 20px 20px;
    background-color: #f4f4f4;

    .about-content {
      h3 {
        font-size: 20px;
        line-height: 40px;
        color: #06151b;
        margin-bottom: 30px;
      }

      p {
        font-size: 20px;
        line-height: 27px;
        color: #000;
      }
    }

    .team-member {
      padding-top: 80px;
      margin-bottom: 40px;

      h3 {
        font-size: 20px;
        line-height: 27px;
        margin-bottom: 30px;
      }

      ul {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;

        li {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          width: 100%;

          &:last-child {
           align-items: flex-end;
          }

          &:first-child {
            align-items: flex-start;
          }

          img {
            width: 85px;
            height: 85px;
            border-radius: 12px;
            margin-bottom: 10px;
          }

          p {
            font-size: 20px;
            line-height: 24px;
          }
        }
      }
    }

    .buisness-hrs {
      h3 {
        font-size: 20px;
        line-height: 24px;
        padding-bottom: 20px;
      }
    }

    .call-info {
      padding: 20px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid #d9d8d8;
      border-bottom: 1px solid #d9d8d8;

      h4 {
        color: #06151b;
        font-size: 20px;

        a {
          color: #06151b;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      a.call {
        background-color: #fff;
        border: 1px solid #d9d8d8;
        padding: 8px 12px;
        border-radius: 4px;
        color: #06151b;
      }
    }

    .time-theme {
      padding: 10px 0;

      ul {
        margin: 0 0 10px 0;
        padding: 0;
        list-style: none;

        li {
          font-size: 20px;
          line-height: 30px;
          color: #707070;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 10px;
        }
      }

      p {
        color: #707070;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 29px;
      }

      h3 {
        font-size: 20px;
        line-height: 30px;
        color: #707070;
      }

      .social-media {
        padding-top: 15px;
        display: flex;

        li {
          margin-right: 10px;
        }

        a {
          height: 40px;
          width: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 100%;
          background-color: #707070;
          color: #fff;
        }
      }
    }
  }
  
}

.modal {
  .table-date {
    margin-bottom: 0;
    position: relative;

    .btn-arrow {
      position: absolute;
      bottom: 25px;
      right: -20px;
      left: auto;
      width: 10px;

      a {
        font-size: 26px;
        color: #000;
      }
    }

    thead {
      th {
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        line-height: 22px;
        font-weight: 500;
      }
    }

    tbody {
      padding: 5px 0;

      tr {
        td {
          text-align: center;
          font-size: 18px;
          line-height: 20px;
          border-bottom: 1px solid #d9d8d8;
          padding: 15px 0;
        }

        span {
          width: 100%;
          display: block;
          padding: 15px 10px;
        }

        .select-day {
          border: 1px solid #d9d8d8;
        }

        .day {
          background-color: rgba(254, 203, 47, 0.5);
          border: 1px solid #d9d8d8;
        }
      }
    }
  }

  .full-booked {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 273px;
    text-align: center;
    flex-direction: column;

    .cal-booked {
      margin: 0 auto;
      margin-bottom: 10px;
      height: 70px;
      width: 70px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    p {
      font-size: 20px;
      line-height: 24px;
      color: #2e2e2e;
      white-space: nowrap;
    }
  }

  .day-time {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid #d9d8d8;

    .daytime {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      color: #2e2e2e;
      flex-direction: column;

      h3 {
        width: 100%;
        text-align: center;
        font-size: 18px;
        line-height: 26px;
        padding: 15px 10px;
        border-bottom: 1px solid #d9d8d8;
      }

      ul {
        margin: 0;
        padding: 15px 10px;
        list-style: none;
        width: 100%;

        li {
          display: block;
          width: 100%;
          text-align: center;
          margin-bottom: 20px;

          a {
            color: #2e2e2e;
            font-size: 20px;
            line-height: 26px;
            padding: 15px 10px;
            background-color: #fff;
            border: 1px solid #d9d8d8;
            border-radius: 10px;
            display: block;

            &:hover {
              background-color: rgba(254, 203, 47, 0.5);
            }

            &.select {
              background-color: rgba(254, 203, 47, 0.5);
            }
          }
        }
      }
    }
  }

  .advanced {
    padding: 10px;

    .advanced-pay {
      h3 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 20px;
        line-height: 28px;
        font-weight: 500;

        span {
          font-size: 16px;
          line-height: 28px;
          font-weight: 600;
        }
      }
    }

    .select-member {
      background-color: rgba(254, 203, 47, 0.5);
      padding: 10px 15px;
      font-size: 16px;
      line-height: 16px;
      width: 300px;
      margin-top: 10px;
      margin-bottom: 60px;
      border-radius: 10px;
      border: 0;

      option {
        background-color: #fff;
      }
    }
  }

  .btn-confrim {
    text-transform: uppercase;
  }
}

@media (max-width: 767px) {
  .modal .day-time {
    flex-direction: column;
  }

  .check-availibity-detail {
    .owl-review {
      padding: 10px 15px;

      h3 {
        font-size: 20px;
        line-height: 26px;
        color: #fff;
      }

      p {
        font-size: 14px;
        line-height: 24px;
        color: #fff;
      }
    }
  }

  .check-availibity-detail .review-section .review-heading {
    flex-direction: column;

    .review-rating {
      flex-direction: column;
    }
  }

  .check-availibity-detail .review-section .user-review-list .user-review-heading .user-info .review-img {
    height: 40px;
    width: 40px;
    min-width: 40px;
  }

  .check-availibity-detail .review-section .user-review-list .user-review-heading .user-info .review-content .ratting {
    flex-wrap: wrap;

    p {
      margin-left: 0;
    }
  }

  .check-availibity-detail .see-ourwork-section .g-large img {
    height: unset;
    min-height: unset;
  }
}
