@charset "utf-8";

@import "../default-style";

.display_show {
  display: block;
}

.desktop-hidden {
  display: none;
}

.block {
  display: block;
}

body {
  overflow-x: hidden;
}

.position-fixed {
  position: unset !important;
  overflow: hidden;
}

.mr-10 {
  margin-right: 10px !important;
}

.mlr-6 {
  margin-right: -6px !important;
  margin-left: -6px !important;
}

.plr-6 {
  padding-right: 6px !important;
  padding-left: 6px !important;
}

.mlr-10 {
  margin-right: -10px !important;
  margin-left: -10px !important;
}

.plr-10 {
  padding-right: 10px !important;
  padding-left: 10px !important;
}

.container-fluid {
  max-width: calc(100% - 30px);
}

.btn.btn-primary {
  background-color: #fecb2f;
  border-radius: 10px;
  color: #06151b;
  padding: 7px 16px 6px 16px;
  min-height: 46px;
  font-weight: 700;
  border: none;
  transition: all 0.8s;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &:hover,
  &:focus,
  &:active {
    background-color: #f3c330;
    box-shadow: none;
  }

  &:not(:disabled):not(.disabled).active,
  &:not(:disabled):not(.disabled):active {
    color: #06151b;
    background-color: #f3c330;
    box-shadow: none;
  }

  &.btn-primary-big {
    width: 100%;
    justify-content: center;
    font-size: 24px;
    border-radius: 15px;
    min-height: 60px;
    line-height: 24px;
    font-weight: 600;
    padding: 10px 16px 6px 16px;
  }
}

/* START MAIN STYLE */
.form-icon-custom-root {
  .input-form-group {
    padding: 0;
    margin-bottom: 25px;

    .form-control {
      font-size: 20px;
      color: #707070;
      background-color: #fff;
      border: 1px solid #d9d8d8;
      border-radius: 15px;
      min-height: 60px;
      padding: 12px 15px 8px 72px;
      line-height: 24px;
      margin: 0 0 5px 0;
      font-weight: 600;

      &::-webkit-input-placeholder {
        color: #707070;
      }

      &::-moz-placeholder {
        color: #707070;
      }

      &:-ms-input-placeholder {
        color: #707070;
      }

      &:-moz-placeholder {
        color: #707070;
      }

      &:hover,
      &:focus,
      &:active {
        border-color: #707070;
        box-shadow: none;
        outline: none;
      }
    }

    .form-group-row {
      position: relative;
    }

    .icon-group {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      height: 60px;
      width: 72px;
      padding: 0 0 0 10px;
    }
  }
}

.user-module-main-section {
  padding: 80px 0 0 0;
  margin: 0;
  position: relative;
  transition: all 0.8s;
  min-height: 100vh;
}

.check-availability-main-section {
  padding: 0;
  margin: 0;
  position: relative;

  .check-availability-div {
    padding: 60px 0;
    margin: 0;
    position: relative;
    min-height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .check-availability-root {
      width: 100%;
    }
  }

  .check-card-center-height {
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .check-availability-card {
    padding: 30px;
    margin: 0;
    position: relative;
    background: #06151b;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;

    .check-availability-card-top {
      padding: 0;
      margin: 0 0 30px 0;
      position: relative;

      h2 {
        font-size: 32px;
        line-height: 38px;
        font-weight: 600;
        color: #fff;
      }
    }

    .check-availability-card-middle {
      padding: 0;
      margin: 0 0 20px 0;
      position: relative;
    }
  }

  .availability-center-char-div {
    padding: 0;
    margin: 0;
    position: relative;

    .thumb-div {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
      height: 100%;
    }

    .img-character {
      max-height: calc(100vh - 210px);
      object-fit: contain;
    }
  }
}

/* left side */
.user-left-side-nav {
  transition: all 0.5s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #06151b;
  width: 320px;
  height: 100%;
  padding-top: 80px;
  min-height: 100vh;
  z-index: 999;
  border-right: 1px solid #06151b;

  .nav-logo-section {
    padding: 5px 15px 5px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    min-height: 100px;

    .dash-logo {
      max-height: 100%;
      transition: all 0.4s ease-in-out;

      img {
        width: 100%;
        height: 60px;
        object-fit: contain;
      }
    }
  }

  .user-info-div-menu {
    .profile-pic-upload-group {
      position: relative;
      padding: 50px 25px 25px 25px;
      margin: 0;
      display: flex;
      align-items: center;

      .circle {
        width: 72px;
        height: 72px;
        position: relative;
        border-radius: 100%;
        display: block;

        .profile-pic {
          width: 72px;
          height: 72px;
          object-fit: cover;
          border-radius: 100%;
          display: block;
          border: 1px solid #f6f8fb;
          background-color: #f6f8fb;
        }

        label.filelabel-icon {
          height: 30px;
          width: 30px;
          background: #fff;
          color: #06151b;
          box-shadow: none;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 100%;
          font-size: 14px;
          position: absolute;
          bottom: -3px;
          left: -3px;
          cursor: pointer;
          border: 0;

          .material-icons {
            font-size: 21px;
          }
        }
      }

      .text-div {
        width: calc(100% - 72px);
        padding: 0 0 0 13px;

        h3 {
          font-weight: 600;
          font-size: 20px;
          line-height: 1.3;
          color: #fff;
          letter-spacing: -0.2px;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          margin: 0 0 3px 0;
        }

        p {
          font-weight: 500;
          font-size: 16px;
          line-height: 1.3;
          color: #fff;
          letter-spacing: -0.15px;
          display: block;
        }

        .text-div-inner {
          position: relative;
        }
      }
    }
  }

  .left-side-menu {
    padding: 0 0;

    .left-side-inner {
      height: calc(100vh - 80px);
      min-height: 100px;
      overflow-y: auto;
      position: relative;
      animation: fadeIn 1s;

      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-track {
        background: #000;
      }

      &::-webkit-scrollbar-thumb {
        background: #70777a;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: #70777a;
      }

      .responsive-menu-view-div {
        display: none;
      }

      .side-nav-item {
        padding-bottom: 30px;

        ul {
          margin: 0;
          padding: 0;

          li.active {
            .nav-link {
              position: relative;
              color: #fff;
              background: #838a8d;
              font-weight: 600;
            }
          }

          li {
            list-style: none;
            margin: 0;
            padding: 0;
            display: block;
            margin-bottom: 0;
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);

            .nav-link {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              background: #06151b;
              padding: 12px 25px 10px 25px;
              width: 100%;
              font-weight: 600;
              font-size: 18px;
              color: #fff;
              letter-spacing: 0;
              border-radius: 0;
              min-height: 66px;
              transition: all 0.8s;
              cursor: pointer;

              .icon-span {
                width: 25px;
                text-align: center;
              }

              .text-collapse-menu {
                width: 100%;
              }

              &:hover {
                transition: all 0.3s ease-in-out;
                background: #70777a;
              }
            }
          }
        }
      }
    }
  }
}

/* End of left side */
.user-right-side-main-div {
  padding: 0 0 0 320px;
  min-height: calc(100vh - 80px);

  .container-fluid {
    max-width: 100%;
  }

  .user-module-right-inner-div {
    padding: 30px 15px 5px 15px;
    margin: 0;
  }
}

.more-text-content {
  .block-div {
    display: flex;
  }

  .morecontent {
    span {
      display: none;
    }
  }

  .morelink {
    color: #707070;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 5px 0;

    i.fe {
      font-size: 24px;
      padding: 0 0 0 5px;
    }
  }
}

.booking-main-section {
  padding: 0;
  margin: 0;
  position: relative;

  .heading-title-div {
    padding: 20px 0 0 0;
    margin: 0 0 30px 0;
    position: relative;

    h1 {
      font-size: 36px;
      line-height: 48px;
      font-weight: 700;
      color: #06151b;
      display: block;
    }
  }

  .btn-booking-div {
    padding: 0;
    margin: 0 0 20px 0;
    position: relative;

    .btn.btn-white-primary {
      padding: 11px 20px 6px 20px;
      background-color: #fff;
      border: 1px solid #d9d8d8;
      width: 100%;
      text-align: center;
      font-size: 22px;
      line-height: 26px;
      color: #2e2e2e;
      font-weight: 600;
      border-radius: 10px;
      min-height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      transition: all 0.8s;

      &:hover,
      &:focus,
      &:active {
        background-color: #f3c330;
        box-shadow: none;
      }

      &:not(:disabled):not(.disabled).active,
      &:not(:disabled):not(.disabled):active {
        color: #06151b;
        background-color: #f3c330;
        box-shadow: none;
      }
    }
  }

  .header-booking-wcard-div {
    margin: 0 0 30px 0;

    h4 {
      padding: 0;
      margin: 0;
      font-size: 20px;
      line-height: 1.5;
      font-weight: 700;
      color: #06151b;
      display: block;
    }
  }

  .booking-listing-white-card-root {
    padding: 0;
    margin: 0 0 40px 0;
    position: relative;

    .booking-listing-wcard {
      margin: 0 0 55px 0;
      border-radius: 10px;
      position: relative;
      width: 100%;
      box-shadow: 0 0 15px 0 #00000029;

      .booking-listing-wcard-row {
        display: flex;
        align-content: flex-start;
        width: 100%;
        flex-wrap: wrap;

        .booking-listing-wcard-left {
          padding: 25px;
          width: calc(100% - 230px);

          .status-div {
            padding: 0;
            margin: 0 0 15px 0;
            position: relative;
            display: block;

            .badge-status {
              padding: 8px 20px 5px 20px;
              background: #12eb00;
              border-radius: 20px;
              color: #fff;
              font-size: 18px;
              line-height: 22px;
              font-weight: 700;
              display: inline-block;

              &.in-progress-status {
                background: #ff9605;
              }
            }
          }

          .text-div {
            h2 {
              color: #2e2e2e;
              padding: 0;
              margin: 0 0 8px 0;
              font-size: 20px;
              line-height: 1.3;
              font-weight: 700;
              display: flex;
              flex-wrap: wrap;

              .link {
                color: inherit;
              }
            }

            p {
              color: #2e2e2e;
              padding: 0;
              margin: 0 0 5px 0;
              font-size: 16px;
              line-height: 1.3;
              font-weight: 400;
              display: block;
            }

            .link-row-div {
              padding: 10px 0 0 0;

              p {
                font-weight: 600;
                margin-bottom: 0;

                .link {
                  color: inherit;
                }
              }
            }

            .btn-div-book {
              margin: 20px 0 0 0;

              .btn.btn-primary.btn-primary-big {
                max-width: 330px;
                font-size: 20px;
                border-radius: 10px;
                font-weight: 700;
                min-height: 45px;
                padding: 10px 16px 6px 16px;
              }
            }
          }
        }

        .booking-listing-wcard-right {
          width: 230px;
          border-left: 1px solid #d9d8d8;

          .booking-date-div {
            padding: 20px;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;

            .booking-date-inner {
              width: 100%;
            }

            p {
              color: #2e2e2e;
              font-size: 18px;
              line-height: 1.3;
              font-weight: 400;
              text-align: center;
              display: block;
            }

            .mb-auto-p {
              margin-bottom: 15px;
            }

            h3 {
              color: #2e2e2e;
              padding: 0;
              margin: 0 0 0 0;
              font-size: 36px;
              line-height: 1.3;
              font-weight: 700;
              display: block;
              text-align: center;
            }
          }
        }
      }
    }
  }

  .fav-bn-listing-white-card-root {
    padding: 0;
    margin: 0 0 40px 0;
    position: relative;

    .fav-bn-listing-wcard {
      margin: 0 0 45px 0;
      position: relative;
      width: 100%;

      .fav-bn-listing-wcard-row {
        width: 100%;

        .fav-bn-thumb-div {
          padding: 0;
          margin: 0 0 15px 0;
          position: relative;

          .thumb-div {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;

            .img-fluid {
              width: 100%;
              border-radius: 10px;
              height: 290px;
              object-fit: cover;
            }
          }

          .text-reviews-div {
            padding: 15px 20px;
            background-color: rgba(6, 21, 27, 0.75);
            color: #fff;
            border-radius: 0 10px 0 10px;
            position: absolute;
            top: 0;
            right: 0;

            h3 {
              padding: 0;
              margin: 0;
              font-size: 30px;
              line-height: 1.3;
              font-weight: 700;
              text-align: center;
            }

            p {
              font-size: 14px;
              line-height: 1.3;
              font-weight: 400;
              text-align: center;
            }
          }
        }

        .content-div {
          h2 {
            color: #2e2e2e;
            padding: 0;
            margin: 0 0 5px 0;
            font-size: 20px;
            line-height: 1.3;
            font-weight: 600;
            display: flex;
            flex-wrap: wrap;

            .link {
              color: inherit;
            }
          }

          p {
            color: #2e2e2e;
            padding: 0;
            margin: 0 0 5px 0;
            font-size: 16px;
            line-height: 1.3;
            font-weight: 500;
            display: block;
          }

          .link-row-div {
            padding: 10px 0 0 0;

            p {
              font-weight: 600;
              margin-bottom: 0;

              .link {
                color: inherit;
              }
            }
          }
        }
      }
    }
  }

  .reviews-listing-white-card-root {
    padding: 0;
    margin: 0 0 40px 0;
    position: relative;

    .reviews-listing-wcard {
      position: relative;
      width: 100%;

      .reviews-listing-wcard-row {
        width: 100%;
        padding: 0 0 5px 0;
        margin: 0 0 25px 0;
        border-bottom: 1px solid #d9d8d8;

        .reviews-wcard-top-div {
          .profile-group-div {
            padding: 0;
            margin: 0 0 20px 0;
            display: flex;
            align-items: center;

            .circle-img-div {
              display: flex;
              flex-wrap: wrap;
              width: 60px;
            }

            .text-div {
              width: calc(100% - 60px);
              padding: 0 0 0 12px;

              h3 {
                color: #707070;
                margin: 0 0 2px 0;
                font-size: 18px;
                line-height: 1.3;
                font-weight: 500;
              }

              .star-row-div {
                color: #707070;
                margin: 0;
                font-size: 14px;
                line-height: 1.3;
                font-weight: 500;
                display: flex;
                flex-wrap: wrap;
                list-style: none;

                ul.star-rating-ul {
                  display: flex;
                  flex-wrap: wrap;
                  list-style: none;

                  li {
                    display: inline-block;
                  }

                  .star-custom-icon {
                    color: #9b9b9b;
                    font-size: 18px;
                    margin: 0;

                    &.active {
                      color: #f3c330;
                    }
                  }
                }

                span.txt-span {
                  display: flex;
                  align-items: center;
                  margin: 0 0 1px 10px;
                }
              }
            }
          }
        }

        .content-div {
          p {
            color: #2e2e2e;
            padding: 0;
            margin: 0 0 5px 0;
            font-size: 18px;
            line-height: 1.3;
            font-weight: 500;
            display: block;
          }
        }

        &:last-child {
          border-bottom: 0 solid #d9d8d8;
        }
      }
    }
  }
}

.bk-map-card-root {
  padding: 0;
  margin: 0;
  position: relative;

  .bk-map-card-root-inner {
    padding: 0;
    margin: 0 0 40px 0;
    position: relative;
  }

  .bk-map-card-rt-top {
    .status-div {
      padding: 0;
      margin: 0 0 30px 0;
      position: relative;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .badge-status {
        padding: 12px 30px 7px 30px;
        background: #ff9605;
        border-radius: 20px;
        color: #fff;
        font-size: 22px;
        line-height: 24px;
        font-weight: 700;
        display: inline-block;
      }
    }
  }

  .bk-map-card-rt-middle {
    .bk-map-thumb-card {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 0 0 50px 0;

      .img-fluid {
        height: 600px;
        width: calc(100% - 80px);
        object-fit: cover;
        border-radius: 10px;
      }
    }

    .bk-info-text-card {
      padding: 10px 0 50px 0;
      border-bottom: 1px solid #d9d8d8;

      .bk-info-wcard-row {
        display: flex;
        align-content: flex-start;
        width: 100%;
        flex-wrap: wrap;

        .bk-info-wcard-left {
          width: 60%;

          .text-div {
            h2 {
              color: #2e2e2e;
              padding: 0;
              margin: 0 0 10px 0;
              font-size: 20px;
              line-height: 1.3;
              font-weight: 700;

              .block {
                display: block;
              }
            }

            p {
              color: #2e2e2e;
              padding: 0;
              margin: 0 0 5px 0;
              font-size: 16px;
              line-height: 1.3;
              font-weight: 600;
              display: block;

              .link {
                color: inherit;
              }
            }
          }
        }

        .bk-info-wcard-right {
          width: 40%;

          h2 {
            color: #2e2e2e;
            padding: 0;
            margin: 0 0 10px 0;
            font-size: 20px;
            line-height: 1.3;
            font-weight: 700;
            text-align: right;

            .block {
              display: block;
            }
          }

          p {
            color: #2e2e2e;
            padding: 0;
            margin: 0 0 10px 0;
            font-size: 18px;
            line-height: 1.3;
            font-weight: 600;
            display: block;
            text-align: right;
          }
        }
      }
    }
  }

  .bk-map-card-rt-bottom {
    padding: 40px 0 0 0;

    .bk-action-bottom-div {
      .btn.btn-white-primary.btn-cancel {
        color: #e51616;

        &:hover,
        &:focus,
        &:active {
          background-color: #e51616;
          color: #fff;
          box-shadow: none;
        }
      }
    }
  }
}

.bk-progress-card-root {
  padding: 0;
  margin: 0 0 40px 0;
  position: relative;

  .bk-progress-card-root-inner {
    padding: 0 0 20px 0;
    border-bottom: 1px solid #d9d8d8;
  }

  .bk-progress-div {
    .width-20 {
      flex: 0 0 20%;
      max-width: 20%;
    }

    .bk-progress-card-bx {
      padding: 0;
      margin: 0 0 25px 0;
      position: relative;

      .bk-progress-thumb-bx {
        padding: 10px;
        margin: 0 0 15px 0;
        position: relative;
        background: #d9d8d8;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 105px;

        .img-progress {
          object-fit: contain;
          max-height: 80px;
        }
      }

      .bk-progress-txt-bx {
        p {
          color: #06151b;
          padding: 0;
          margin: 0 0 5px 0;
          font-size: 20px;
          line-height: 1.3;
          font-weight: 400;
          display: block;
          text-align: center;
        }
      }

      &.active {
        .bk-progress-thumb-bx {
          background: #fecb2f;
        }
      }
    }
  }
}

.bk-picture-card-root {
  padding: 0;
  margin: 0 0 40px 0;
  position: relative;

  .bk-picture-card-root-inner {
    padding: 0 0 30px 0;
  }

  .bk-picture-div {
    .bk-picture-row {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
    }

    .bk-picture-card-bx {
      padding: 0;
      margin: 0 40px 40px 0;
      position: relative;

      .bk-picture-thumb-bx {
        display: flex;
        align-items: center;
        justify-content: center;

        .img-picture {
          height: 120px;
          width: 120px;
          object-fit: cover;
          border-radius: 200px;
        }
      }

      .bk-progress-txt-bx {
        p {
          color: #06151b;
          padding: 0;
          margin: 0 0 5px 0;
          font-size: 20px;
          line-height: 1.3;
          font-weight: 400;
          display: block;
          text-align: center;
        }
      }

      &.active {
        .bk-progress-thumb-bx {
          background: #fecb2f;
        }
      }
    }
  }
}

// custom animation
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

// Modal

.modal-backdrop {
  z-index: 9999;
}

.modal {
  z-index: 99999;
}

.modal-customize {
  .modal-dialog {
    max-width: 900px;
  }

  .modal-content {
    border-radius: 10px;
    border: 0 solid rgba(0, 0, 0, 0.2);
  }

  .modal-header {
    background: #06151b;
    border-radius: 10px 10px 0 0;
    padding: 10px 40px;
    align-items: center;

    .close {
      color: #fff;
      font-size: 22px;
      opacity: 1;
      font-weight: 400;
      padding: 0;
      margin: 0;
    }

    .modal-header-right {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .flex-title-div {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }

      .text-span {
        color: #fff;
        font-size: 14px;
        margin: 0 15px 0 0;
        padding: 14px 0 5px 0;
      }

      .logo-span {
        display: flex;

        .img-fluid {
          width: 130px;
        }
      }
    }
  }

  .modal-body {
    padding: 0;

    .bg-color-01 {
      background-color: #f4f4f4;
    }

    .br-bottom {
      border-radius: 0 0 10px 10px;
    }

    .title-div-header {
      padding: 0 40px;

      .title-div-header-div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0 20px 0;

        .title-div-header-left-div {
          display: flex;
          width: 50px;

          .link.back-link {
            display: flex;
            align-items: center;
            color: #707070;
            font-size: 24px;
            line-height: 1;
          }
        }

        .title-div-header-right-div {
          padding: 0 50px 0 0;
          margin: 0;
          position: relative;
          width: calc(100% - 50px);

          h2 {
            color: #2e2e2e;
            font-size: 22px;
            font-weight: 600;
            line-height: 1.2;
            text-align: center;
            width: 100%;
            display: block;
          }
        }
      }

      &.border-bottom1 {
        border-bottom: 1px solid #d9d8d8;
      }
    }

    .modal-main-inner-div {
      padding: 0 40px;
      margin: 0;
      position: relative;

      .sign-in-div {
        padding: 20px 0 40px 0;
        margin: 0;
        position: relative;

        .sign-in-row {
          padding: 0;
          margin: 0;
          position: relative;

          .btn-div {
            padding: 0;
            margin: 0 0 30px 0;
            position: relative;

            .btn.btn-primary.btn-facebook-login {
              background: #3b5892;
              color: #fff;
            }
          }

          .or-div {
            padding: 0;
            margin: 0;
            position: relative;

            .or-div-row {
              display: flex;
              align-items: center;
              justify-content: center;
              margin: 0 0 30px 0;

              p {
                font-size: 22px;
                line-height: 1.5;
                color: #707070;
                font-weight: 700;
                position: relative;
                width: 100%;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                align-items: center;

                span.text {
                  position: relative;
                  z-index: 333;
                  background: #fff;
                  padding: 0 25px;
                }

                &::before {
                  content: "";
                  height: 1px;
                  width: 100%;
                  background-color: #707070;
                  position: absolute;
                }
              }
            }
          }
        }
      }
    }

    .desc-text-div {
      padding: 30px 0 0 0;
      margin: 0;
      position: relative;

      p {
        color: #2e2e2e;
        font-size: 13px;
        line-height: 1.4;
        font-weight: 500;
        display: block;
      }
    }

    .text-border-div {
      border-top: 1px solid #70707080;
      padding: 30px 0 10px 0;

      p {
        font-weight: 600;
        font-size: 13px;
        color: #2e2e2e;
        line-height: 1.4;
        margin: 0 0 10px 0;
        text-align: center;

        .link {
          color: #ffc20e;
        }
      }
    }

    .form-custom-in-div {
      border-top: 1px solid #d9d8d8;
    }

    .form-group-rd-list {
      .custom-rd-control {
        color: #06151b;
        font-size: 16px;
        line-height: 1.4;
        font-weight: 400;
        display: block;
        margin: 0 0 5px 0;
        padding-left: 0;

        .custom-control-label {
          padding: 0 0 0 32px;
          font-size: 20px;
          line-height: 24px;
          cursor: pointer;

          &::before {
            width: 22px;
            height: 22px;
            border: 1px solid #ff9605;
            background-color: #fff;
            top: 0;
          }
        }

        .custom-control-input:checked ~ .custom-control-label::before {
          background-color: #fff;
        }

        .custom-control-input:checked ~ .custom-control-label::after {
          height: 12px;
          width: 12px;
          background: #ff9605;
          border-radius: 100px;
          top: 5px;
          left: 5px;
        }

        .custom-control-input:focus ~ .custom-control-label::before {
          box-shadow: none;
        }
      }
    }
  }
}

.form-custom-in-div {
  padding: 30px 0 20px 0;
  margin: 0;
  position: relative;

  .form-group-custom {
    margin-bottom: 30px;
    position: relative;

    label {
      font-weight: 500;
      font-size: 20px;
      color: #2e2e2e;
      line-height: 1.4;
      margin: 0 0 10px 0;
    }

    .form-control {
      font-size: 18px;
      color: #707070;
      border: 1px solid #d9d8d8;
      border-radius: 10px;
      min-height: 52px;
      padding: 12px 20px 8px 20px;
      line-height: 24px;
      margin: 0 0 5px 0;
      font-weight: 500;
      background-color: #fff;

      &::-webkit-input-placeholder {
        color: #707070;
      }

      &::-moz-placeholder {
        color: #707070;
      }

      &:-ms-input-placeholder {
        color: #707070;
      }

      &:-moz-placeholder {
        color: #707070;
      }

      &:hover,
      &:focus,
      &:active {
        border-color: #4d7cfe;
        box-shadow: none;
        outline: none;
      }
    }

    textarea.form-control {
      resize: none;
    }

    .custom-icon {
      position: absolute;
      top: 1px;
      left: 1px;
      height: 38px;
      width: 38px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #8e98a0;

      .icon-UserName1 {
        font-size: 20px;
      }

      .icon-Password {
        font-size: 20px;
      }
    }

    .icon-group {
      position: absolute;
      top: 1px;
      right: 1px;
    }

    .pass-hide {
      height: 40px;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border: none;
      color: rgba(142, 152, 160, 0.5);
      cursor: pointer;
      outline: none;
    }

    .form-info-txt-div {
      p {
        font-size: 14px;
        color: #06151b;
        letter-spacing: 0;
        line-height: 22px;
        font-weight: 400;
        margin: 15px 0 0 0;
        display: block;
      }
    }
  }

  .btn-div {
    padding: 10px 0 30px 0;
  }
}

.confirm-booking-black-div {
  .confirm-booking-black-row {
    padding: 0 40px;
    margin: 0;
    position: relative;
    background: #06151b url(../../images/wave-pattern01.png) no-repeat;
    background-size: contain;
    background-position: 0 calc(100% - 5px);
  }

  .confirm-bk-text-card-tp {
    .confirm-bk-text-card-tp-row {
      padding: 40px 0 20px 0;
      margin: 0;
      position: relative;

      h2 {
        color: #fff;
        padding: 0;
        margin: 0 0 5px 0;
        font-size: 26px;
        line-height: 1.3;
        font-weight: 600;
      }

      p {
        color: #fff;
        padding: 0;
        margin: 0;
        font-size: 20px;
        line-height: 1.3;
        font-weight: 600;
      }
    }
  }

  .confirm-bk-text-card-md {
    padding: 15px 0 65px 0;
    border-top: 1px solid #d9d8d8;

    .confirm-bk-text-card-md-row {
      display: flex;
      align-content: flex-start;
      width: 100%;
      flex-wrap: wrap;

      .confirm-bk-wcard-left {
        width: 60%;

        .text-div {
          h2 {
            color: #fff;
            padding: 0;
            margin: 0 0 10px 0;
            font-size: 20px;
            line-height: 1.3;
            font-weight: 700;

            .block {
              display: block;
            }
          }

          p {
            color: #fff;
            padding: 0;
            margin: 0 0 5px 0;
            font-size: 16px;
            line-height: 1.3;
            font-weight: 600;
            display: block;

            .link {
              color: inherit;
            }
          }
        }
      }

      .confirm-bk-wcard-right {
        width: 40%;

        h2 {
          color: #fff;
          padding: 0;
          margin: 0 0 5px 0;
          font-size: 20px;
          line-height: 1.3;
          font-weight: 700;
          text-align: right;

          .block {
            display: block;
          }
        }

        p {
          color: #fff;
          padding: 0;
          margin: 0 0 5px 0;
          font-size: 18px;
          line-height: 1.3;
          font-weight: 600;
          display: block;
          text-align: right;
        }
      }
    }
  }
}

.view-your-bk-div {
  .view-your-bk-thumb {
    padding: 80px 0 0 0;
    margin: 0 0 40px 0;
    position: relative;

    .view-your-bk-thumb-center {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      margin: 0;

      .img-fluid {
        width: 180px;
        object-fit: contain;
      }
    }
  }

  .text-content-div {
    h4 {
      font-size: 20px;
      line-height: 1.5;
      font-weight: 600;
      color: #e51616;
      text-align: center;
      margin: 0 0 35px 0;
      display: block;

      .block {
        display: block;
      }
    }

    p {
      font-size: 16px;
      color: #06151b;
      letter-spacing: 0;
      line-height: 24px;
      font-weight: 400;
      margin: 0 0 10px 0;
      display: block;
      text-align: center;
    }
  }
}

.check-list-root {
  .custom-checkbox {
    position: relative;
    display: block;
    min-height: 1.5rem;
    padding-left: 0;
    font-weight: 700;
    font-size: 20px;
    color: #06151b;
    letter-spacing: 0;
    line-height: 30px;

    .custom-control-label {
      margin-bottom: 0;
      cursor: pointer;
      padding: 0 0 0 40px;

      &::before {
        background-color: #e8e7f0;
        border: 1px solid #e8e7f0;
        width: 24px;
        height: 24px;
        border-radius: 5px;
        top: 2px;
      }
    }

    .custom-control-input:checked ~ .custom-control-label::after {
      background-size: 14px;
      top: 6px;
      left: 4px;
    }

    .custom-control-input:focus ~ .custom-control-label::before {
      box-shadow: 0 0 0 0 #fff, 0 0 0 0 rgba(142, 152, 160, 0.25);
    }
  }

  .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #fecb2f;
    border: 1px solid #fecb2f;
  }
}

.add-oaf-div-custom {
  padding: 0;
  margin: 0;
  position: relative;

  .add-oaf-div-custom-inner {
    .heading-title-div {
      padding: 20px 0 15px 0;

      h4 {
        font-weight: 500;
        font-size: 20px;
        color: #2e2e2e;
        line-height: 1.4;
        margin: 0;
      }
    }

    .add-oaf-bx-root {
      .add-option-table {
        td {
          padding: 15px 0;
        }

        .text-td {
          min-width: 200px;
        }

        .text-amount-td {
          width: 100px;
        }

        .checkbox-td {
          width: 190px;
        }

        .block {
          display: block;
        }

        .text-div {
          h4 {
            font-weight: 700;
            font-size: 18px;
            color: #06151b;
            line-height: 1.4;
            margin: 0;
          }

          p {
            font-weight: 400;
            font-size: 14px;
            color: #5d5e5e;
            line-height: 1.4;
            margin: 0;
          }

          h2 {
            font-weight: 700;
            font-size: 21px;
            color: #2e2e2e;
            line-height: 1.4;
            margin: 0;
          }
        }

        .text-amount-div {
          padding: 0 20px 0 0;

          h4 {
            font-weight: 700;
            font-size: 18px;
            color: #06151b;
            line-height: 1.4;
            margin: 0;
            text-align: right;
          }

          h2 {
            font-weight: 700;
            font-size: 21px;
            color: #2e2e2e;
            line-height: 1.4;
            margin: 0;
            text-align: right;
          }
        }

        .check-list-root {
          display: flex;
          justify-content: flex-end;
        }

        .text-amount-combained-div {
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;
          min-width: 250px;

          .right-check-text-div {
            padding: 0 0 4px 15px;
          }

          p {
            font-weight: 500;
            font-size: 16px;
            color: #2e2e2e;
            line-height: 1.4;
            margin: 0;
            text-align: right;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .container-fluid {
    max-width: 100%;
  }

  body.overflow-fixed {
    overflow: hidden;
  }

  // menu
  .mobile-hidden {
    display: none;
  }

  .user-module-main-section {
    padding: 70px 0 0 0;
  }

  .user-responsive-menu-view-div {
    display: block;

    .user-left-side-nav {
      display: block;
      width: 100%;
      height: 100%;
      min-height: auto;
      padding-top: 0;
      position: relative;

      .left-side-inner {
        height: auto;
      }
    }
  }
  // End of menu

  .user-right-side-main-div {
    padding: 0;
    min-height: calc(100vh - 70px);

    .user-module-right-inner-div {
      padding: 20px 0 5px 0;
    }
  }

  .form-icon-custom-root {
    .input-form-group {
      .form-control {
        font-size: 16px;
        padding: 13px 15px 8px 50px;
      }

      .icon-group {
        width: 50px;

        .bg-custom-icon {
          width: 24px;
          height: 24px;
        }
      }
    }

    .btn.btn-primary.btn-primary-big {
      font-size: 18px;
    }
  }

  .check-availability-main-section {
    .check-availability-div {
      padding: 40px 0 40px 0;
    }

    .check-availability-card {
      padding: 20px 15px;
      margin: 0 0 40px 0;

      .check-availability-card-top {
        h2 {
          font-size: 24px;
          line-height: 32px;
          color: #fff;
        }
      }
    }
  }

  .booking-main-section {
    .heading-title-div {
      padding: 15px 0 0 0;
      margin: 0 0 20px 0;

      h1 {
        font-size: 24px;
        line-height: 36px;
      }
    }

    .header-booking-wcard-div {
      margin: 0 0 20px 0;

      h4 {
        font-size: 16px;
      }
    }

    .btn-booking-div {
      .btn.btn-white-primary {
        font-size: 16px;
        line-height: 26px;
      }
    }

    .booking-listing-white-card-root {
      .booking-listing-wcard {
        margin: 0 0 35px 0;

        .booking-listing-wcard-row {
          .booking-listing-wcard-left {
            padding: 25px 15px;
            width: 100%;

            .status-div {
              .badge-status {
                padding: 7px 15px 3px 15px;
                font-size: 13px;
                line-height: 20px;
              }
            }
          }

          .booking-listing-wcard-right {
            width: 100%;
            border-left: 0 solid #d9d8d8;
            border-top: 1px solid #d9d8d8;

            .booking-date-div {
              .mb-auto-p {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }

  .bk-map-card-root {
    .bk-map-card-rt-middle {
      .bk-map-thumb-card {
        margin: 0 0 30px 0;

        .img-fluid {
          height: 300px;
          width: 100%;
        }
      }

      .bk-info-text-card {
        .bk-info-wcard-row {
          .bk-info-wcard-left {
            .text-div {
              h2 {
                font-size: 14px;
              }

              p {
                font-size: 12px;
              }
            }
          }

          .bk-info-wcard-right {
            h2 {
              font-size: 14px;
            }

            p {
              font-size: 12px;
            }
          }
        }
      }
    }
  }

  .bk-progress-card-root {
    .bk-progress-div {
      .width-20 {
        flex: 0 0 50%;
        max-width: 50%;
      }

      .bk-progress-card-bx {
        .bk-progress-txt-bx {
          p {
            font-size: 16px;
          }
        }
      }
    }
  }

  .bk-picture-card-root {
    .bk-picture-div {
      .bk-picture-card-bx {
        margin: 0 25px 25px 0;

        .bk-picture-thumb-bx {
          .img-picture {
            height: 85px;
            width: 85px;
          }
        }
      }
    }
  }

  // modal
  .modal-customize {
    .modal-dialog {
      max-width: 100%;
    }

    .modal-header {
      padding: 10px 15px;

      .close {
        font-size: 16px;
      }

      .modal-header-right {
        .text-span {
          font-size: 10px;
          margin: 0 10px 0 0;
          padding: 10px 0 5px 0;
        }

        .logo-span {
          .img-fluid {
            width: 90px;
          }
        }
      }
    }

    .modal-body {
      .title-div-header {
        padding: 0 15px;

        .title-div-header-div {
          padding: 15px 0 15px 0;

          .title-div-header-left-div {
            width: 40px;

            .link.back-link {
              font-size: 20px;
            }
          }

          .title-div-header-right-div {
            padding: 0 40px 0 0;
            width: calc(100% - 40px);

            h2 {
              font-size: 18px;
            }
          }
        }
      }

      .modal-main-inner-div {
        padding: 0 15px;

        .sign-in-div {
          .sign-in-row {
            .btn-div {
              margin: 0 0 25px 0;

              .btn.btn-primary.btn-primary-big {
                font-size: 16px;
                min-height: 50px;
                border-radius: 10px;
              }

              .btn.btn-primary.btn-facebook-login {
                font-size: 16px;
                min-height: 50px;
                border-radius: 10px;
              }
            }

            .or-div {
              .or-div-row {
                margin: 0 0 25px 0;

                p {
                  font-size: 16px;
                }
              }
            }
          }
        }
      }

      .desc-text-div {
        padding: 10px 0 0 0;

        p {
          font-size: 12px;
          line-height: 1.5;
        }
      }

      .form-group-rd-list {
        .custom-rd-control {
          .custom-control-label {
            padding: 2px 0 0 32px;
            font-size: 16px;
            line-height: 20px;
            cursor: pointer;
          }
        }
      }
    }
  }

  .form-custom-in-div {
    .form-group-custom {
      label {
        font-size: 16px;
        margin: 0 0 5px 0;
      }

      .form-control {
        font-size: 16px;
      }

      .form-info-txt-div {
        p {
          font-size: 12px;
          line-height: 18px;
          margin: 10px 0 0 0;
        }
      }
    }

    .btn-div {
      .btn.btn-primary.btn-primary-big {
        font-size: 16px;
        border-radius: 12px;
        min-height: 52px;
      }
    }
  }

  .confirm-booking-black-div {
    .confirm-booking-black-row {
      padding: 0 15px;
    }

    .confirm-bk-text-card-tp {
      .confirm-bk-text-card-tp-row {
        h2 {
          font-size: 22px;
        }

        p {
          font-size: 16px;
        }
      }
    }

    .confirm-bk-text-card-md {
      padding: 15px 0 45px 0;

      .confirm-bk-text-card-md-row {
        .confirm-bk-wcard-left {
          .text-div {
            h2 {
              font-size: 15px;
            }

            p {
              font-size: 12px;
            }
          }
        }

        .confirm-bk-wcard-right {
          h2 {
            font-size: 15px;
          }

          p {
            font-size: 12px;
          }
        }
      }
    }
  }

  .view-your-bk-div {
    .view-your-bk-thumb {
      padding: 50px 0 0 0;
      margin: 0 0 30px 0;

      .view-your-bk-thumb-center {
        .img-fluid {
          width: 120px;
        }
      }
    }

    .text-content-div {
      h4 {
        font-size: 16px;
        margin: 0 0 30px 0;

        .block {
          display: inline;
        }
      }

      p {
        font-size: 11px;
        line-height: 18px;
      }
    }
  }

  .add-oaf-div-custom {
    .add-oaf-div-custom-inner {
      .add-oaf-bx-root {
        .add-option-table {
          .text-div {
            h4 {
              font-size: 14px;
            }

            p {
              font-size: 10px;
            }

            h2 {
              font-size: 16px;
            }
          }

          .text-amount-div {
            h4 {
              font-size: 14px;
            }

            h2 {
              font-size: 16px;
            }
          }

          .text-amount-combained-div {
            min-width: 210px;

            .right-check-text-div {
              padding: 0 0 0 15px;
            }
          }
        }
      }
    }

    &.select-frequency-div-custom {
      .add-oaf-div-custom-inner {
        .add-oaf-bx-root {
          .add-option-table {
            .text-td {
              min-width: 130px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container-fluid {
    max-width: 100%;
  }

  body.overflow-fixed {
    overflow: hidden;
  }

  .user-module-main-section {
    padding: 70px 0 0 0;
  }

  // menu
  .mobile-hidden {
    display: none;
  }

  .user-module-main-section {
    padding: 70px 0 0 0;
  }

  .user-responsive-menu-view-div {
    display: block;

    .user-left-side-nav {
      display: block;
      width: 100%;
      height: 100%;
      min-height: auto;
      padding-top: 0;
      position: relative;

      .left-side-inner {
        height: auto;
      }
    }
  }
  // End of menu

  .user-right-side-main-div {
    padding: 0;
    min-height: calc(100vh - 70px);

    .user-module-right-inner-div {
      padding: 20px 0 5px 0;
    }
  }

  .check-availability-main-section {
    .check-card-center-height {
      justify-content: center;
      margin: 0 0 20px 0;
    }

    .availability-center-char-div {
      .img-character {
        max-width: 500px;
      }
    }

    .check-availability-div {
      padding: 40px 0 40px 0;
    }

    .check-availability-card {
      margin: 0 0 40px 0;
      padding: 25px;

      .check-availability-card-top {
        h2 {
          font-size: 24px;
          line-height: 32px;
          color: #fff;
        }
      }
    }
  }

  .bk-progress-card-root {
    .bk-progress-div {
      .width-20 {
        flex: 0 0 33.3%;
        max-width: 33.3%;
      }

      .bk-progress-card-bx {
        .bk-progress-txt-bx {
          p {
            font-size: 16px;
          }
        }
      }
    }
  }

  .bk-picture-card-root {
    .bk-picture-div {
      .bk-picture-card-bx {
        margin: 0 25px 25px 0;

        .bk-picture-thumb-bx {
          .img-picture {
            height: 95px;
            width: 95px;
          }
        }
      }
    }
  }

  // modal
  .modal-customize {
    .modal-dialog {
      max-width: calc(100% - 40px);
    }

    .modal-header {
      padding: 10px 25px;
    }

    .modal-body {
      .title-div-header {
        padding: 0 25px;
      }

      .modal-main-inner-div {
        padding: 0 25px;
      }
    }
  }

  .confirm-booking-black-div {
    .confirm-booking-black-row {
      padding: 0 25px;
    }
  }
}
